:host /deep/ #dataTable  > div{
    max-height: 66vh !important;
}
:host /deep/ #dataTable table{
    overflow-y: auto !important;
}

.radio-button-title{
    margin-bottom: 0.8em;
}

.mat-card-subtitle{
    padding-left: 0 !important;
}

#pauseTail{
    padding-top: 0.38em;
}

:host /deep/ .noMarginInput > .mat-input-wrapper{
    margin: 0 !important;
}

.allWidth{
    width: 100%;
}