<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <!--<textarea *ngIf="showGrid && !showPauseTail" rows="1" cols="1" class="js-copytextarea" style="margin-left:-1000px; float: left;"
  [(ngModel)]="urlCopied"></textarea>-->
  <div flex-gt-xs="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Search Configuration
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <form #logManagerForm="ngForm">
          <div layout="row">
            <md-input-container flex-gt-xs="25">
              <input mdInput type="string" class="form-control input-sm" id="urlElastic" [(ngModel)]="urlElastic" value="" (change)="updateUrlElastic($event)"
                placeholder="ElasticSearch Url" name="urlElastic" required>
            </md-input-container>
            <!--
            <md-select flex-gt-xs="10" flex-offset-gt-sm="5" ng-model="clusterSelected" (ngModelChange)="updateClusterSelected($event)"
              placeholder="Select a cluster name">
              <md-option ng-value="c.cluster.name" ng-repeat="c in indices">{{ c }}</md-option>
            </md-select>
            <button (click)="updateUrlElastic()"><md-icon>autorenew</md-icon></button>-->
            <!--<md-input-container flex-gt-xs="10">
              <input mdInput type="text" class="form-control input-sm" id="clusterName" [(ngModel)]="clusterName" value="" readonly name="clusterName">
            </md-input-container>-->

            <md-input-container flex-gt-xs="25" flex-offset-gt-sm="5">
              <input mdInput type="string" class="form-control input-sm" id="indexName" [(ngModel)]="indexName" value="" placeholder="Index"
                name="indexName" required>
            </md-input-container>

            <md-input-container flex-gt-xs="20" flex-offset-gt-sm="5">
              <input mdInput type="number" class="form-control input-sm" id="max_results" value="500" [(ngModel)]="maxResults" placeholder="Max log entries"
                name="max_results">
            </md-input-container>
          </div>

          <div layout="row" class="push-top">
            <md-radio-group flex-gt-xs="30">
              <md-card-subtitle>Range</md-card-subtitle>
              <div layout="row">
                <md-radio-button value="false" name="typeSearch" (click)="setUseTail(false)" checked="checked">
                  <div layout="row">
                    <div class="radio-button-title" flex-gt-xs="5">By Date</div>
                    <md-input-container flex-gt-xs="35" flex-offset-gt-xs="10">
                      <input #from mdInput type="datetime-local" class="form-control input-sm" id="from" placeholder="From" novalidate="true" [value]="getDefaultFromValue()"
                        step=1 required> <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>

                    <md-input-container flex-gt-xs="35" flex-offset-gt-xs="15">
                      <input #to mdInput type="datetime-local" class="form-control input-sm" id="to" placeholder="To" novalidate="true" [value]="getDefaultToValue()"
                        step=1 required>
                      <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                  </div>
                </md-radio-button>
              </div>

              <div layout="row">
                <md-radio-button value="true" (click)="setUseTail(true)" name="typeSearch">By Tail</md-radio-button>
              </div>
            </md-radio-group>

            <div flex-gt-xs="30">
              <md-card-subtitle>Fields</md-card-subtitle>
              <md-input-container>
                <input mdInput #messageCmp class="form-control input-sm" id="message" name="message" value="" [(ngModel)]="message" placeholder="Search on message">
              </md-input-container>
              <md-input-container flex-offset-gt-sm="5">
                <input mdInput #hostsCmp class="form-control input-sm" id="hosts" name="hosts" value="" [(ngModel)]="hosts" placeholder="Search on hosts">
              </md-input-container>
              <md-input-container flex-offset-gt-sm="5">
                <input mdInput class="form-control input-sm" id="componentType" name="componentType" value="" [(ngModel)]="componentType"
                  placeholder="Search on Component Type">
              </md-input-container>
            </div>

            <div flex-gt-xs="20">
              <md-card-subtitle>Log Level</md-card-subtitle>
              <md-checkbox #debug name="debugLevel" [(ngModel)]="debugLevel" (change)="debugLevel = debug.checked">DEBUG</md-checkbox>
              <md-checkbox #info name="infoLevel" [(ngModel)]="infoLevel" (change)="infoLevel = info.checked">INFO</md-checkbox>
              <md-checkbox #warn name="warnLevel" [(ngModel)]="warnLevel" (change)="warnLevel = warn.checked">WARN</md-checkbox>
              <md-checkbox #error name="errorLevel" [(ngModel)]="errorLevel" (change)="errorLevel = error.checked">ERROR</md-checkbox>
            </div>
            <div flex-gt-xs="20">
              <md-card-subtitle>Log type</md-card-subtitle>
              <md-checkbox #testlogs name="testlogsType" [(ngModel)]="testlogsType" (change)="testlogsType = testlogs.checked">Test</md-checkbox>
              <md-checkbox #sutlogs name="sutlogsType" [(ngModel)]="sutlogsType" (change)="sutlogsType = sutlogs.checked">SuT</md-checkbox>
            </div>
          </div>

          <div layout="row" class="push-top">
            <button md-raised-button color="accent" (click)="search(from.value, to.value, false)">Get Data
            </button>
            <button md-button *ngIf="showLoadMore" (click)="search(from.value, to.value, true, -1)">Load More
            </button>
            <button md-button *ngIf="showClearData" (click)="addMore(from.value, to.value, false)">Add more from row selected
            </button>
            <input *ngIf="showPauseTail" #tail type="checkbox" class="form-control input-sm" (change)="tailSearch(!tail.checked)">            <label *ngIf="showPauseTail">Pause Tail</label>
            <button md-button *ngIf="showClearData" (click)="clearData()">Clear Data
            </button>
            <button md-button *ngIf="showGrid && !showPauseTail" (click)="copyToClipboard()">
              Copy to Clipboard <br/> Share this search
            </button>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <!--<button md-button [disabled]="!tJobForm.valid" color="primary" (click)="runTJob()">EXECUTE</button>-->
      </md-card-actions>
    </md-card>
  </div>
</div>
<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-xs="20">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Filter Results
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <div *ngIf="!dataTable.hasData">
          There are not search results to filter
        </div>
        <div *ngIf="dataTable.hasData">
          <div class="push-top push-bottom" layout="row">
            <button md-raised-button (click)="addPattern()">Add pattern</button>
          </div>
          <div class="push-top push-bottom">
            <div *ngFor="let pattern of patterns; let i = index" layout="row" class="push-top push-bottom">
              <md-list-item flex-gt-xs="100">
                <div md-line>
                  <md-input-container>
                    <input mdInput id="pattern{{i}}" value="" [(ngModel)]="pattern.searchValue" placeholder="Search on message">
                  </md-input-container>
                  <label flex-offset-gt-xs="5">Found {{pattern.results.length}}</label>
                  <button md-icon-button [md-menu-trigger-for]="menu" style="float: right;">
                  <md-icon>more_vert</md-icon>
                </button>
                  <md-menu x-position="before" #menu="mdMenu">
                    <button md-button (click)="removePattern(i)" aria-label="close"><md-icon>delete</md-icon> Delete</button>
                  </md-menu>
                </div>
                <div md-line>
                  <input #pattern{{i}}Color type="color" name="favcolor" [(ngModel)]="pattern.color" value="{{pattern.color}}" id="pattern{{i}}Color">
                  <button md-raised-button (click)="prev(i)" flex-offset-gt-xs="10">Prev</button>
                  <button md-raised-button (click)="next(i)">Next</button>
                </div>
              </md-list-item>
            </div>
            <md-divider></md-divider>
          </div>
          <div class="push-top" *ngIf="(patterns.length > 0)" layout="row">
            <button md-raised-button color="accent" (click)="searchByPatterns()">Search</button>
            <button md-raised-button (click)="clearPatterns()">Clear</button>
            <button md-raised-button (click)="removeAllPatterns()">Remove all</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div flex-gt-xs="80">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Search Results
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <md-card-subtitle *ngIf="dataTable.hasData"><strong>[ Total log entries found {{rowData.length}} of {{maxResults}}]</strong></md-card-subtitle>
        <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="searchTable($event)"
          flex>
        </td-search-box>
        <md-divider></md-divider>
        <td-data-table id="dataTable" #dataTable [data]="filteredData" [selectable]="true" [clickable]="true" [columns]="columns" [sortable]="false"
          [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)" (rowClick)="onRowClicked($event)">
        </td-data-table>
        <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
          <h3>{{emptyTableText}}</h3>
        </div>
        <!--<td-paging-bar #pagingBar [pageSizeAll]="true" [pageSizes]="pageSizesList" [pageSize]="pageSizeDefault" [total]="filteredTotal"
          (change)="page($event)">
          <span td-paging-bar-label hide-xs>Row per page:</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>-->
      </md-card-content>
    </md-card>
  </div>
</div>