:host /deep/ #dataTable  > div{
    max-height: 66vh !important;
}
:host /deep/ #dataTable table{
    overflow-y: auto !important;
}

.radio-button-title{
    margin-bottom: 0.8em;
}

.mat-card-subtitle{
    padding-left: 0 !important;
}

#pauseTail{
    padding-top: 0.38em;
    margin-left: 1.4em;
}

.allWidth{
    width: 100%;
}

.patternColor input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
}
.patternColor input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.patternColor input[type="color"]::-webkit-color-swatch {
	border: none;
}

.hiddenElement{
    position: absolute;
    margin-left:-50000px
}