<ng-container *ngIf="model.filteredTraces.length > 0">
  Showing: Filtered
</ng-container>
<div fxLayout="row">
  <ul #scrollMe class="logsViewContent" (scroll)="onScroll($event)">
    <ng-container *ngIf="model.filteredTraces.length === 0">
      <li *ngFor="let trace of model.prevTraces" fxLayout="row">
        <pre *ngIf="model.showTimestamp && trace.timestamp" [class]="getTraceLevelClass(trace)">{{ trace.timestamp + ' ' }}</pre>
        <pre [class]="getTraceLevelClass(trace)" fxFlex>{{ trace.message }}</pre>
      </li>
      <!-- <mat-divider *ngIf="model.prevTraces.length > 0" class="push-bottom push-top"></mat-divider> -->
      <li *ngFor="let trace of model.traces" fxLayout="row">
        <pre
          *ngIf="model.showTimestamp && trace.timestamp"
          [class]="getTraceLevelClass(trace)"
          >{{ trace.timestamp | date: 'yyyy-MM-dd HH:mm:ss.SSS' + ' ' }}</pre
        >
        <pre [class]="getTraceLevelClass(trace)" fxFlex>{{ trace.message }}</pre>
      </li>
    </ng-container>
    <ng-container *ngIf="model.filteredTraces.length > 0">
      <li *ngFor="let trace of model.filteredTraces" fxLayout="row">
        <pre *ngIf="model.showTimestamp && trace.timestamp" [class]="getTraceLevelClass(trace)">{{ trace.timestamp + ' ' }}</pre>
        <pre [class]="getTraceLevelClass(trace)" fxFlex>{{ trace.message }}</pre>
      </li>
    </ng-container>
  </ul>
</div>
