.logsViewContent {
  width: 100%;
  height: 35vh;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0px;

  li {
    word-break: break-all;
  }
}

md-card-title {
  font-size: 21px;
}
/* sm */
@media (min-width: 961px) {
  md-card-title {
    font-size: 23px;
  }
}
