<div fxLayout.gt-sm="row">
  <div fxFlex.gt-sm="100">
    <mat-card id="finishedTJobExecDetailsCard">
      <mat-card-title>
        <div fxLayout="row">
          <span>
            <mat-icon
              *ngIf="tJobExec.finished()"
              style="vertical-align: sub;"
              [style.color]="statusIcon.color"
              matTooltip="{{ tJobExec.result }}"
              >{{ statusIcon.name }}</mat-icon
            >
          </span>
          <a *ngIf="tJob" (click)="viewTJob()" class="hover-pointer">
            <span *ngIf="tJobExec.isMultiConfig()">Multi-Configuration</span> <span>TJob</span>
            <span> "{{ tJob.name }}": </span>
          </a>
          <span *ngIf="tJobExec.isChild()">&nbsp;Configuration</span>

          <span>&nbsp;Execution {{ tJobExecId }}</span> <span fxFlex></span>
          <div>
            <button
              id="openExternalUrlBtn"
              mat-button
              *ngIf="tJobExec.getExternalUrl()"
              (click)="openExternalUrl()"
              stopRowClick
              matTooltip="Open External URL"
              class="onlyIconBtn iconBtn-lg"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button
              id="viewExecutionInLogAnalyzer"
              mat-button
              (click)="viewInLogAnalyzer()"
              class="onlyIconBtn iconBtn-lg"
              matTooltip="View in Log Analyzer"
            >
              <mat-icon>library_books</mat-icon>
            </button>
            <button
              id="openMonitoringConfigBtn"
              mat-button
              *ngIf="showLogsAndMetrics"
              (click)="logsAndMetrics.openMonitoringConfig()"
              class="onlyIconBtn iconBtn-lg"
              matTooltip="Open Monitoring Config"
            >
              <mat-icon>settings</mat-icon>
            </button>
            <button
              id="deleteTJobExecBtn"
              mat-button
              (click)="deleteTJobExec()"
              [disabled]="deletingInProgress || downloading"
              stopRowClick
              matTooltip="Delete TJob Execution"
              class="onlyIconBtn iconBtn-lg"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              id="downloadAsJsonBtn"
              mat-button
              (click)="downloadAsJson()"
              [disabled]="deletingInProgress || downloading"
              stopRowClick
              matTooltip="Download as Json"
              class="onlyIconBtn iconBtn-lg"
            >
              <mat-icon>cloud_download</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content>
        <div fxLayout="row" class="finishedTJobExecDetails">
          <span fxFlex="10" fxFlex.gt-xl="5">
            <mat-card-subtitle>Result</mat-card-subtitle>
            <h4 id="resultMsgText" [style.color]="statusIcon.color">{{ tJobExec.result }}</h4>
          </span>

          <span fxFlex="10" fxFlex.gt-lg="5" *ngIf="tJobExec.isChild() && tJobExec.execParent">
            <mat-card-subtitle>Multi-Configuration</mat-card-subtitle>
            <h4 matTooltip="Navigate to Multi Axis Configurations">
              <a (click)="viewParent()" class="hover-pointer"> {{ tJobExec.execParent.id }} </a>
            </h4>
          </span>

          <span fxFlex="10" *ngIf="tJobExec.duration">
            <mat-card-subtitle>Duration(sec)</mat-card-subtitle>
            <h4>{{ tJobExec.duration }}</h4>
          </span>

          <span fxFlex="20">
            <mat-card-subtitle>Start Date</mat-card-subtitle>
            <h4>{{ tJobExec.startDate | date: 'dd/MM/yyyy HH:mm:ss' }}</h4>
          </span>
          <span fxFlex="20">
            <mat-card-subtitle>End Date</mat-card-subtitle>
            <h4>{{ tJobExec.endDate | date: 'dd/MM/yyyy HH:mm:ss' }}</h4>
          </span>

          <ng-container>
            <span fxFlex="15">
              <mat-card-subtitle>Sut Execution</mat-card-subtitle>
              <h4
                *ngIf="tJobExec.sutExec !== undefined && tJobExec.sutExec !== null && tJobExec.sutExec.id !== 0; else NoneSutExec"
              >
                {{ tJobExec.sutExec.id }}
              </h4>
              <ng-template #NoneSutExec> <h4>None</h4> </ng-template>
            </span>
          </ng-container>
          <span fxFlex="15">
            <mat-card-subtitle>Log Index</mat-card-subtitle>
            <h4>{{ tJobExec.monitoringIndex }}</h4>
          </span>

          <span fxFlex="10">
            <mat-card-subtitle>Monitoring Storage</mat-card-subtitle>
            <h4
              *ngIf="
                tJobExec.monitoringStorageType !== undefined &&
                  tJobExec.monitoringStorageType !== null &&
                  tJobExec.monitoringStorageType !== '';
                else NoneMonitoringStorage
              "
            >
              {{ tJobExec.monitoringStorageType }}
            </h4>
            <ng-template #NoneMonitoringStorage> <h4>Unknown</h4> </ng-template>
          </span>
        </div>
        <div fxLayout="column" *ngIf="tJobExec.finished() && tJobExec.resultError()">
          <mat-divider></mat-divider>
          <div fxLayout="row" [style.color]="statusIcon.color" class="push-top-sm">{{ tJobExec.resultMsg }}</div>
        </div>

        <ng-container *ngIf="tJobExec.parameters && tJobExec.parameters.length > 0">
          <!-- Multi Config -->
          <td-expansion-panel
            label="Configuration"
            expand="false"
            class="push-top-sm"
            *ngIf="tJobExecMultiConfigs && tJobExecMultiConfigs.length > 0"
          >
            <td-data-table [data]="tJobExecMultiConfigs"> </td-data-table>
          </td-expansion-panel>

          <!-- Params -->
          <td-expansion-panel
            label="Parameters"
            expand="false"
            class="push-top-sm"
            *ngIf="tJobExecParameters && tJobExecParameters.length > 0"
          >
            <td-data-table [data]="tJobExecParameters"> </td-data-table>
          </td-expansion-panel>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Multi-Config Parent Execution -->
<ng-container *ngIf="tJobExec && tJobExec.isParent(); else showNormalExecutionView">
  <etm-child-tjob-execs-view id="childView" [model]="tJobExec"></etm-child-tjob-execs-view>
  <etm-parent-tjob-exec-report-view id="parentReportView" [model]="tJobExec"></etm-parent-tjob-exec-report-view>
  <!-- logs & Metrics -->
  <etm-monitoring-view #logsAndMetrics [live]="false" [showConfigBtn]="false"></etm-monitoring-view>
</ng-container>

<!-- Single Execution -->
<ng-template #showNormalExecutionView>
  <div #logsDiffContainer fxLayout="column">
    <elastest-log-comparator #logComparator [hide]="true" [live]="false" fxFlex></elastest-log-comparator>
  </div>

  <!-- Test Suite / Cases -->
  <div id="testSuitesView" fxLayout="column" *ngIf="tJobExec.hasTestSuites(); else showLogsAndFiles">
    <etm-test-suites-view fxFlex="100" [tJobExec]="tJobExec" [testSuites]="tJobExec.testSuites"></etm-test-suites-view>
    <!-- logs & Metrics -->
    <td-expansion-panel
      #globalInfoExpansionPanel
      (expanded)="expandGlobalInfoExpansionPanel()"
      label="Global Execution Data"
      expand="false"
      class="push-sm"
    >
      <ng-container *ngIf="globalInfoExpansionPanelOpened">
        <etm-monitoring-view #logsAndMetrics [live]="false" [showConfigBtn]="false"></etm-monitoring-view>
        <etm-files-manager *ngIf="tJob && tJobExec" [tJob]="tJob" [tJobExec]="tJobExec"></etm-files-manager>
      </ng-container>
    </td-expansion-panel>
  </div>

  <ng-template #showLogsAndFiles>
    <!-- logs & Metrics -->
    <etm-monitoring-view #logsAndMetrics [live]="false" [showConfigBtn]="false"></etm-monitoring-view>

    <!-- Execution files -->
    <etm-files-manager *ngIf="tJob && tJobExec" [tJob]="tJob" [tJobExec]="tJobExec"></etm-files-manager>
  </ng-template>
</ng-template>
