<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Project {{project.name}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <div layout="row">
          <span flex-gt-xs="25">
            <md-card-subtitle class="pad-left-none">Name</md-card-subtitle>
            <h4>{{project.name}}</h4>
          </span>
          <span flex-gt-xs="25">
            <md-card-subtitle>Options</md-card-subtitle>
            <div class="optionsColumn" layout="column" layout-gt-xs="row">
              <button md-button (click)="editProject()" class="iconBtn-lg" title="Edit Project">
                <md-icon>mode_edit</md-icon>
              </button>
              <button md-button (click)="deleteProject()" class="iconBtn-lg" title="Delete Project">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </span>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>

<div layout="column" layout-gt-xl="row" tdMediaToggle="gt-xs" *ngIf="project">
  <div flex-gt-lg="50" layout-gt-sm="column">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>TJobs</md-card-title>
      <md-divider></md-divider>
      <md-card-content #scrollMeTest>
        <div class="push-top push-bottom" layout="row">
          <button md-raised-button color="accent" (click)="newTJob()">New TJob</button>
        </div>
        <md-divider></md-divider>
        <td-data-table #tjobsTable class="scroll_table" [data]="project.tjobs" [columns]="tjobColumns" [selectable]="false" [clickable]="true"
          [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of tjobColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
            <div *ngIf="column.name !== 'options'" (click)="viewTJob(row)" class="hover-pointer">
              <span *ngIf="column.name !== 'sut'; else tjobSutValue"> {{value}}</span>
              <ng-template #tjobSutValue>
                <span *ngIf="row.hasSut()">{{row.sut.id}}</span>
                <span *ngIf="!row.hasSut()">None</span>
              </ng-template>
            </div>
          </ng-template>

          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="optionsColumn">
              <button md-button (click)="runTJob(row, project)" class="iconBtn-lg" title="Run TJob">
                <md-icon>play_circle_outline</md-icon>
              </button>
              <button md-button (click)="editTJob(row)" class="iconBtn-lg" title="Edit TJob">
                <md-icon>mode_edit</md-icon>
              </button>
              <button md-button (click)="deleteTJob(row)" class="iconBtn-lg" title="Delete TJob">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>

  <div flex-gt-lg="50" layout-gt-sm="column">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>SuTs</md-card-title>
      <md-divider></md-divider>
      <md-card-content #scrollMeSut>
        <div class="push-top push-bottom" layout="row">
          <button md-raised-button color="accent" (click)="newSut()">New SuT</button>
        </div>
        <md-divider></md-divider>
        <td-data-table #sutsTable id="sutsTable" class="scroll_table" [data]="project.suts" [columns]="sutColumns" [selectable]="false"
          [clickable]="false" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="sutOptions optionsColumn">
              <button md-button (click)="editSut(row)" class="iconBtn-lg" title="Edit SuT">
                <md-icon>mode_edit</md-icon>
              </button>
              <button md-button (click)="deleteSut(row)" class="iconBtn-lg" title="Delete SuT">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>
</div>