<auto-height-grid fxLayout="column">
  <normal-height-row>
    <div fxFlex.gt-sm="100">
      <mat-card tdMediaToggle="gt-xs">
        <mat-card-title>
          <div fxLayout="row">
            <span>Project {{ project.name }}</span> <span fxFlex></span>
            <div>
              <button mat-button (click)="editProject()" class="iconBtn-lg" title="Edit Project">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button
                mat-button
                (click)="deleteProject()"
                [disabled]="deletingInProgress"
                class="iconBtn-lg"
                title="Delete Project"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-title>
      </mat-card>
    </div>
  </normal-height-row>

  <auto-height-row *ngIf="project" fxLayout="column" fxLayout.gt-xl="row" tdMediaToggle="gt-xs">
    <auto-height-grid fxFlex.gt-lg="1 0 50" fxLayout="column">
      <etm-tjobs-manager *ngIf="projectId" [projectId]="projectId" fxLayout="column" fxFlexFill></etm-tjobs-manager>
    </auto-height-grid>
    <auto-height-grid fxFlex.gt-lg="1 0 50" fxLayout="column">
      <etm-suts-manager *ngIf="projectId" [projectId]="projectId" fxLayout="column" fxFlexFill></etm-suts-manager>
    </auto-height-grid>
  </auto-height-row>
</auto-height-grid>
