:host /deep/ .mat-card mat-card-content {
  padding-top: 0px !important;
}

#testProjectBottomInfo {
  text-align: center;
}

:host /deep/ #dataTable > div,
:host /deep/ .scroll_table div {
  max-height: 45vh !important;
}
