<auto-height-grid fxLayout="column">
  <normal-height-row>
    <mat-card>
      <mat-card-title> Test Project {{ testProject.name }} </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content id="contentProject">
        <div fxLayout="row">
          <div fxFlex="47">
            <mat-list class="listInfoToLeft">
              <mat-list-item>
                <h4>Name</h4>
                <p>{{ testProject.name }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Prefix</h4>
                <p>{{ testProject.prefix }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Enable Requirements</h4>
                <p>{{ testProject.enableRequirements }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Enable Test Priority</h4>
                <p>{{ testProject.enableTestPriority }}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="5"></div>
          <div fxFlex="47">
            <mat-list class="listInfoToLeft">
              <mat-list-item>
                <h4>Enable Automation</h4>
                <p>{{ testProject.enableAutomation }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Enable Inventory</h4>
                <p>{{ testProject.enableInventory }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Active</h4>
                <p>{{ testProject.active }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Public</h4>
                <p>{{ testProject.public }}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <!-- <span fxFlex.gt-xs="25">
              <mat-card-subtitle>Options</mat-card-subtitle>
              <div class="optionsColumn" fxLayout="column" fxLayout.gt-xs="row">
                <button mat-button [routerLink]="['/testlink/projects/edit', testProject.id]" class="iconBtn-lg" title="Edit Test Project">
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-button (click)="deleteProject()" [disabled]="deletingInProgress" class="iconBtn-lg" title="Delete Test Project">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </span> -->
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" class="push-top-sm" id="testProjectBottomInfo">
          <span fxFlex.gt-xs="100">
            <h4 class="pad-left-none">Notes</h4>
            <div id="notes" [innerHTML]="testProject.notes"></div>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </normal-height-row>

  <!-- Test Suites/Plans -->
  <normal-height-row *ngIf="testProject">
    <div fxLayout="row" fxLayout.lt-xl="column">
      <div fxFlex.gt-lg="50" fxLayout.gt-sm="column">
        <self-adjustable-card>
          <sa-card-title>
            <div fxLayout="row">
              <span>Test Suites</span> <span fxFlex></span>
              <!-- <button mat-raised-button color="accent" [routerLink]="['/testlink/projects',testProject.id, 'suites','new']">New Test Suite</button> -->
            </div>
          </sa-card-title>
          <sa-card-content #scrollMeTest>
            <mat-spinner strokeWidth="6" *ngIf="showSpinnerSuites" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
            <centered-element *ngIf="!showSpinnerSuites && testSuites.length === 0" class="push-top-important messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>No Test Suites created</p>
            </centered-element>
            <td-data-table
              #suiteTable
              id="tlTestSuites"
              *ngIf="testSuites.length > 0"
              class="scroll_table"
              [data]="testSuites"
              [columns]="suiteColumns"
              [selectable]="false"
              [clickable]="true"
              [sortable]="false"
              [sortBy]="sortBy"
              [sortOrder]="sortOrder"
            >
              <ng-template
                *ngFor="let column of suiteColumns"
                tdDataTableTemplate="{{ column.name }}"
                let-value="value"
                let-row="row"
              >
                <div
                  *ngIf="column.name !== 'options'"
                  [routerLink]="['/testlink/projects', testProject.id, 'suites', row.id]"
                  class="hover-pointer"
                >
                  {{ value }}
                </div>
              </ng-template>
            </td-data-table>
          </sa-card-content>
        </self-adjustable-card>
      </div>

      <div fxFlex.gt-lg="50" fxLayout.gt-sm="column">
        <self-adjustable-card>
          <sa-card-title>
            <div fxLayout="row">
              <span>Test Plans</span> <span fxFlex></span>
              <!-- <button mat-raised-button color="accent" [routerLink]="['/testlink/projects',testProject.id, 'plans','new']">New Test Plan</button> -->
            </div>
          </sa-card-title>
          <sa-card-content #scrollMeTest>
            <mat-spinner strokeWidth="6" *ngIf="showSpinnerPlans" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
            <centered-element *ngIf="!showSpinnerPlans && testPlans.length === 0" class="push-top-important messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>No Test Plans created</p>
            </centered-element>
            <td-data-table
              #planTable
              id="tlTestPlans"
              *ngIf="testPlans.length > 0"
              class="scroll_table"
              [data]="testPlans"
              [columns]="planColumns"
              [selectable]="false"
              [clickable]="true"
              [sortable]="false"
              [sortBy]="sortBy"
              [sortOrder]="sortOrder"
            >
              <ng-template
                *ngFor="let column of planColumns"
                tdDataTableTemplate="{{ column.name }}"
                let-value="value"
                let-row="row"
              >
                <div
                  *ngIf="column.name !== 'options'"
                  [routerLink]="['/testlink/projects', testProject.id, 'plans', row.id]"
                  class="hover-pointer"
                >
                  <div *ngIf="column.name === 'notes'" [innerHTML]="value"></div>
                  <div *ngIf="column.name !== 'notes'">{{ value }}</div>
                </div>
              </ng-template>
              <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
                <div fxLayout="row" class="optionsColumn">
                  <button mat-button (click)="runTestPlan(row)" class="iconBtn" matTooltip="Run Test Plan">
                    <mat-icon>play_circle_outline</mat-icon>
                  </button>
                  <button *ngIf="exProject" mat-button (click)="editTestPlan(row)" class="iconBtn" matTooltip="Edit Test Plan">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                </div>
              </ng-template>
            </td-data-table>
          </sa-card-content>
        </self-adjustable-card>
      </div>
    </div>
  </normal-height-row>

  <!-- Suts -->
  <auto-height-row>
    <!-- Suts Grid -->
    <auto-height-grid *ngIf="exProject">
      <auto-height-row> <etm-suts-manager [exProjectId]="exProject.id"></etm-suts-manager> </auto-height-row>
    </auto-height-grid>
  </auto-height-row>
</auto-height-grid>
