:host ::ng-deep .mat-card mat-card-content {
  padding-top: 0px !important;
}

#testProjectBottomInfo {
  text-align: center;
}

:host ::ng-deep #dataTable > div,
:host ::ng-deep .scroll_table div {
  max-height: 45vh !important;
}
