<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        <span *ngIf="testSuite && testSuite.id == 0">New Test Suite</span>
        <span *ngIf="testSuite && testSuite.id > 0">Edit Test Suite "{{testSuite.name}}"</span>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <form #suiteForm="ngForm">

          <div layout-gt-md="row" layout-md="row" layout="column" class="push-top push-bottom">
            <md-input-container flex-gt-md="20" flex-md="20">
              <input mdInput #suiteNameInput #nameControl="ngModel" type="text" placeholder="Test Suite Name" [(ngModel)]="testSuite.name"
                name="testSuite.name" maxlength="50" required>
            </md-input-container>

            <md-input-container flex-gt-md="5" flex-md="5" flex-md="5" flex-offset-md="5" flex-offset-gt-md="5">
              <input mdInput #suiteNameInput #nameControl="ngModel" type="text" placeholder="Parent ID" [(ngModel)]="testSuite.parentId"
                name="testSuite.parentId" maxlength="50">
            </md-input-container>

            <md-input-container flex-gt-md="5" flex-md="5" flex-md="5" flex-offset-md="5" flex-offset-gt-md="5">
              <input mdInput #suiteNameInput #nameControl="ngModel" type="text" placeholder="Order" [(ngModel)]="testSuite.order" name="testSuite.order"
                maxlength="50">
            </md-input-container>

            <md-checkbox [(ngModel)]="testSuite.checkDuplicatedName" name="checkDuplicatedName" flex-gt-md="5" flex-md="5" flex-offset-md="5"
              flex-offset-gt-md="5">Check Duplicated Name</md-checkbox>

            <md-input-container flex-gt-md="10" flex-md="10" flex-offset-md="5" flex-offset-gt-md="5">
              <input mdInput #suiteNameInput #nameControl="ngModel" type="text" placeholder="Action On Duplicated Name" [(ngModel)]="testSuite.actionOnDuplicatedName"
                name="testSuite.actionOnDuplicatedName" maxlength="50">
            </md-input-container>
          </div>

          <div layout="column" class="push-top">
            <md-input-container>
              <textarea id="details" autosize mdInput #nameControl="ngModel" placeholder="Details" [(ngModel)]="testSuite.details" name="details"></textarea>
            </md-input-container>
          </div>

        </form>
      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!suiteForm.valid" color="primary" (click)="save()">SAVE</button>
        <button md-button (click)="goBack()">CANCEL</button>
      </md-card-actions>
    </md-card>
  </div>
</div>