<!-- Metrics -->
<div *ngIf="allInOneMetrics !== undefined" fxLayout.gt-sm="row" tdMediaToggle="gt-xs">
  <div fxFlex.gt-sm="100">
    <metrics-chart-card
      #allInOne
      [model]="allInOneMetrics"
      [showConfig]="true"
      [fieldsList]="allInOneMetrics.allMetricsFields.fieldsList"
      [remove]="removeAndUnsubscribeAIO.bind(this)"
    ></metrics-chart-card>
  </div>
</div>
<ng-container *ngIf="metricsList.length > 0 && groupedMetricsList.length > 0">
  <div
    *ngFor="let group of groupedMetricsList"
    fxLayout.xs="column"
    fxLayout.gt-xs="column"
    fxLayout.gt-md="row"
    tdMediaToggle="gt-xs"
  >
    <div
      *ngFor="let metric of group; let i = index; let f = first; let l = last"
      fxShrink="1"
      fxGrow="1"
      [fxFlex.gt-md]="f && l ? 100 : group.length === 2 ? 50 : 33"
    >
      <metrics-chart-card
        #individual{{i}}
        [model]="metric"
        [showConfig]="false"
        [customButtons]="customButtons"
        [remove]="removeAndUnsubscribe.bind(this, i)"
      ></metrics-chart-card>
    </div>
  </div>
</ng-container>
