<auto-height-grid fxLayout="column">
    <normal-height-row>
        <mat-card>
            <mat-card-title>Support Services</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form #ServiceForm="ngForm">
                    <div fxLayout.gt-md="row" fxLayout.md="row" fxLayout="column" class="push-top push-bottom">
                        <mat-select [(ngModel)]="selectedService" placeholder="Select a Service" required name="service"
                            class="push-right">
                            <mat-option *ngFor="let service of supportServices" [value]="service.id">
                                {{service.name}}
                            </mat-option>
                        </mat-select>
                        <button mat-raised-button color="accent" (click)="provisionServiceInstance()" id="create_instance">Create
                            Instance</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </normal-height-row>

    <auto-height-row>
        <self-adjustable-card>
            <sa-card-title>Created Instances</sa-card-title>
            <sa-card-content>
                <centered-element *ngIf="showSpinner">
                    <mat-spinner strokeWidth="6" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
                </centered-element>
                <centered-element *ngIf="!showSpinner && instancesData.length === 0" class="messageEmptyCard">
                    <mat-icon>assignment</mat-icon>
                    <p>No Instances created</p>
                </centered-element>
                <td-data-table #servicesTable *ngIf="instancesData && instancesData.length > 0" class="useMaxHeight"
                    [data]="instancesData" [columns]="serviceColumns" [selectable]="false" [clickable]="true"
                    [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)">
                    <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
                        <div fxLayout="row" class="optionsColumn">
                            <button mat-button *ngIf="row.serviceReady && (deleting && deleting[row.serviceName] === undefined)"
                                (click)="goToServiceDetail(row)" class="iconBtn-lg" title="View Service Detail" id="viewService-{{row.id}}" name="view_service">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                            <button mat-button *ngIf="row.serviceReady && (deleting && deleting[row.serviceName] === undefined)"
                                (click)="deprovisionService(row)" class="iconBtn-lg" title="Deprovision Service" id="deleteService-{{row.id}}" name="delete_service">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <ng-container *ngIf="!row.serviceReady || deleting && deleting[row.serviceName]">
                            <mat-spinner id="serviceSpinner-{{row.id}}" strokeWidth="3" diameter="20" color="accent" style="vertical-align: middle; display: inline-block"></mat-spinner>
                        </ng-container>
                    </ng-template>
                </td-data-table>

            </sa-card-content>  
        </self-adjustable-card>
    </auto-height-row>

</auto-height-grid>