<div class="md-content" class="inset">
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="100">
            <md-card>
                <md-card-title>Support Services</md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <form #ServiceForm="ngForm">
                        <div layout-gt-md="row" layout-md="row" layout="column" class="push-top push-bottom">
                            <md-select [(ngModel)]="selectedService" placeholder="Select a Service" required name="service" class="push-right">
                                <md-option *ngFor="let service of supportServices" [value]="service.id">
                                    {{service.name}}
                                </md-option>
                            </md-select>
                            <button md-raised-button color="accent" (click)="provisionServiceInstance()">Create Instance</button>
                        </div>
                    </form>
                    <md-divider></md-divider>
                    <td-data-table #servicesTable class="scroll_table" [data]="instancesData" [columns]="serviceColumns" [selectable]="false"
                        [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)">
                        <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
                            <div layout="row">                                
                                <button md-button (click)="goToServiceDetail(row)" class="iconBtn-lg" title="View Service Detail"><md-icon>remove_red_eye</md-icon></button>
                                <button md-button (click)="deprovisionService(row)" class="iconBtn-lg" title="Deprovision Service"><md-icon>delete</md-icon></button>
                            </div>
                        </ng-template>
                    </td-data-table>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>