#testCaseDiv p {
  font-size: 14px;
}
#testCaseName {
  text-align: center;
  font-size: 16px;
}

#testCaseInfoContainer {
  overflow-y: auto;
}

#testCaseInfo {
  text-align: center;
  overflow-y: auto;
}
#executionStatus {
  margin: auto;
}
#executionTableTitle {
  text-align: center;
}

::ng-deep .scroll_table > div {
  max-height: 32vh !important;
}

:host ::ng-deep .scroll_table > div {
  max-height: 46vh !important;
  min-height: 4vh !important;
}
