<auto-height-grid fxLayout="column">
  <normal-height-row>
    <div id="testCaseName">
      <p class="mat-headline push-top-none push-bottom-xs">
        Test Case Name:
        <strong>{{ testCase.name }}</strong>
      </p>
    </div>
  </normal-height-row>
  <auto-height-row fxLayout="column">
    <div fxLayout="column" fxFlex id="testCaseDiv" class="pad-bottom-sm">
      <div id="testCaseInfoContainer" fxLayout="column">
        <!-- TEST CASE INFO -->
        <div>
          <div fxLayout="column">
            <div fxLayout="row" class="push-bottom">
              <div fxFlex="33" fxLayoutAlign="center center">
                <mat-list>
                  <mat-list-item>
                    <p>
                      Test Case Id:
                      <strong>{{ testCase.id }}</strong>
                    </p>
                  </mat-list-item>
                </mat-list>
              </div>
              <div fxFlex="33" fxLayoutAlign="center center">
                <mat-list>
                  <mat-list-item>
                    <p>
                      Test Case Version:
                      <strong>{{ testCase.version }}</strong>
                    </p>
                  </mat-list-item>
                </mat-list>
              </div>
              <div fxFlex="33" fxLayoutAlign="center center">
                <mat-list>
                  <mat-list-item>
                    <p>
                      Last Execution:
                      <strong [style.color]="resultObj.color"> {{ testCase.executionStatus }}</strong>
                    </p>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div>
              <mat-divider [inset]="true"></mat-divider>
            </div>

            <div fxLayout="row" class="push-top push-bottom">
              <div fxFlex="49" id="testCaseInfo">
                <span class="mat-subheading-1">
                  <strong>Summary</strong>
                </span>
                <p id="summary" [innerHTML]="testCase.summary"></p>
              </div>
              <div>
                <mat-divider [vertical]="true" class="push-left-md push-right-md" style="height: 100%"></mat-divider>
              </div>
              <div fxFlex="49" id="testCaseInfo">
                <span class="mat-subheading-1">
                  <strong>Preconditions</strong>
                </span>
                <p id="preconditions" [innerHTML]="testCase.preconditions"></p>
              </div>
            </div>
            <div>
              <mat-divider [inset]="true"></mat-divider>
            </div>
          </div>
        </div>

        <!-- STEPS -->
        <div class="push-top-sm">
          <div fxLayout="column">
            <div class="pad-left-none mat-title push-bottom-xs" id="executionTableTitle">
              <strong>
                Test Case Steps
              </strong>
            </div>
            <mat-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
            <centered-element *ngIf="!showSpinner && testCase.steps.length === 0" class=" messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>Steps not created</p>
            </centered-element>
            <td-data-table
              #stepsTable
              *ngIf="testCase.steps && testCase.steps.length > 0"
              class="scroll_table"
              [data]="testCase.steps"
              [columns]="testCaseStepsColumns"
              [selectable]="false"
              [clickable]="true"
              [sortable]="false"
              [sortBy]="sortBy"
              [sortOrder]="sortOrder"
            >
              <ng-template
                *ngFor="let column of testCaseStepsColumns"
                tdDataTableTemplate="{{ column.name }}"
                let-value="value"
                let-row="row"
              >
                <div
                  *ngIf="column.name === 'actions' || column.name === 'expectedResults'; else onlyValue"
                  [innerHTML]="value"
                ></div>
                <ng-template #onlyValue>{{ value }}</ng-template>
              </ng-template>
            </td-data-table>
          </div>
        </div>
      </div>

      <div class="push-top-sm">
        <mat-divider></mat-divider>
      </div>

      <!-- Form -->
      <form #caseForm="ngForm" class="push-top">
        <div fxLayout="column" fxLayoutMargin>
          <div fxLayout="row">
            <mat-radio-group
              [(ngModel)]="tcExec.status"
              placeholder="Select a status"
              name="status"
              id="executionStatus"
              #nameControl="ngModel"
              required
            >
              <mat-radio-button
                *ngFor="let status of testCase.getExecStatusValuesToExec()"
                [id]="'status-' + status"
                [value]="status"
                class="push-right-sm"
                >{{ status }}</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <div fxLayout="column">
            <mat-form-field fxFlex="50">
              <textarea
                #notes
                id="notes"
                autosize
                matInput
                placeholder="Notes"
                [(ngModel)]="tcExec.notes"
                name="notes"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </auto-height-row>
</auto-height-grid>
