<div id="testCaseName">
  <p class="md-headline push-top-none push-bottom-sm">
    Test Case Name:
    <strong>{{testCase.name}}</strong>
  </p>
</div>
<div layout="column" id="testCaseDiv" class="pad-bottom-sm">
  <div layout="row">
    <div flex="50">
      <md-list>
        <md-list-item>
          <p>
            Test Case Version:
            <strong>{{testCase.version}}</strong>
          </p>
        </md-list-item>
      </md-list>
    </div>
    <div flex="50">
      <md-list>
        <md-list-item>
          <p>Last Execution:
            <strong [style.color]="resultObj.color"> {{testCase.executionStatus}}</strong>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout="row" class="push-top">
    <div flex="50" id="testCaseInfo">
      <span class="md-subhead">
        <strong>Summary</strong>
      </span>
      <p id="summary" [innerHTML]="testCase.summary"></p>
    </div>
    <div flex="50" id="testCaseInfo">
      <span class="md-subhead">
        <strong>Preconditions</strong>
      </span>
      <p id="preconditions" [innerHTML]="testCase.preconditions"></p>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout="column" class="push-top">
    <div flex class="pad-left-none md-title push-bottom-sm" id="executionTableTitle">
      <strong>
        Test Case Steps
      </strong>
    </div>
    <md-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></md-spinner>
    <div *ngIf="!showSpinner && testCase.steps.length === 0" class=" messageEmptyCard">
      <md-icon>assignment</md-icon>
      <p>Steps not created </p>
    </div>
    <td-data-table flex #stepsTable *ngIf="testCase.steps && testCase.steps.length > 0" class="scroll_table" [data]="testCase.steps"
      [columns]="testCaseStepsColumns" [selectable]="false" [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
      <ng-template *ngFor="let column of testCaseStepsColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
        <div *ngIf="column.name === 'actions' || column.name === 'expectedResults'; else onlyValue" [innerHTML]="value"></div>
        <ng-template #onlyValue>{{value}}</ng-template>
      </ng-template>
    </td-data-table>
  </div>

  <form #caseForm="ngForm" class="push-top-sm">
    <div layout="column" layout-margin>
      <div layout="row">
        <md-radio-group [(ngModel)]="tcExec.status" placeholder="Select a status" name="status" id="executionStatus" #nameControl="ngModel"
          required>
          <md-radio-button *ngFor="let status of testCase.getExecStatusValuesToExec()" [value]="status" class="push-right-sm">{{status}}</md-radio-button>
        </md-radio-group>
      </div>

      <div layout="column">
        <md-input-container flex="50">
          <textarea #notes id="notes" autosize mdInput placeholder="Notes" [(ngModel)]="tcExec.notes" name="notes"></textarea>
        </md-input-container>
      </div>
    </div>
  </form>

  <!-- <button md-raised-button color="accent" [disabled]="!caseForm.valid" (click)="saveExecution()">Save execution</button> -->

</div>