<td-layout-nav navigationRoute="/" logo="assets:elastestlogo" id="main_nav">
  <button mat-icon-button td-menu-button (click)="openMainSidenav()" id="main_menu" matTooltip="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content fxLayout="row" fxLayoutMargin fxLayoutAlign="center center" fxFlex>
    <breadcrumb fxFlex="75" fxFlex.gt-sm="77" fxFlex.gt-md="84"></breadcrumb> <span fxFlex></span>
    <div fxFlex fxLayoutAlign="end center">
      <a mat-icon-button matTooltip="Docs" href="http://elastest.io/docs/" target="_blank">
        <mat-icon>chrome_reader_mode</mat-icon>
      </a>
      <a mat-icon-button matTooltip="Github" href="https://github.com/elastest/elastest/issues" target="_blank">
        <mat-icon svgIcon="assets:github"></mat-icon>
      </a>
      <button mat-icon-button matTooltip="Fullscreen" (click)="toggleFullscreen()">
        <mat-icon mat-list-icon>fullscreen</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Help"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/help']"
        id="help"
      >
        <mat-icon mat-list-icon>help_outline</mat-icon>
      </button>
    </div>
  </div>
  <td-layout-manage-list
    id="menusideLeft"
    #manageList
    [opened]="isMediaSizeByGiven('gt-sm') | async"
    [mode]="(isMediaSizeByGiven('gt-sm') | async) ? 'side' : 'push'"
    [containerAutosize]="true"
    [sidenavWidth]="
      (isMediaSizeByGiven('gt-lg') | async)
        ? onlyIconsWidth
        : (isMediaSizeByGiven('gt-sm') | async)
        ? onlyIconsWidth
        : (isMediaSizeByGiven('gt-xs') | async)
        ? gtXsWidth
        : otherWidth
    "
  >
    <!-- <mat-toolbar td-sidenav-content>
      <span>ETM</span>
    </mat-toolbar> -->
    <mat-nav-list td-sidenav-content>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']"
        id="dashboard"
        matTooltip="Dashboard"
      >
        <mat-icon mat-list-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/projects']"
        id="nav_projects"
        matTooltip="Projects"
      >
        <mat-icon mat-list-icon>folder_multiple</mat-icon>
        Projects
      </a>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/eus']"
        id="nav_integrated_eus"
        matTooltip="Web Browsers"
      >
        <mat-icon mat-list-icon>open_in_browser</mat-icon>
        Web Browsers
      </a>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/test-engines']"
        id="nav_test_engines"
        matTooltip="Test Engines"
      >
        <mat-icon mat-list-icon>battery_charging_full</mat-icon>
        Test Engines
      </a>
      <!-- Hidden -->
      <a
        *ngIf="configService.configModel.elasTestExecMode === 'NONE'"
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/support-services']"
        id="nav_support_services"
        matTooltip="Test Support Services"
      >
        <mat-icon mat-list-icon>settings_input_component</mat-icon>
        Test Support Services
      </a>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/loganalyzer']"
        id="nav_log_manager"
        matTooltip="Log Analyzer"
      >
        <mat-icon mat-list-icon>library_books</mat-icon>
        Log Analyzer
      </a>

      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/testlink']"
        id="nav_testlink"
        matTooltip="TestLink"
      >
        <mat-icon mat-list-icon svgIcon="icon-testlink"></mat-icon>
        TestLink
      </a>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/jenkins']"
        id="nav_jenkins"
        matTooltip="Jenkins"
      >
        <fa-icon mat-list-icon class="mat-icon" [icon]="['fab', 'jenkins']"></fa-icon>
        Jenkins
      </a>
      <a
        *ngIf="configService.configModel.elasTestExecMode === 'singlenode'"
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/edm']"
        id="nav_edm"
        matTooltip="Data Manager (EDM)"
      >
        <mat-icon mat-list-icon>storage</mat-icon>
        Data Manager (EDM)
      </a>
      <a
        *ngIf="configService.configModel.elasTestExecMode === 'singlenode'"
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/emp']"
        id="nav_emp"
        matTooltip="Monitoring Platform (EMP)"
      >
        <mat-icon mat-list-icon>insert_chart</mat-icon>
        Monitoring Platform (EMP)
      </a>
      <a
        mat-list-item
        mat-ripple
        class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/manage']"
        id="nav_manage_elastest"
        matTooltip="Manage ElasTest"
      >
        <fa-icon mat-list-icon class="mat-icon" [icon]="['fas', 'toolbox']"></fa-icon>
        Manage Elastest
      </a>
      <!-- <a mat-list-item (click)="!media.query('gt-sm') && manageList.close()" mat-ripple class="block relative" mat-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/vnc']">
        <mat-icon mat-list-icon>screen_share</mat-icon>
        Vnc Test
      </a> -->
    </mat-nav-list>
    <td-message
      id="viewOnlyMsg"
      *ngIf="configService && configService.isEtmViewOnlyActivated()"
      label="Info: This instance of ElasTest is started with 'View Only' mode, so you cannot create, modify or delete data. It is also not possible to start Test Engines or Browsers."
      icon="info"
    ></td-message>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
  <!-- <td-layout-footer>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="mat-caption">Copyright &copy; 2017 ElasTest. All rights reserved</span>
      <span fxFlex></span>
      <mat-icon class="mat-icon-ux" svgIcon="assets:elastestlogo"></mat-icon>
    </div>
  </td-layout-footer> -->
</td-layout-nav>
