:host ::ng-deep mat-toolbar .mat-icon-button {
  width: 34px !important;
}

:host ::ng-deep .mat-toolbar-single-row {
  height: 56px;
  padding: 0 4px !important;
}

:host ::ng-deep #menusideLeft > .td-layout-manage-list .list {
  overflow-x: hidden !important;
}

:host ::ng-deep span.td-layout-nav-toolbar-content,
:host ::ng-deep span.td-layout-nav-toolbar-content > mat-icon.mat-icon-logo {
  height: 100%;
  margin-left: 4px;
}

:host ::ng-deep mat-sidenav .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 10px !important;
}

:host ::ng-deep mat-sidenav .mat-list-item-content fa-icon,
:host ::ng-deep mat-sidenav .mat-list-item-content mat-icon {
  margin-right: 6px !important;
}

:host ::ng-deep mat-sidenav .mat-list-item-content mat-icon > svg {
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  text-align: start;
  visibility: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 1em;
  width: 1em;
  margin-left: -2px;
  font-size: inherit;
}

:host ::ng-deep mat-sidenav .mat-list-item-content fa-icon {
  color: #737373;
}

:host ::ng-deep mat-nav-list [mat-list-item].active fa-icon[mat-list-icon] {
  color: #ffac2f !important;
}

:host ::ng-deep mat-nav-list [mat-list-item].active mat-icon[mat-list-icon] {
  fill: #ffac2f !important;
}

:host ::ng-deep #nav_jenkins fa-icon {
  color: #252525;
}

:host ::ng-deep .td-layout-manage-list-sidenav {
  max-width: 100%;
  overflow-x: hidden !important;
}

:host ::ng-deep #viewOnlyMsg {
  margin: 0px 6px !important;
  color: #ffffff !important;
  background-color: #ffac2f !important;
}

:host ::ng-deep #viewOnlyMsg .td-message-wrapper {
  min-height: 38px !important;
  padding: 1px 16px !important;
}
