<td-layout-nav logo="assets:elastestlogo">
  <button md-icon-button td-menu-button (click)="openMainSidenav()"><md-icon>menu</md-icon></button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span></span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="http://elastest.io/docs/api/etm" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/elastest/elastest-torm" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
    <button md-icon-button mdTooltip="Fullscreen" (click)="toggleFullscreen()">
      <md-icon md-list-icon>fullscreen</md-icon>
    </button>
  </div>
  <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-lg') | async) ? '244px' :
                    (media.registerQuery('gt-sm') | async) ? '210px' : 
                    (media.registerQuery('gt-xs') | async) ? '35%' : 
                    '60%'">
    <!-- <md-toolbar td-sidenav-content>
      <span>ETM</span>
    </md-toolbar> -->
    <md-nav-list td-sidenav-content>
      <a md-list-item md-ripple class="block relative" (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/projects']">
        <md-icon md-list-icon>folder_multiple</md-icon>
        Projects
      </a>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative" md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/eus']">
        <md-icon md-list-icon>web</md-icon>
        EUS
      </a>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative" md-ripple class="block relative"
      (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/support-services']">
      <md-icon md-list-icon>settings_input_component</md-icon>
      Support Services
      </a>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative" md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/logmanager']">
        <md-icon md-list-icon>library_books</md-icon>
        Log Manager
      </a>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative" md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/vnc']">
        <md-icon md-list-icon>screen_share</md-icon>
        Vnc Test
      </a>
    </md-nav-list>
    <md-toolbar>
      <span>{{title}}</span>
    </md-toolbar>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
  <!-- <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2017 ElasTest. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:elastestlogo"></md-icon>
    </div>
  </td-layout-footer> -->
</td-layout-nav>