:host /deep/ auto-height-row {
  flex: 1 !important;
  box-sizing: border-box !important;
}

:host /deep/ normal-height-row {
  display: block !important;
}

:host {
  margin: 0 !important;
  width: 100% !important;
  min-height: auto !important;
  max-height: 100% !important;
  height: 100% !important;
}
