<ng-container *ngIf="externalPrometheus">
  <div fxLayout="column" [formGroup]="prometheusFormGroup">
    <div fxLayout="column" fxLayoutAlign="start start" class="push-sm push-left-md">
      <span class="mat-h3 push-botom-sm">Prometheus</span>
      <mat-divider [inset]="true"></mat-divider>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxLayoutAlign="start center" class="push-sm">
      <!-- Prometheus Protocol -->
      <mat-select
        fxFlex="9"
        fxFlex.gt-lg="7"
        fxFlexOffset.md="1"
        fxFlexOffset.gt-md="1"
        [(ngModel)]="externalPrometheus.protocol"
        placeholder="Select a protocol"
        name="prometheusProtocol"
        formControlName="prometheusProtocol"
        class="push-right"
        required
      >
        <mat-option *ngFor="let protocol of externalPrometheus.getProtocolsList()" [value]="protocol">
          {{ protocol.toLowerCase() }}
        </mat-option>
      </mat-select>

      <!-- Prometheus IP -->
      <mat-form-field fxFlex.gt-lg="22" fxFlex.lg="25" fxFlex.gt-md="26" fxFlex.md="28">
        <input
          matInput
          trim="blur"
          type="text"
          placeholder="IP"
          [(ngModel)]="this.externalPrometheus.ip"
          name="prometheusIp"
          formControlName="prometheusIp"
          required
        />
      </mat-form-field>

      <!-- Prometheus Port -->
      <mat-form-field fxFlex.gt-md="7" fxFlex.md="7" fxFlexOffset.md="2" fxFlexOffset.gt-md="2">
        <input
          matInput
          trim="blur"
          type="number"
          min="0"
          placeholder="Port"
          [(ngModel)]="this.externalPrometheus.port"
          name="prometheusPort"
          formControlName="prometheusPort"
          required
        />
      </mat-form-field>

      <!-- Prometheus PATH -->
      <mat-form-field fxFlex.gt-md="10" fxFlex.md="10" fxFlexOffset.md="2" fxFlexOffset.gt-md="2">
        <input
          matInput
          trim="blur"
          type="text"
          placeholder="PATH"
          [(ngModel)]="this.externalPrometheus.path"
          name="prometheusPath"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <!-- Prometheus User -->
      <mat-form-field fxFlex.gt-md="13" fxFlex.md="15" fxFlexOffset.md="2" fxFlexOffset.gt-md="2">
        <input
          matInput
          trim="blur"
          type="text"
          placeholder="User"
          [(ngModel)]="this.externalPrometheus.user"
          name="prometheusUser"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <!-- Prometheus Pass -->
      <mat-form-field fxFlex.gt-md="12" fxFlex.md="15" fxFlexOffset.md="2" fxFlexOffset.gt-md="2">
        <input
          matInput
          trim="blur"
          type="password"
          placeholder="Pass"
          [(ngModel)]="this.externalPrometheus.pass"
          name="prometheusPass"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </div>
    <div class="push-sm" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-raised-button
        color="accent"
        [disabled]="externalPrometheusCheckingConnection"
        (click)="checkExternalPrometheusConnection()"
        title="Check Prometheus connection"
        fxFlexOffset="0.5"
      >
        Check connection
      </button>
      <div
        fxLayout="row"
        *ngIf="externalPrometheusConnectedStatus != '' && !externalPrometheusCheckingConnection"
        fxFlexOffset="0.5"
      >
        <mat-icon [style.color]="externalPrometheusConnectedStatusColor">{{ externalPrometheusConnectedStatusIcon }}</mat-icon>
        <div fxFlexOffset="1" fxLayoutAlign="start center">{{ externalPrometheusConnectedStatus }}</div>
      </div>
      <mat-spinner
        *ngIf="externalPrometheusCheckingConnection"
        strokeWidth="3"
        diameter="20"
        color="accent"
        style="vertical-align: middle; display: inline-block"
        fxFlexOffset="0.5"
      ></mat-spinner>
    </div>
  </div>
</ng-container>
