<mat-card>
  <mat-card-title>
    <div fxLayout="column" fxLayout.gt-md="row">
      <div custom-fxFlex.gt-xl="75" custom-fxFlex-xl="85" fxFlex.gt-lg="75" fxFlex.gt-md="65" fxFlex.md="100" fxFlex.gt-sm="100"
        fxFlex.gt-xs="100" fxFlex.xs="100" style="word-break: break-all;">{{model.name}}</div>
      <span fxFlex></span>
      <div hide-gt-md fxFlex="100" class="pad-top-sm"></div>
      <div fxLayout="row" style="text-align: right;">
        <div *ngFor="let button of customButtons" class="customButton push-right-sm">
          <button-component [model]="button"></button-component>
        </div>
        <load-previous-view [model]="model"></load-previous-view>
        <div>
          <button mat-button (click)="remove()" aria-label="Remove" title="Remove" class="iconBtn pad-left-none">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <metrics-view #metricsView [model]="model" [fieldsList]="fieldsList" [showConfig]="showConfig" [remove]="remove"></metrics-view>
  </mat-card-content>

</mat-card>