<mat-card>
  <mat-card-title>
    <div layout="column" layout-gt-md="row">
      <div custom-flex-gt-xl="75" custom-flex-xl="85" flex-gt-lg="75" flex-gt-md="65" flex-md="100" flex-gt-sm="100"
        flex-gt-xs="100" flex-xs="100" style="word-break: break-all;">{{model.name}}</div>
      <span flex></span>
      <div hide-gt-md flex="100" class="pad-top-sm"></div>
      <div layout="row" style="text-align: right;">
        <div *ngFor="let button of customButtons" class="customButton push-right-sm">
          <button-component [model]="button"></button-component>
        </div>
        <load-previous-view [model]="model"></load-previous-view>
        <div>
          <button mat-button (click)="remove()" aria-label="Remove" title="Remove" class="iconBtn pad-left-none">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <metrics-view #metricsView [model]="model" [fieldsList]="fieldsList" [showConfig]="showConfig" [remove]="remove"></metrics-view>
  </mat-card-content>

</mat-card>