<button md-raised-button color="accent" (click)="addParameter()" aria-label="Add parameter" title="Add parameter" class="iconBtn push-top-sm"><md-icon>add</md-icon> Add Parameter</button>

<div *ngFor="let parameter of model; let i = index" layout-gt-xs="column" layout-gt-md="row" class="pad-bottom push-top">
  <md-list-item flex-gt-xs="100">
    <div layout="row" layout-align="center center">
      <md-input-container>
        <input mdInput id="parameterName{{i}}" value="" [(ngModel)]="parameter.name" placeholder="Name" required>
      </md-input-container>
      <md-input-container>
        <input mdInput id="parameterValue{{i}}" value="" [(ngModel)]="parameter.value" placeholder="Value" required>
      </md-input-container>

      <button md-button (click)="deleteParameter(i)" aria-label="close" title="Delete parameter" class="iconBtn push-top-sm"><md-icon>delete</md-icon></button>
    </div>
  </md-list-item>
</div>