<ng-container *ngIf="!updateInProgress">
  <button mat-raised-button color="accent" (click)="addParameter()" matTooltip="Add parameter" id="addNewParameter" class="iconBtn push-top-sm">
    <mat-icon>add</mat-icon>Add Parameter
  </button>

  <div *ngFor="let parameter of model; let i = index" layout-gt-xs="column" layout-gt-md="row" class="pad-bottom push-top">
    <mat-list-item flex-gt-xs="100">
      <div layout="row" layout-align="center center">
        <mat-form-field>
          <input mdInput id="parameterName{{i}}" value="" [(ngModel)]="parameter.name" placeholder="Name" required>
        </mat-form-field>
        <mat-form-field flex-offset="5">
          <input mdInput id="parameterValue{{i}}" value="" [(ngModel)]="parameter.value" placeholder="Default Value"
            required>
        </mat-form-field>

        <button mat-button (click)="deleteParameter(i)" matTooltip="Delete parameter" class="iconBtn push-top-sm">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </div>
</ng-container>