<!--<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Test Run TJobs
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <form #tJobForm="ngForm">
          <div layout="row">
            <md-input-container flex>
              <input mdInput #tJobElement #tJobControl="ngModel" type="text" placeholder="TJob Id" [(ngModel)]="tJobId" name="tJobId" maxlength="20"
                required>
              <md-hint align="start">
                <span [hidden]="tJobControl.pristine || !tJobControl.errors?.required" class="tc-red-600">Required</span>
              </md-hint>
              <md-hint align="end">{{tJobElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row">
            <md-checkbox [checked]="withSut" (change)="verifySut()">With Sut?</md-checkbox>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!tJobForm.valid" color="primary" (click)="runTJob()">EXECUTE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>-->

<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card class="pad-top pad-bottom">
      <md-card-title>TJob Execution: {{tJobExecId}}</md-card-title>
    </md-card>
  </div>
</div>

<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="50">
    <md-card>
      <md-card-title>CPU Usage</md-card-title>
      <md-card-subtitle>TJob Execution CPU Usage</md-card-subtitle>
      <md-divider></md-divider>
      <div class="chart-height push-top push-right-sm">
        <ngx-charts-line-chart [scheme]="colorScheme" [results]="cpuData.data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [yAxisTickFormatting]="axisDigits" [timeline]="timeline">
        </ngx-charts-line-chart>
      </div>
    </md-card>
  </div>

  <div flex-gt-sm="50">
    <md-card>
      <md-card-title>Memory Usage</md-card-title>
      <md-card-subtitle>TJob Execution Memory Usage</md-card-subtitle>
      <md-divider></md-divider>
      <div class="chart-height push-top push-right-sm">
        <ngx-charts-line-chart [scheme]="colorScheme" [results]="memoryData.data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [yAxisTickFormatting]="axisDigits" [timeline]="timeline">
        </ngx-charts-line-chart>
      </div>
    </md-card>
  </div>
</div>

<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="50" layout-gt-sm="column">
    <logs-view [logView]="testLogView" [loadPreviousLogs]="loadPrevTestLogs.bind(this)"></logs-view>
  </div>

  <div flex-gt-sm="50" layout-gt-sm="column">
    <logs-view [logView]="sutLogView" [loadPreviousLogs]="loadPrevSutLogs.bind(this)"></logs-view>
  </div>
</div>