<auto-height-grid layout="column">
    <normal-height-row>
        <etm-projects-manager #projectsManager [isNested]="true">
        </etm-projects-manager>
    </normal-height-row>
    <auto-height-row>
        <etm-tjob-execs-manager *ngIf="projectsManager && !projectsManager.deletingInProgress; else showSpinner" [isNested]="true">
        </etm-tjob-execs-manager>
        <ng-template #showSpinner>
            <self-adjustable-card>
                <sa-card-title>
                    Wait please...
                </sa-card-title>
                <sa-card-content>
                    <centered-element>
                        <md-spinner strokeWidth="6" color="accent" class="push-top-sm spinnerCenter"></md-spinner>
                    </centered-element>
                </sa-card-content>
            </self-adjustable-card>
        </ng-template>
    </auto-height-row>
</auto-height-grid>