<div fxLayout.gt-sm="row" tdMediaToggle="gt-xs">
  <div fxFlex.gt-sm="100">
    <mat-card>
      <mat-card-title>
        <a *ngIf="tJob" (click)="viewTJob()" class="hover-pointer">
          <span *ngIf="tJobExec && tJobExec.isMultiConfig()">Multi-Configuration&nbsp;</span>
          <span>TJob</span>
          <span> "{{tJob.name}}": </span>
        </a>

        <span *ngIf="tJobExec && tJobExec.isChild()">&nbsp;Configuration</span>

        <span>&nbsp;Execution {{tJobExecId}}</span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content *ngIf="tJobExec">
        <div fxLayout="row" fxLayoutAlign="space-between end">
          <span>
            <img id="runningSpinner" *ngIf="!tJobExec.finished()" class="iconBtn-lg" src="./assets/img/spinner.gif"
              style="width:23px;height: 23px; vertical-align: middle;" title="Executing TJob">
            <button mat-button *ngIf="tJobExec.finished()" (click)="navigateToResultPage()" class="onlyIconBtn" title="Navigate to result page">
              <mat-icon style="vertical-align: middle;" [style.color]="statusIcon.color">{{statusIcon.name}}</mat-icon>
            </button>
            <span id="resultMsgText" style="vertical-align: middle;">{{tJobExec.resultMsg}}</span>
            <span fxFlex></span>
            <button mat-button *ngIf="tJob && tJobExec && !tJobExec.finished()" (click)="stopExec()" class="iconBtn"
              title="Stop Execution" [disabled]="disableStopBtn">
              <mat-icon *ngIf="!disableStopBtn" style="vertical-align: middle; color: #c82a0e" title="Stop Execution">stop</mat-icon>
              <mat-icon *ngIf="disableStopBtn" style=" vertical-align: middle; color: #969696 " title="Stop Execution ">stop</mat-icon>
            </button>
          </span>
          <span *ngIf="showLogsAndMetrics">
            <button id="openMonitoringConfigBtn" mat-button (click)="logsAndMetrics.openMonitoringConfig()" title="Open Monitoring Config">
              <mat-icon>settings</mat-icon>
            </button>
          </span>
        </div>


        <ng-container *ngIf="tJobExec.parameters && tJobExec.parameters.length > 0">
          <!-- Multi Config -->
          <td-expansion-panel label="Configuration" expand="false" class="push-top-sm" *ngIf="tJobExecMultiConfigs && tJobExecMultiConfigs.length > 0">
            <td-data-table [data]="tJobExecMultiConfigs">
            </td-data-table>
          </td-expansion-panel>

          <!-- Params -->
          <td-expansion-panel label="Parameters" expand="false" class="push-top-sm" *ngIf="tJobExecParameters && tJobExecParameters.length > 0">
            <td-data-table [data]="tJobExecParameters">
            </td-data-table>
          </td-expansion-panel>
        </ng-container>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-container *ngIf="tJobExec && tJobExec.isParent(); else showNormalExecutionView">
  <etm-child-tjob-execs-view id="childView" [model]="tJobExec" [withReloadSubscription]="true"></etm-child-tjob-execs-view>
</ng-container>



<ng-template #showNormalExecutionView>
  <!-- Test results -->
  <div fxLayout.gt-sm="row" tdMediaToggle="gt-xs" *ngIf="tJobExec && tJobExec.finished() && tJobExec.testSuites !== undefined && tJobExec.testSuites !== null && tJobExec.testSuites.length > 0">
    <etm-test-suites-view fxFlex="100" [tJobExec]="tJobExec" [testSuites]="tJobExec.testSuites"></etm-test-suites-view>
  </div>

  <!-- logs & Metrics -->
  <etm-monitoring-view #logsAndMetrics [live]="true" [showConfigBtn]="false"></etm-monitoring-view>

  <!-- TSS Services Instances -->
  <div *ngIf="this.elastestMode && this.elastestMode === 'normal' && serviceInstances.length > 0; else tSServices">
    <app-elastest-eus [eusUrl]="serviceInstances[0].urls.api" [eusHost]="serviceInstances[0].ip" [eusPort]="serviceInstances[0].port"
      [standalone]="false" [isNested]="true"></app-elastest-eus>
  </div>
  <ng-template #tSServices>
    <div *ngFor="let serviceInstance of serviceInstances">
      <esm-service-detail [serviceInstance]="serviceInstance" [standaloneService]="false"></esm-service-detail>
    </div>
  </ng-template>

  <!-- Execution files -->
  <etm-files-manager *ngIf="tJobExec && tJobExec.finished()" [tJobId]="tJobId " [tJobExecId]="tJobExecId "></etm-files-manager>
</ng-template>