<div fxLayout.gt-sm="row" tdMediaToggle="gt-xs">
  <div fxFlex.gt-sm="100">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-title>
        <span *ngIf="testProject && testProject.id == 0">New Test Project</span>
        <span *ngIf="testProject && testProject.id > 0">Edit Test Project "{{testProject.name}}"</span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="push-bottom-none">
        <form #projectForm="ngForm">

          <div fxLayout.gt-md="row" fxLayout.md="row" fxLayout="column" class="push-top push-bottom">
            <mat-form-field fxFlex.gt-md="20" fxFlex.md="20">
              <input matInput #projectNameInput #nameControl="ngModel" type="text" placeholder="Test Project Name" [(ngModel)]="testProject.name"
                name="testProject.name" maxlength="50" required>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="10" fxFlex.md="20" fxFlexOffset.md="5" fxFlexOffset.gt-md="5">
              <input matInput #nameControl="ngModel" type="text" placeholder="Test Project Prefix" [(ngModel)]="testProject.prefix" name="testProject.prefix"
                maxlength="16" required>
            </mat-form-field>
          </div>

          <div fxLayout.gt-md="row" fxLayout.md="row" fxLayout="column" class="push-top push-bottom">
            <mat-checkbox [(ngModel)]="testProject.enableRequirements" name="enableRequirements">Enable Requirements</mat-checkbox>
            <mat-checkbox [(ngModel)]="testProject.enableTestPriority" name="enableTestPriority" fxFlexOffset.gt-xs="5">Enable Test Priority</mat-checkbox>
            <mat-checkbox [(ngModel)]="testProject.enableAutomation" name="enableAutomation" fxFlexOffset.gt-xs="5">Enable Automation</mat-checkbox>
            <mat-checkbox [(ngModel)]="testProject.enableInventory" name="enableInventory" fxFlexOffset.gt-xs="5">Enable Inventory</mat-checkbox>
            <mat-checkbox [(ngModel)]="testProject.active" name="active" fxFlexOffset.gt-xs="5">Active</mat-checkbox>
            <mat-checkbox [(ngModel)]="testProject.public" name="public" fxFlexOffset.gt-xs="5">Public</mat-checkbox>
          </div>

          <div fxLayout="column" class="push-top">
            <mat-form-field>
              <textarea id="notes" autosize matInput #nameControl="ngModel" placeholder="Notes" [(ngModel)]="testProject.notes" name="notes"></textarea>
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button [disabled]="!projectForm.valid" color="primary" (click)="save()">SAVE</button>
        <button mat-button (click)="goBack()">CANCEL</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>