<ng-container *ngIf="sut.externalMonitoringDBForLogs">
  <td-expansion-panel expand="true" class="push-bottom push-top dark">
    <ng-template td-expansion-panel-label>
      <mat-icon>library_books</mat-icon>
      <span class="push-left-sm">Monitoring DB For Logs</span>
    </ng-template>

    <div fxLayout="column">
      <ng-container *ngIf="sut.externalMonitoringDBForMetrics && externalElasticsearchForLogs">
        <etm-external-elasticsearch-configuration
          #externalElasticsearchConfigurationComponent
          [externalES]="externalElasticsearchForLogs"
          [type]="logs"
          [getParameters]="getParameters.bind(this)"
          [setParameters]="setParameters.bind(this,i)"
        ></etm-external-elasticsearch-configuration>
      </ng-container>
    </div>
  </td-expansion-panel>
</ng-container>

