<mat-sidenav-container autosize fullscreen>
  <!-- SIDENAV -->
  <mat-sidenav position="end" mode="side" [opened]="true" [style.width.%]="25">
    <mat-card id="logSidenav">
      <mat-card-content class="push-bottom-none" *ngIf="logAnalyzer">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon matTooltip="Filter">tune</mat-icon>
            </ng-template>
            <form #logAnalyzerForm="ngForm" id="logAnalyzerForm">
              <!-- Top Content -->
              <div id="filtersTop" class="pad-xs pad-top-sm" fxLayout="column">
                <div id="indicesDate" fxLayout="column" class="pad-top-sm">
                  <div>
                    <!-- Indices and Select Buttons -->
                    <div fxLayout="column">
                      <!-- Indices  -->
                      <div fxLayout="row">
                        <mat-form-field class="noMarginInput" fxFlex="70">
                          <input
                            matInput
                            type="string"
                            class="form-control input-sm"
                            id="selectedIndices"
                            value="{{ logAnalyzer.selectedIndicesToString() }}"
                            name="selectedIndices"
                            placeholder="Executions"
                            required
                            [disabled]="true"
                          />
                        </mat-form-field>
                        <!-- Select indices (MODAL) -->
                        <div id="executionsButton" fxFlex="20">
                          <button mat-raised-button color="accent" (click)="openSelectExecutions()">
                            <mat-icon matTooltip="Select Execution">playlist_add</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- Date -->
                    <div id="logDate" fxLayout="column" class="push-top">
                      <div fxLayout="row" class="">
                        <mat-form-field fxFlex="90" class="oveflowHidden">
                          <input
                            #fromDate
                            matInput
                            type="datetime-local"
                            id="fromDate"
                            placeholder="From Date (GMT+0)"
                            required
                          />
                        </mat-form-field>
                      </div>
                      <div fxLayout="row" class="">
                        <div flex-xl="75">
                          <mat-form-field class="overflowHidden">
                            <input
                              #toDate
                              matInput
                              type="datetime-local"
                              id="toDate"
                              placeholder="To Date (GMT+0)"
                              required
                              [disabled]="tail.checked"
                            />
                          </mat-form-field>
                        </div>
                        <div flex-xl="25" id="tail">
                          <mat-checkbox
                            #tail
                            [checked]="logAnalyzer.tail"
                            name="tail"
                            (change)="setUseTail(tail.checked)"
                          ></mat-checkbox>
                          <p>Tail</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Components/Streams And Levels -->
                <div id="componentsLevels" fxLayout="column">
                  <div fxFlex>
                    <mat-card-subtitle class="pad-left-none">Components/Streams</mat-card-subtitle>
                    <tree-root #componentsTree [nodes]="logAnalyzer.componentsStreams.tree">
                      <ng-template #treeNodeTemplate let-node="node" let-index="index">
                        <mat-checkbox
                          (change)="logAnalyzer.componentsStreams.check(node, !node.data.checked)"
                          type="checkbox"
                          [indeterminate]="node.data.indeterminate"
                          [checked]="node.data.checked"
                          title="{{ node.data.name }}"
                        >
                          {{ node.data.name }}</mat-checkbox
                        >
                      </ng-template>
                    </tree-root>
                  </div>
                  <div fxFlex>
                    <div class="push-bottom">
                      <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <mat-card-subtitle class="pad-left-none">Levels</mat-card-subtitle>
                    <tree-root #levelsTree [nodes]="logAnalyzer.levels.tree">
                      <ng-template #treeNodeTemplate let-node="node" let-index="index">
                        <mat-checkbox
                          (change)="logAnalyzer.levels.check(node, !node.data.checked)"
                          type="checkbox"
                          [indeterminate]="node.data.indeterminate"
                          [checked]="node.data.checked"
                        >
                          {{ node.data.name }}</mat-checkbox
                        >
                      </ng-template>
                    </tree-root>
                  </div>
                </div>

                <div *ngIf="testCaseName" class="" fxLayout="column">
                  <mat-checkbox
                    #testCase
                    [checked]="withTestCase"
                    id="testCase"
                    name="testCase"
                    (change)="setWithTestCase(testCase.checked)"
                    style="line-height: 4;"
                    >TestCase: {{ testCaseName }}</mat-checkbox
                  >
                </div>

                <div class="" fxLayout="column">
                  <mat-form-field class="noMarginInput">
                    <input
                      matInput
                      #messageCmp
                      class="form-control input-sm"
                      id="message"
                      name="message"
                      value=""
                      [(ngModel)]="logAnalyzer.messageFilter"
                      placeholder="Message"
                      title="Search and filter by message"
                      (keydown.enter)="verifyAndLoadLog($event, logAnalyzerForm.valid)"
                    />
                  </mat-form-field>
                </div>
              </div>

              <mat-divider></mat-divider>

              <!-- Bottom Content (Buttons, ...) -->
              <div id="filtersBottom" fxLayout="column">
                <div fxLayout="row">
                  <div fxFlex="25" fxFlex.lt-xl="30">
                    <mat-form-field class="noMarginInput noPaddingInput" fxLayout="column">
                      <input
                        matInput
                        type="number"
                        class="form-control input-sm"
                        id="max_results"
                        value="1000"
                        min="1"
                        max="10000"
                        [(ngModel)]="logAnalyzer.maxResults"
                        name="max_results"
                        placeholder="Nº Entries"
                        #logAnalyzerFormElement
                        #logAnalyzerFormControl="ngModel"
                        (keydown.enter)="verifyAndLoadLog($event, logAnalyzerForm.valid)"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div fxFlex="20" id="loadLogButton">
                    <button
                      mat-raised-button
                      color="accent"
                      class="iconBtn"
                      (click)="loadLog()"
                      [disabled]="!logAnalyzerForm.valid || disableBtns"
                    >
                      <mat-icon>refresh</mat-icon>
                      <span *ngIf="this.getRowsData().length <= 0">Load log</span>
                      <span *ngIf="this.getRowsData().length > 0">Reload log</span>
                    </button>
                  </div>
                </div>
                <div fxLayout="row" class="">
                  <div fxFlex="50" id="addFromLast" *ngIf="showLoadMore && !showPauseTail">
                    <button
                      mat-button
                      (click)="loadMore()"
                      [disabled]="disableBtns"
                      title="Add more traces from last"
                    >
                      <mat-icon>vertical_align_bottom</mat-icon>
                    </button>
                  </div>
                  <div fxFlex="50" id="addFromSelected" *ngIf="showLoadMore && !showPauseTail">
                    <button
                      mat-button
                      (click)="moreFromSelected()"
                      [disabled]="logAnalyzer.selectedRow === undefined || disableBtns"
                      title="Add more from selected trace"
                    >
                      <mat-icon>vertical_align_center</mat-icon>
                    </button>
                  </div>
                  <!-- <button mat-button *ngIf="showShare && !showPauseTail" (click)="copyToClipboard()">
                  <mat-icon>link</mat-icon> Share link
                </button>  -->
                  <div fxFlex="90" id="pauseTail" *ngIf="showPauseTail">
                    <mat-checkbox
                      fxLayout="column"
                      fxLayoutAlign="start start"
                      #pauseTail
                      name="pauseTail"
                      (change)="logAnalyzer.switchPauseTail(pauseTail.checked)"
                      title="Pause Tail"
                      >Pause Tail</mat-checkbox
                    >
                  </div>
                </div>
              </div>
            </form>
          </mat-tab>
          <!-- Mark (Patterns) -->
          <mat-tab [disabled]="this.getRowsData().length === 0">
            <ng-template mat-tab-label>
              <mat-icon matTooltip="Mark">search</mat-icon>
              <p>Mark</p>
            </ng-template>
            <mark-component #mark [model]="this"></mark-component>
          </mat-tab>
          <mat-tab [disabled]="this.getRowsData().length === 0">
            <ng-template mat-tab-label>
              <mat-icon matTooltip="Config">settings</mat-icon>
            </ng-template>
            <div fxLayout="column" class="push-top-sm">
              <mat-card-subtitle class="push-bottom-xs">Columns Configuration</mat-card-subtitle>
              <button
                mat-raised-button
                color="accent"
                (click)="saveColumnsConfig(undefined, true, true)"
                title="Save Columns Configuration"
                class="iconBtn push-top-sm"
              >
                <mat-icon>save</mat-icon> Save
              </button>
              <button
                mat-raised-button
                color="accent"
                (click)="loadSavedColumnsConfig()"
                title="Load Saved Columns Configuration"
                class="iconBtn push-top-sm"
              >
                <mat-icon>settings_backup_restore</mat-icon> Load Saved
              </button>
              <button
                mat-raised-button
                color="accent"
                (click)="loadDefaultColumnsConfig()"
                title="Load Default Columns Configuration"
                class="iconBtn push-top-sm"
              >
                <mat-icon>restore</mat-icon> Load Default
              </button>
              <mat-checkbox
                #autoRowHeight
                id="toggleRowHeight"
                name="toggleRowHeightCheckbox"
                [checked]="autoRowHeight"
                (change)="toggleRowHeight(autoRowHeight.checked)"
                >Auto row height</mat-checkbox
              >
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>

  <!-- Ag Grid -->
  <mat-sidenav-content id="content">
    <mat-card id="logCard" class="push-none">
      <mat-card-content class="push-bottom-none pad-bottom-none pad-top-none">
        <ag-grid-angular
          #logsGrid
          id="logsGrid"
          class="ag-theme-material"
          [rowData]="logRows"
          [columnDefs]="logColumns"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          (rowDataChanged)="rowDataChanged($event)"
          (componentStateChanged)="componentStateChanged($event)"
          (rowSelected)="switchRowSelection($event)"
          (columnResized)="saveColumnsConfig($event, false)"
          (columnMoved)="saveColumnsConfig(undefined, false)"
          (rowDoubleClicked)="openMessageModal($event)"
          style="width: 100%; height: 80%;"
        >
        </ag-grid-angular>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
