md-sidenav-container {
    min-height: 100%;
}

:host /deep/ .mat-sidenav-content{
    padding: 8px;
}

#logCard{
    width: 100%;
    height: 98%;
}
#logCard md-card-title{
    height: 3%;
}

#logCard md-card-content{
    height: 100%; //93% with card title
}

:host /deep/ .mat-tab-label {
    min-width: 110px !important;
}

:host /deep/ ag-grid-angular{
    height: 99% !important; //96% with card title
}

#logSidenav, #logSidenav md-tab-group, #logManagerForm{
    height: 100%;
    margin: 0;
}

#logSidenav md-card-content{
    height: 99%;
    padding-top: 4px;
    padding-bottom: 0;
}

:host /deep/ #logSidenav md-tab-group .mat-tab-body-wrapper{
    height: 93% !important;
}

#filtersTop{
    height: 82%;
}

#filtersBottom{
    height: 16%;
}


:host /deep/ #logDate{
    max-height: 19% !important;
}

#componentsLevels{
    max-height: 32% !important;
}

:host /deep/ #componentsLevels .angular-tree-component{
    overflow: hidden;
}