<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <md-card *ngIf="url" tdMediaToggle="gt-xs">
    <md-card-title>
      {{engineName}}
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">
      <div layout="column" layout-gt-sm="row" [style.height.px]="600">
        <iframe name="engine" height="100%" width="100%" scrolling="auto" frameborder="no" [src]="url | safe"></iframe>
      </div>
    </md-card-content>
  </md-card>
</div>