<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-title>
        TestLink Test Execution {{testExec.id}}
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div layout="row" class="push-bottom-sm">
          <div flex="47">
            <mat-list class="listInfoToLeft">
              <mat-list-item>
                <h4>Date</h4>
                <p>{{testExec.executionTimeStamp | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Tester Id</h4>
                <p>{{testExec.testerId}}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <div flex="5"></div>
          <div flex="47">
            <mat-list class="listInfoToLeft">
              <mat-list-item>
                <h4>Status</h4>
                <p>{{testExec.status}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div layout="row" class="push-top-sm">
          <span flex-gt-xs="100">
            <h4 class="pad-left-none">Notes</h4>
            <div id="notes" [innerHTML]="testExec.notes"></div>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>