<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        TestLink Test Execution {{testExec.id}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <div layout="row" class="push-bottom-sm">
          <div flex="47">
            <md-list class="listInfoToLeft">
              <md-list-item>
                <h4>Date</h4>
                <p>{{testExec.executionTimeStamp | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <h4>Tester Id</h4>
                <p>{{testExec.testerId}}</p>
              </md-list-item>
            </md-list>
          </div>
          <div flex="5"></div>
          <div flex="47">
            <md-list class="listInfoToLeft">
              <md-list-item>
                <h4>Status</h4>
                <p>{{testExec.status}}</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </div>
        </div>

        <md-divider></md-divider>

        <div layout="row" class="push-top-sm">
          <span flex-gt-xs="100">
            <h4 class="pad-left-none">Notes</h4>
            <div id="notes" [innerHTML]="testExec.notes"></div>
          </span>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>