<md-card tdMediaToggle="gt-xs">
  <md-card-title>
    {{model.name}}
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row">
      <load-previous-view [model]="model"></load-previous-view>
      <md-slide-toggle title="Lock Scroll" [(ngModel)]="lockScroll" style="float: right; margin-left: auto;">
        <md-icon>lock_outline</md-icon>
      </md-slide-toggle>
    </div>
    <div layout="row">
      <ul #scrollMe class="logsViewContent">
        <ng-container *ngIf="model.filteredTraces.length === 0">
          <li *ngFor="let trace of model.prevTraces">
            {{trace.message}}
          </li>
          <md-divider *ngIf="model.prevTraces.length > 0" class="push-bottom push-top"></md-divider>
          <li *ngFor="let trace of model.traces">
            {{trace.message}}
          </li>
        </ng-container>
        <ng-container *ngIf="model.filteredTraces.length > 0">
          <li *ngFor="let trace of model.filteredTraces">
            {{trace.message}}
          </li>
        </ng-container>
      </ul>
    </div>
  </md-card-content>
</md-card>