<md-card tdMediaToggle="gt-xs">
  <md-card-title>
    <div layout="row">
      <div flex-gt-md="55" flex-gt-sm="55" flex-gt-xs="60" flex-xs="70" style="word-break: break-all;">{{model.name}}</div>
      <span flex></span>
      <div layout="column" layout-gt-md="row" style="text-align: right;">
        <div>
          <md-slide-toggle title="Lock Scroll" [(ngModel)]="lockScroll" style="margin-left: auto;">
          </md-slide-toggle>
        </div>
        <load-previous-view [model]="model" class="push-bottom-xs"></load-previous-view>
        <div class="push-left-xs">
          <button md-raised-button (click)="remove()" color="accent" aria-label="Remove" title="Remove" class="iconBtn push-top-sm"
            style="margin-top: 0px">
            <md-icon class="color-white">clear</md-icon>
          </button>
        </div>
      </div>
    </div>
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <ng-container *ngIf="model.filteredTraces.length === 0">
      Showing: All
    </ng-container>
    <ng-container *ngIf="model.filteredTraces.length > 0">
      Showing: Filtered
    </ng-container>
    <div layout="row">
      <ul #scrollMe class="logsViewContent">
        <ng-container *ngIf="model.filteredTraces.length === 0">
          <li *ngFor="let trace of model.prevTraces">
            {{trace.message}}
          </li>
          <md-divider *ngIf="model.prevTraces.length > 0" class="push-bottom push-top"></md-divider>
          <li *ngFor="let trace of model.traces">
            {{trace.message}}
          </li>
        </ng-container>
        <ng-container *ngIf="model.filteredTraces.length > 0">
          <li *ngFor="let trace of model.filteredTraces">
            {{trace.message}}
          </li>
        </ng-container>
      </ul>
    </div>
  </md-card-content>
</md-card>