<md-card tdMediaToggle="gt-xs">
  <md-card-title>
    {{logView.name}}
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <button md-raised-button color="accent" (click)="loadPreviousLogs" [disabled]="logView.prevTracesLoaded" *ngIf="!logView.hidePrevBtn">Load Previous</button>
    <md-slide-toggle title="Lock Scroll" [(ngModel)]="lockScroll" style="float: right;"><md-icon>lock_outline</md-icon></md-slide-toggle>
    <ul #scrollMe class="logsViewContent">
      <li *ngFor="let trace of logView.prevTraces">
        {{trace}}
      </li>
      <md-divider *ngIf="logView.prevTraces.length > 0" class="push-bottom push-top"></md-divider>
      <li *ngFor="let trace of logView.traces">
        {{trace}}
      </li>
    </ul>
  </md-card-content>
</md-card>