:host ::ng-deep #manage-tabs > mat-tab-header {
  background-color: #ffffff;
  margin: 0px 0px;
}


:host ::ng-deep #manage-tabs mat-card {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
