<auto-height-grid fxLayout="column">
  <auto-height-row>
    <self-adjustable-card [contentPaddingPixels]="0" [noContentBackground]="true">
      <sa-card-title>Manage Elastest</sa-card-title>
      <sa-card-content fxFlexFill fxLayout="column" style="max-width: 100%">
        <mat-tab-group id="manage-tabs" [(selectedIndex)]="selectedTab" fxFlexFill>
          <mat-tab label="Main Services Status">
            <ng-template matTabContent>
              <etm-manage-main-services> </etm-manage-main-services>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="configService.configModel.elasTestExecMode !== 'mini'" label="Manage Elasticsearch">
            <ng-template matTabContent>
              <etm-manage-elasticsearch></etm-manage-elasticsearch>
            </ng-template>
          </mat-tab>
          <mat-tab
            *ngIf="configService.configModel.isKubernetes"
            [disabled]="configService.configModel.isKubernetes"
            label="Manage Clusters"
          >
            <ng-template mat-tab-label>
              <span matTooltip="Not available yet">Manage Clusters</span>
            </ng-template>
            <ng-template matTabContent>
              <etm-manage-clusters></etm-manage-clusters>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-row>
</auto-height-grid>
