<span mat-dialog-title class="mat-headline">Monitoring Configuration</span>

<mat-dialog-content>
  <div layout="column" layout-gt-sm="row" class="pad-right pad-bottom">
    <div flex-gt-sm="100">
      <span class="mat-title">Monitoring Cards
        <button mat-icon-button color="accent" title="Refresh" (click)="loadTrees()" [disabled]="loadingLogs || loadingMetrics">
          <mat-icon>autorenew</mat-icon>
        </button>
      </span>

      <div layout="column" layout-gt-sm="row" class="push-bottom">
        <!-- Logs Tree -->
        <div id="logsTree" flex-gt-sm="30">
          <mat-card-subtitle>Logs</mat-card-subtitle>
          <mat-spinner strokeWidth="6" *ngIf="loadingLogs" color="accent" class="push-top-sm"></mat-spinner>
          <span *ngIf="noLogs">There aren't logs to configure</span>
          <div class="treeContainer">
            <tree-root #logsTree [nodes]="logTree.tree">
              <ng-template #treeNodeTemplate let-node="node" let-index="index">
                <mat-checkbox (change)="logTree.check(node, !node.data.checked)" type="checkbox" [indeterminate]="node.data.indeterminate"
                  [checked]="node.data.checked">
                  {{ node.data.name }}</mat-checkbox>
              </ng-template>
            </tree-root>
          </div>
        </div>

        <!-- Metrics Tree -->
        <div id="metricsTree" flex-gt-sm="50" flex-offset-gt-sm="5">
          <mat-card-subtitle>Metrics</mat-card-subtitle>
          <mat-spinner strokeWidth="6" *ngIf="loadingMetrics" color="accent" class="push-top-sm"></mat-spinner>
          <span *ngIf="noMetrics">There aren't metrics to configure</span>
          <div class="treeContainer">
            <tree-root #metricsTree [nodes]="metricTree.tree">
              <ng-template #treeNodeTemplate let-node="node" let-index="index">
                <mat-checkbox (change)="metricTree.check(node, !node.data.checked)" type="checkbox" [indeterminate]="node.data.indeterminate"
                  [checked]="node.data.checked">
                  {{ node.data.name }}</mat-checkbox>
              </ng-template>
            </tree-root>
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions layout="row" layout-align="end left">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" (click)="applyConfig()">Apply</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" (click)="applyAndSave()" class="push-left-sm">Apply and Save</button>
</mat-dialog-actions>