<auto-height-grid fxLayout="column" *ngIf="testSuite && tJobExec">
  <auto-height-row>
    <auto-height-grid fxLayout="column">
      <normal-height-row>
        <mat-card tdMediaToggle="gt-xs">
          <mat-card-content class="highlightedInfo">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>
                <mat-icon [style.color]="testSuite.getResultIcon().color" class="push-right-sm iconCircleInHighlight">{{
                  testSuite.getResultIcon().name
                }}</mat-icon>
              </span>
              <span fxFlex.gt-xs="20">
                <mat-card-subtitle class="pad-left-none"> <strong>Test Suite</strong> </mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs wordBreakAll">{{ testSuite.name }}</h4>
              </span>
              <span fxFlex.gt-xs="10" fxFlexOffset="2">
                <mat-card-subtitle class="pad-left-none">Nº Test</mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs">{{ testSuite.numTests }}</h4>
              </span>
              <span fxFlex.gt-xs="10" fxFlexOffset="2">
                <mat-card-subtitle class="pad-left-none">Errors</mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs">{{ testSuite.errors }}</h4>
              </span>
              <span fxFlex.gt-xs="10" fxFlexOffset="2">
                <mat-card-subtitle class="pad-left-none">Failures</mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs">{{ testSuite.failures }}</h4>
              </span>
              <span fxFlex.gt-xs="10" fxFlexOffset="2">
                <mat-card-subtitle class="pad-left-none">Skipped</mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs">{{ testSuite.skipped }}</h4>
              </span>
              <span fxFlex.gt-xs="10" fxFlexOffset="2">
                <mat-card-subtitle class="pad-left-none">Flakes</mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs">{{ testSuite.flakes }}</h4>
              </span>
              <span fxFlex.gt-xs="15" fxFlexOffset="2">
                <mat-card-subtitle class="pad-left-none">Time Elapsed (s)</mat-card-subtitle>
                <h4 class="push-top-sm push-bottom-xs">{{ testSuite.timeElapsed }}</h4>
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </normal-height-row>

      <auto-height-row fxLayout="column">
        <self-adjustable-card>
          <sa-card-title> Test Cases </sa-card-title>
          <sa-card-content fxFlexFill fxLayout="column">
            <mat-tab-group
              id="testSuite{{ testSuite.id }}TestCasesTabGroup"
              class="testCasesGroup"
              [(selectedIndex)]="selectedTestCaseTab"
              fxFlex
            >
              <mat-tab *ngFor="let testCase of testSuite.testCases" class="testCaseTab" fxFlex>
                <ng-template mat-tab-label>
                  <div matTooltip="{{ testCase.name }}" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon
                      [style.color]="testCase.getResultIcon().color"
                      matTooltip="{{ testCase.getResultIcon().result }}"
                    >
                      {{ testCase.getResultIcon().name }}
                    </mat-icon>
                    <span>{{ testCase.name }}</span>
                  </div>
                </ng-template>
                <ng-template matTabContent>
                  <etm-test-case
                    fxFlex
                    [tJobExec]="tJobExec"
                    [testCase]="testCase"
                    [testSuite]="testSuite"
                  ></etm-test-case>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </sa-card-content>
        </self-adjustable-card>
      </auto-height-row>
    </auto-height-grid>
  </auto-height-row>
</auto-height-grid>
