<h2 md-dialog-title>Monitoring Configuration</h2>

<md-dialog-content>
  <div layout="column" layout-gt-sm="row" class="pad-right pad-bottom">
    <div flex-gt-sm="100">
      <h3>Monitoring Cards</h3>
      <div layout="column" class="push-bottom">
        <tree-root #logsTree [nodes]="componentsStreams.tree">
          <ng-template #treeNodeTemplate let-node="node" let-index="index">
            <md-checkbox (change)="nodes.check(node, !node.data.checked)" type="checkbox" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked">
              {{ node.data.name }}</md-checkbox>
          </ng-template>
        </tree-root>
        <!-- <tree-root #metricsTree [nodes]="nodes.tree">
          <ng-template #treeNodeTemplate let-node="node" let-index="index">
            <md-checkbox (change)="nodes.check(node, !node.data.checked)" type="checkbox" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked">
              {{ node.data.name }}</md-checkbox>
          </ng-template>
        </tree-root> -->
      </div>
    </div>
  </div>

</md-dialog-content>

<md-dialog-actions>
  <button md-button md-dialog-close>Cancel</button>
  <button md-raised-button color="accent" [md-dialog-close]="true" (click)="applyConfig()">Apply</button>
  <button md-raised-button color="accent" [md-dialog-close]="true" (click)="saveMonitoringConfig()">Apply and Save</button>
</md-dialog-actions>