<md-card>
  <md-card-title>{{model.name}}</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row">
      <load-previous-view [model]="model"></load-previous-view>
    </div>
  </md-card-content>
  <div class="chart-height push-top push-right-sm">
    <ngx-charts-line-chart [scheme]="model.colorScheme" [results]="model.data" [gradient]="model.gradient" [xAxis]="model.showXAxis"
      [yAxis]="model.showYAxis" [legend]="model.showLegend" [showXAxisLabel]="model.showXAxisLabel" [showYAxisLabel]="model.showYAxisLabel"
      [xAxisLabel]="model.xAxisLabel" [yAxisLabel]="model.yAxisLabel" [yAxisTickFormatting]="model.axisDigits" [timeline]="model.timeline"
      [autoScale]="model.autoScale">
    </ngx-charts-line-chart>
  </div>
</md-card>