<td-expansion-panel *ngIf="showConfig && fieldsList !== undefined" label="Chart configuration" expand="false" class="push-bottom">
  <div class="pad">
    <span class="push-right" *ngFor="let metric of fieldsList; let i = index">
      <mat-checkbox #metric{{i}} [checked]="metric.activated" (change)="metric.changeActive($event)">{{metric.name}}</mat-checkbox>
    </span>
  </div>
  <div fxLayout="row" class="pad">
    <button mat-raised-button color="accent" (click)="model.filterData()">Apply</button>
    <button mat-button (click)="model.activateAll()">Select All</button>
    <button mat-button (click)="model.deactivateAll()">Unselect All</button>
  </div>
</td-expansion-panel>
<div class="chart-height push-top">
  <combo-chart-component #comboChart class="chart-container" [scheme]="model.scheme" [timeline]="model.timeline" [leftChart]="model.leftChart"
    [rightChartOne]="model.rightChartOne" [rightChartTwo]="model.rightChartTwo" [tooltipDisabled]="model.tooltipDisabled" [yLeftAxisTickFormatting]="model.yLeftAxisTickFormatting"
    [yLeftAxisScaleFactor]="model.yLeftAxisScaleFactor" [yRightAxisScaleFactor]="model.yRightAxisScaleFactor" [yRightOneAxisTickFormatting]="model.yRightOneAxisTickFormatting"
    [yRightTwoAxisTickFormatting]="model.yRightTwoAxisTickFormatting" [gradient]="model.gradient" [xAxis]="model.showXAxis"
    [yAxis]="model.showYAxis" [legend]="model.showLegend" [legendPosition]="'right'" [legendTitle]="model.legendTitle" [showGridLines]="model.showGridLines"
    [showXAxisLabel]="model.showXAxisLabel" [showYAxisLabel]="model.showLeftYAxisLabel" [showRightOneYAxisLabel]="model.showRightOneYAxisLabel"
    [showRightTwoYAxisLabel]="model.showRightTwoYAxisLabel" [xAxisLabel]="model.xAxisLabel" [yAxisLabel]="model.yAxisLabelLeft"
    [yAxisLabelRightOne]="model.yAxisLabelRightOne" [yAxisLabelRightTwo]="model.yAxisLabelRightTwo" [autoScale]="model.autoScale"
    (select)="model.onSelect($event)">
  </combo-chart-component>
</div>