<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>
    Test Run TJobs
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content class="push-bottom-none">
    <form #tJobForm="ngForm">
      <div layout="row">
        <md-input-container flex>
          <input mdInput
                  #tJobFormElement
                  #tJobFormControl="ngModel" 
                  type="text" 
                  placeholder="TJob Id" 
                  [(ngModel)]="tJobId" 
                  name="tJobId" 
                  maxlength="20" 
                  required>
          <md-hint align="start">
            <span [hidden]="tJobFormControl.pristine || !tJobFormControl.errors?.required" class="tc-red-600">Required</span>
          </md-hint>
          <md-hint align="end">{{tJobFormElement.value.length}} / 20</md-hint>
        </md-input-container>
      </div>    
    </form>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-button [disabled]="!tJobForm.valid" color="primary" (click)="save()">SAVE</button>      
    </md-card-actions>
  </md-card>