<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>
    Test Run TJobs
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content class="push-bottom-none">
    <form #tJobForm="ngForm">
      <div layout="row" class="push-top push-bottom">
        <md-input-container flex>
          <input mdInput #tJobFormElement #tJobFormControl="ngModel" type="text" placeholder="TJob Name" [(ngModel)]="tJob.name" name="tJobName"
            maxlength="20" required>
        </md-input-container>
      </div>
      <div layout="row" class="push-top push-bottom">
        <md-input-container flex>
          <input mdInput #tJobFormElement #tJobFormControl="ngModel" type="text" placeholder="TJob Image Name" [(ngModel)]="tJob.imageName"
            name="tJobImageName" required>
        </md-input-container>
      </div>
      <div layout="row" *ngIf="tJob.project"  class="push-top push-bottom">
        <md-select [(ngModel)]="tJob.sut" placeholder="Select a SuT" required name="tJobSut">
          <md-option [value]="sutEmpty">None</md-option>
          <md-option *ngFor="let sut of tJob.project.suts" [value]="sut">
            {{sut.id}}
          </md-option>
        </md-select>
      </div>
    </form>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button [disabled]="!tJobForm.valid" color="primary" (click)="save()">SAVE</button>
    <button md-button color="primary" (click)="cancel()">CANCEL</button>
  </md-card-actions>
</md-card>