<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-title>
        <span *ngIf="project && project.id == 0">New Project</span>
        <span *ngIf="project && project.id > 0">Edit Project "{{project.name}}"</span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="push-bottom-none">
        <form #projectForm="ngForm">
          <div layout="row">
            <mat-form-field flex>
              <input mdInput #projectNameInput #nameControl="ngModel" type="text" placeholder="Project Name" [(ngModel)]="project.name"
                name="project.name" maxlength="80" required>
              <mat-hint align="start">
                <span [hidden]="nameControl.pristine || !nameControl.errors?.required" class="tc-red-600">Required</span>
              </mat-hint>
              <mat-hint align="end">{{projectNameInput.value.length}} / 20</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button [disabled]="!projectForm.valid" color="primary" (click)="save()">SAVE</button>
        <button mat-button (click)="goBack()">CANCEL</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>