#testCaseContent {
  max-height: 99%;
  overflow-y: hidden;
}
#testCaseCard {
  height: 100%;
}

#cardContent {
  height: 90% !important;
  overflow-y: auto;
}

#cardContent,
#cardContent md-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

#testCaseInfo p {
  word-wrap: break-word;
}

:host /deep/ .mat-tab-body-wrapper {
  height: 100%;
}
:host /deep/ .mat-sidenav-content {
  padding: 0px !important;
  height: 103%;
}

:host /deep/ .mat-tab-label {
  min-width: 80px !important;
  max-width: 85px;
  text-overflow: ellipsis;
}
#miniLogAnalyzerTab {
  height: 98%;
}
#miniLogAnalyzerCard md-card-content {
  padding: 4px;
}
#filesContent {
  padding: 8px;
  padding-top: 0px;
}
#fileInfo {
  word-wrap: break-word;
  margin-bottom: 10px;

}
#fileInfo p{
  font-size: 16px;
  font-weight: bold;
}
#video {
  max-width: 90%;
  height: auto;
}
#videoIcon {
  vertical-align: middle;
}
#videoContent{
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 0.15px solid;
}

@media (max-width: 768px) {
  #miniLogAnalyzerCard,
  #miniLogAnalyzerCard md-card-content {
    height: 490px;
  }
}

@media (max-width: 1024px) {
  #miniLogAnalyzerCard,
  #miniLogAnalyzerCard md-card-content {
    height: 490px;
  }
}

@media (max-width: 1440px) {
  #miniLogAnalyzerCard,
  #miniLogAnalyzerCard md-card-content {
    height: 590px;
  }
}
@media (min-width: 2560px) {
  #miniLogAnalyzerCard,
  #miniLogAnalyzerCard md-card-content {
    height: 890px;
  }
}
