#testCaseContent {
  max-height: 99%;
  overflow-y: hidden;
}
#testCaseCard {
  height: 100%;
}

#cardContent {
  height: 90% !important;
  overflow-y: auto;
}

#cardContent,
#cardContent mat-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

#testCaseInfo p {
  word-wrap: break-word;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}
:host ::ng-deep .mat-sidenav-content {
  padding: 0px !important;
  height: 103%;
}

:host ::ng-deep .mat-tab-label {
  min-width: 1px !important;
  // min-width: 80px !important;
  // max-width: 85px;
  text-overflow: ellipsis;
}

#testCaseTabGroup {
  height: 100%;
}
#testCaseTabsCard {
  height: 100%;
}
#testCaseTabsCard mat-card-content {
  padding: 4px;
}

#fileInfo p {
  font-size: 16px;
  font-weight: bold;
}

#videoIcon {
  vertical-align: middle;
}
#video {
  max-width: 100% !important;
  max-height: 100%;
}
#videoContent,
#filesContent {
  margin: auto;
  text-align: center;
  max-height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#filesContent {
  padding-bottom: 20px;
  border-bottom: 0.15px solid;
}
