<auto-height-grid fxLayout="row" *ngIf="testCase" id="testCaseContent" fxFlexFill>
  <auto-height-row fxFlex="40" class="mat-content">
    <self-adjustable-card id="testCaseCard" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <sa-card-title>
        <mat-icon *ngIf="testCase.result && testCase.result.name" [style.color]="testCase.result.color">{{
          testCase.result.name
        }}</mat-icon>
        Test {{ testCase.name }}
      </sa-card-title>
      <sa-card-content fxFlex id="cardContent">
        <mat-list id="testCaseInfo">
          <div>
            <h4>Time (s)</h4>
            <p>{{ testCase.time }}</p>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="testCase.result && testCase.result.result !== 'SUCCESS' && testCase.result.result !== 'PASSED'">
            <h4>Failure Message</h4>
            <p>{{ testCase.failureMessage }}</p>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="testCase.result && testCase.result.result !== 'SUCCESS' && testCase.result.result !== 'PASSED'">
            <h4>Failure Type</h4>
            <p>{{ testCase.failureType }}</p>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="testCase.result && testCase.result.result !== 'SUCCESS' && testCase.result.result !== 'PASSED'">
            <h4>Failure Error Line</h4>
            <p>{{ testCase.failureErrorLine }}</p>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="testCase.result && testCase.result.result !== 'SUCCESS' && testCase.result.result !== 'PASSED'">
            <h4>Failure Detail</h4>
            <p>{{ testCase.failureDetail }}</p>
            <p></p>
          </div>
        </mat-list>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-row>

  <auto-height-row fxFlex="60">
    <self-adjustable-card id="miniLogAnalyzerCard" [hideTitle]="true">
      <sa-card-content fxFlexFill fxLayout="column">
        <mat-tab-group id="miniLogAnalyzerTab" [(selectedIndex)]="selectedTab">
          <mat-tab label="All Logs">
            <elastest-log-analyzer
              #miniLogAnalyzer
              *ngIf="params && testCase"
              [isEmbed]="true"
              [tJobId]="params.tJobId"
              [tJobExecId]="params.tJobExecId"
              [testCase]="testCase.name"
            ></elastest-log-analyzer>
          </mat-tab>
          <div *ngIf="miniLogAnalyzer">
            <mat-tab
              *ngFor="
                let component of miniLogAnalyzer.componentsTree.treeModel.nodes;
                let $i = index;
                let f = first;
                let l = last
              "
              label="{{ component.name }}"
            >
              <div fxFlexFill *ngIf="!loganalyzerTabEnabledList[$i]">
                <centered-element>
                  <button
                    mat-raised-button
                    class="iconBtn-lg"
                    color="accent"
                    (click)="loganalyzerTabEnabledList[$i] = true"
                    [disabled]="loganalyzerTabEnabledList[$i] === true"
                    matTooltip="Start Comparison"
                  >
                    Load Log
                  </button>
                </centered-element>
              </div>

              <elastest-log-analyzer
                *ngIf="loganalyzerTabEnabledList[$i] && params && testCase"
                [isEmbed]="true"
                [componentStreams]="[component]"
                [tJobId]="params.tJobId"
                [tJobExecId]="params.tJobExecId"
                [testCase]="testCase.name"
              ></elastest-log-analyzer>
            </mat-tab>
          </div>

          <mat-tab label="Files">
            <div fxLayout="row" *ngFor="let file of testCase.files">
              <div fxFlex id="filesContent">
                <div>
                  <p>Title</p>
                  <span>{{ file.name }}</span>
                </div>
                <a mat-button *ngIf="isMP4(file)" (click)="goToTab(file.tabRef)">
                  Open Video
                  <mat-icon>open_in_new</mat-icon>
                </a>
              </div>
            </div>
            <centered-element *ngIf="testCase && testCase.files.length === 0" class="push-top-important messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>No Files found</p>
            </centered-element>
          </mat-tab>

          <mat-tab *ngFor="let file of getMP4Files()">
            <ng-template mat-tab-label>
              <mat-icon matTooltip="Video" id="videoIcon">play_circle_filled</mat-icon>
            </ng-template>
            <div id="videoContent">
              <video controls id="video">
                <source src="{{ filesUrlPrefix }}{{ file.url }}" type="video/mp4" />
              </video>
            </div>
          </mat-tab>
        </mat-tab-group>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-row>
</auto-height-grid>
