<div layout="row" *ngIf="testCase" id="testCaseContent">
  <div flex="40" class="mat-content">
    <md-card id="testCaseCard" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <md-card-title>
        <md-icon *ngIf="testCase.result && testCase.result.name" [style.color]="testCase.result.color">{{testCase.result.name}}</md-icon>
        Test {{testCase.name}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content flex id="cardContent">
        <md-list id="testCaseInfo">
          <div>
            <h4>Time</h4>
            <p>{{testCase.time}}</p>
          </div>
          <md-divider></md-divider>
          <div>
            <h4>Failure Message</h4>
            <p>{{testCase.failureMessage}}</p>
          </div>
          <md-divider></md-divider>
          <div>
            <h4>Failure Type</h4>
            <p>{{testCase.failureType}}</p>
          </div>
          <md-divider></md-divider>
          <div>
            <h4>Failure Error Line</h4>
            <p>{{testCase.failureErrorLine}}</p>
          </div>
          <md-divider></md-divider>
          <div>
            <h4>Failure Detail</h4>
            <p>{{testCase.failureDetail}}
              <p>
          </div>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <div flex="60">
    <md-card id="miniLogAnalyzerCard" *ngIf="logAnalyzer && componentsStreams">
      <md-card-content>

        <md-tab-group id="miniLogAnalyzerTab">
          <md-tab label="Logs">

            <elastest-log-analyzer *ngIf="params" [isEmbed]="true" [tJobId]="params.tJobId" [tJobExecId]="params.tJobExecId" [testCase]="testCase.name"></elastest-log-analyzer>

          </md-tab>

          <md-tab *ngFor="let tab of componentsStreams" label="{{tab.name}}">
            <elastest-log-analyzer #miniLogAnalyzer *ngIf="params" [isEmbed]="true" [componentStreams]="[tab]" [tJobId]="params.tJobId"
              [tJobExecId]="params.tJobExecId" [testCase]="testCase.name"></elastest-log-analyzer>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </div>
</div>