<!-- Metrics -->
<etm-complex-metrics-group #metricsGroup [live]="live" (timelineObs)="timelineEvent($event)" (hoverObs)="hoverEvent($event)"
    (leaveObs)="leaveEvent()"></etm-complex-metrics-group>

<!-- Logs -->
<etm-logs-group #logsGroup [live]="live"></etm-logs-group>

<!-- Add more -->
<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
        <md-card class="pad-top pad-bottom">
            <md-card-title>Add more views</md-card-title>
            <md-divider></md-divider>
            <md-list-item flex-gt-xs="100" class="push">
                <div layout="row" layout-align="center center">
                    <md-input-container class="push-right">
                        <input mdInput id="component" value="" [(ngModel)]="component" placeholder="Component" required>
                    </md-input-container>
                    <md-input-container class="push-right">
                        <input mdInput id="stream" value="" [(ngModel)]="stream" placeholder="Stream" required>
                    </md-input-container>
                    <md-input-container class="push-right">
                        <input mdInput id="metric" value="" [(ngModel)]="metricName" placeholder="Specific metric (use: type.metric)">
                    </md-input-container>
                    <button md-raised-button color="accent" (click)="addMore()" aria-label="Add More" title="Add More" class="iconBtn push-top-sm">
                        <md-icon class="color-white">add</md-icon> Add
                    </button>
                </div>
            </md-list-item>
        </md-card>
    </div>
</div>