<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Configurations Executions List
      </md-card-title>
      <md-divider></md-divider>
      <md-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></md-spinner>
      <centered-element *ngIf="!showSpinner && childrens.length === 0" class="push-top-sm messageEmptyCard">
        <md-icon>assignment</md-icon>
        <p>No Executions generated</p>
      </centered-element>
      <md-card-content>
        <td-data-table #tjobsTable *ngIf="childrens && childrens.length > 0" class="scroll_table" [data]="childrens"
          [columns]="tJobExecColumns" [selectable]="false" [clickable]="true" [sortable]="false" [sortBy]="sortBy"
          [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of tJobExecColumns" tdDataTableTemplate="{{column.name}}" let-value="value"
            let-row="row">

            <div *ngIf="column.name !== 'options' && column.name !== 'startDate' && column.name !== 'endDate' && column.name !== 'lastExecutionDate' && column.name !== 'parameters'"
              (click)="viewTJobExec(row)" class="hover-pointer">
              <span *ngIf="column.name !== 'sutExecution'; else tjobSutValue">
                <ng-container *ngIf="column.name === 'result'">
                  <img *ngIf="!row.finished()" class="iconBtn-lg pad-none" src="./assets/img/spinner.gif" style="width:23px;height: 23px; vertical-align: middle;">
                  <md-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{row.getResultIcon().name}}</md-icon>
                </ng-container>
                {{value}}
              </span>
              <ng-template #tjobSutValue>
                <span *ngIf="row.hasSutExec()">{{row.sutExec.id}}</span>
                <span *ngIf="!row.hasSutExec()">None</span>
              </ng-template>
            </div>

            <div *ngIf="column.name === 'startDate' || column.name === 'endDate'" (click)="viewTJobExec(row)">
              {{value | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>

            <div *ngIf="column.name === 'lastExecutionDate'" (click)="viewTJobExec(row)">
              <ng-container *ngIf="value !== undefined; else notExecuted">
                {{value | timeAgo}}
              </ng-container>
              <ng-template #notExecuted>
                Not Executed Yet
              </ng-template>
            </div>

            <div *ngIf="column.name === 'parameters'" (click)="viewTJobExec(row)">
              <ul *ngIf="row.parameters" class="pad-left-none">
                <ng-container *ngFor="let param of row.parameters">
                  <li style="line-height: normal;" *ngIf="param.multiConfig">
                    {{param.name}}: {{param.value}}
                  </li>
                </ng-container>
              </ul>
            </div>
          </ng-template>

          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="optionsColumn">
              <button md-button (click)="viewInLogAnalyzer(row)" stopRowClick title="View in Log Analyzer" class="iconBtn-lg">
                <md-icon>library_books</md-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>
</div>