<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        Test Case {{testCase.name}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <div layout="row" class="push-bottom-xs">
          <span flex-gt-xs="15">
            <md-card-subtitle class="pad-left-none">Name</md-card-subtitle>
            <h4>{{testCase.name}}</h4>
          </span>
          <span flex-gt-xs="5">
            <md-card-subtitle class="pad-left-none">Project ID</md-card-subtitle>
            <h4>{{testCase.testProjectId}}</h4>
          </span>
          <span flex-gt-xs="5">
            <md-card-subtitle class="pad-left-none">Suite ID</md-card-subtitle>
            <h4>{{testCase.testSuiteId}}</h4>
          </span>
          <span flex-gt-xs="5">
            <md-card-subtitle class="pad-left-none">Author Login</md-card-subtitle>
            <h4>{{testCase.authorLogin}}</h4>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Test Importance</md-card-subtitle>
            <span *ngIf="testCase.testImportance !== undefined; else noneImportante">
              <h4>{{testCase.testImportance}}</h4>
            </span>
            <ng-template #noneImportante></ng-template>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Exec Type</md-card-subtitle>
            <span *ngIf="testCase.executionType !== undefined; else noneExecType">
              <h4>{{testCase.executionType}}</h4>
            </span>
            <ng-template #noneExecType></ng-template>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Execution Order</md-card-subtitle>
            <h4>{{testCase.executionOrder}}</h4>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Order</md-card-subtitle>
            <h4>{{testCase.order}}</h4>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Internal Id</md-card-subtitle>
            <h4>{{testCase.internalId}}</h4>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">External Id</md-card-subtitle>
            <h4>{{testCase.fullExternalId}}</h4>
          </span>

          <!-- <span flex-gt-xs="25">
            <md-card-subtitle>Options</md-card-subtitle>
            <div class="optionsColumn" layout="column" layout-gt-xs="row">
              <button md-button [routerLink]="['/testlink/cases/edit', testCase.id]" class="iconBtn-lg" title="Edit Test Case">
                <md-icon>mode_edit</md-icon>
              </button>
              <button md-button (click)="deleteCase()" [disabled]="deletingInProgress" class="iconBtn-lg" title="Delete Test Case">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </span> -->
        </div>

        <md-divider></md-divider>

        <div layout="row" class="push-bottom-xs push-top-sm">
          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Version Id</md-card-subtitle>
            <h4>{{testCase.versionId}}</h4>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Version</md-card-subtitle>
            <h4>{{testCase.version}}</h4>
          </span>


          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Parent Id</md-card-subtitle>
            <h4>{{testCase.parentId}}</h4>
          </span>

          <!-- <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Custom Fields</md-card-subtitle>
            <h4>{{testCase.customFields}}</h4>
          </span> -->

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Execution Status</md-card-subtitle>
            <span *ngIf="testCase.executionStatus !== undefined; else noneAction">
              <h4>{{testCase.executionStatus}}</h4>
            </span>
            <ng-template #noneAction></ng-template>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Check Duplicated Name</md-card-subtitle>
            <h4>{{testCase.checkDuplicatedName}}</h4>
          </span>
          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Action On Duplicated Name</md-card-subtitle>
            <span *ngIf="testCase.actionOnDuplicatedName !== undefined; else noneAction">
              <h4>{{testCase.actionOnDuplicatedName}}</h4>
            </span>
            <ng-template #noneAction></ng-template>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Platform</md-card-subtitle>
            <h4>{{testCase.platform}}</h4>
          </span>

          <span flex-gt-xs="10">
            <md-card-subtitle class="pad-left-none">Feature Id</md-card-subtitle>
            <h4>{{testCase.featureId}}</h4>
          </span>

        </div>

        <md-divider></md-divider>

        <div layout="row" class="push-top-sm">
          <span flex-gt-xs="45">
            <md-card-subtitle class="pad-left-none">Summary</md-card-subtitle>
            <div layout="column" class="push-top-sm">
              <md-input-container>
                <textarea id="summary" rows="8" mdInput [(ngModel)]="testCase.summary" name="summary" readonly></textarea>
              </md-input-container>
            </div>
          </span>
          <span flex-gt-xs="45" flex-offset="5">
            <md-card-subtitle class="pad-left-none">Preconditions</md-card-subtitle>
            <div layout="column" class="push-top-sm">
              <md-input-container>
                <textarea id="preconditions" rows="8" mdInput [(ngModel)]="testCase.preconditions" name="preconditions" readonly></textarea>
              </md-input-container>
            </div>
          </span>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>

<div layout="column" layout-gt-xl="row" tdMediaToggle="gt-xs" *ngIf="testCase">
  <div flex-gt-lg="50" layout-gt-sm="column">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        <div layout="row">
          <span>Test Case Steps</span>
          <span flex></span>
          <!-- <button md-raised-button color="accent" (click)="newTJob()">New TestCaseStep</button> -->
        </div>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content #scrollMeTest>
        <td-data-table #testCaseStepTable class="scroll_table" [data]="testCase.steps" [columns]="testCaseStepColumns" [selectable]="false"
          [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">

          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="optionsColumn">
              <!-- <button md-button (click)="runTJob(row, project)" class="iconBtn-lg" title="Run TJob">
                <md-icon>play_circle_outline</md-icon>
              </button> -->
              <!-- <button md-button (click)="editTJob(row)" class="iconBtn-lg" title="Edit TJob">
                <md-icon>mode_edit</md-icon>
              </button>
              <button md-button (click)="deleteTJob(row)" [disabled]="deletingInProgress" class="iconBtn-lg" title="Delete TJob">
                <md-icon>delete</md-icon>
              </button> -->
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>
</div>