<div id="jenkinsPage" class="mat-content">
  <div *ngIf="!isStarted; else showJenkins">
    <mat-card>
      <mat-card-title>
        {{startingInProcess ? 'Starting Jenkins...' : 'Jenkins container not started yet'}}
      </mat-card-title>
      <mat-card-content>
        <button *ngIf="!startingInProcess; else showProgress" mat-button mat-raised-button color="accent" id="startJenkins" (click)="startJenkins()"
          matTooltip="Start Jenkins container" [disabled]="startingInProcess">
          <mat-icon>play_circle_outline</mat-icon> Start Jenkins
        </button>
        <ng-template #showProgress>
          <div class="mat-subheading-1" *ngIf="jenkinsModel && jenkinsModel.statusMsg">
            {{ jenkinsModel.statusMsg }}
          </div>
          <mat-spinner strokeWidth="6" color="accent" class="push-top-sm"></mat-spinner>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #showJenkins>
    <div fxLayout="column" *ngIf="jenkinsUrl">
      <div fxFlex.gt-sm="100">
        <mat-card class="pad-bottom-xs">
          <mat-card-title>
            <div fxLayout="row">
              <span>Jenkins</span>
              <a href="{{jenkinsUrl}}" id="openJenkins" class="iconBtn" target="_blank" matTooltip="Open Jenkins in new tab">
                <mat-icon color="accent">open_in_new</mat-icon>
              </a>
              <span class="push-left-sm">
                <div fxLayout="column" class="mat-caption">
                    <button mat-raised-button color="accent" (click)="openDialog()">Show credentials</button>                    
                </div>
              </span>
            </div>
          </mat-card-title>
        </mat-card>
      </div>
    </div>    
  </ng-template>
</div>