<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org" level="WARN" />
	<logger name="springfox" level="WARN" />
	<logger name="io.elastest" level="${ET_ETM_LOG_LEVEL}" />
	<logger name="org.productivity.java.syslog4j.server"
		level="DEBUG" />
	<logger name="com.zaxxer.hikari" level="OFF" />
	<logger name="io.elastest.etm.beats" level="OFF" />
	<logger name="s.a.a.h.a.internal.utils.ApacheUtils" level="OFF" />
</configuration>
