<auto-height-grid fxLayout="column">
  <normal-height-row>
    <div fxFlex.gt-sm="100">
      <mat-card tdMediaToggle="gt-xs">
        <mat-card-title>
          <span *ngIf="tJob && tJob.multi">Multi-Configuration</span> <span>TJob</span>
          <span *ngIf="tJob && tJob.name">"{{ tJob.name }}"</span>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div fxLayout="row">
            <span fxFlex.gt-xs="20">
              <mat-card-subtitle>Name</mat-card-subtitle>
              <h4>{{ tJob.name }}</h4>
            </span>
            <span fxFlex.gt-xs="24" fxFlexOffset="1">
              <mat-card-subtitle>Image Name</mat-card-subtitle>
              <h4 style="word-break: break-all">{{ tJob.imageName }}</h4>
            </span>

            <span fxFlex.gt-xs="20" fxFlexOffset="1">
              <ng-container *ngIf="!tJob.hasSut(); else showSut">
                <mat-card-subtitle>Sut</mat-card-subtitle>
                <h4>None</h4>
              </ng-container>
              <ng-template #showSut>
                <button mat-button (click)="editSut()" class="onlyIconBtn" title="Edit SuT">
                  <div fxLayout="row">
                    <mat-card-subtitle style="line-height: initial; padding-right: 8px;">Sut</mat-card-subtitle>
                    <mat-icon style="font-size: 18px;">mode_edit</mat-icon>
                  </div>
                </button>
                <h4 style="margin-top: 0;">{{ tJob.sut.name }}</h4>
              </ng-template>
            </span>

            <span fxFlex.gt-xs="16" fxFlexOffset="1">
              <mat-card-subtitle>Is Multi Axis</mat-card-subtitle>
              <h4>{{ tJob.multi }}</h4>
            </span>

            <span fxFlex.gt-xs="20" fxFlexOffset="1">
              <mat-card-subtitle>Options</mat-card-subtitle>
              <div class="optionsColumn" fxLayout="column" fxLayout.gt-xs="row">
                <button mat-button *ngIf="!tJob.external" (click)="runTJob()" class="iconBtn" title="Run TJob">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button
                  mat-button
                  *ngIf="!tJob.external || tJob.getExternalEditPage() !== undefined"
                  (click)="editTJob()"
                  class="iconBtn"
                  title="{{ !tJob.external ? 'Edit TJob' : 'Edit in Jenkins' }}"
                >
                  <ng-container *ngIf="!tJob.external; else showJenkinsIcon">
                    <mat-icon>mode_edit</mat-icon>
                  </ng-container>
                  <ng-template #showJenkinsIcon>
                    <fa-icon mat-icon class="mat-icon" [icon]="['fab', 'jenkins']"></fa-icon>
                  </ng-template>
                </button>
                <button mat-button (click)="deleteTJob()" [disabled]="deletingInProgress" class="iconBtn" title="Delete TJob">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </span>
          </div>

          <td-expansion-panel label="Parameters" expand="false" *ngIf="tJob.parameters.length > 0">
            <td-data-table [data]="tJob.parameters"></td-data-table>
          </td-expansion-panel>
          <td-expansion-panel label="Commands" expand="false" *ngIf="tJob.withCommands()">
            <div class="pad">
              <ul>
                <li *ngFor="let command of tJob.arrayCommands()">{{ command }}</li>
              </ul>
            </div>
          </td-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </normal-height-row>

  <auto-height-row fxLayout="column">
    <self-adjustable-card>
      <sa-card-title>
        <div fxLayout="row">
          <span>Executions</span> <span fxFlex></span>
          <button
            mat-button
            (click)="removeSelectedExecs()"
            [disabled]="selectedExecsIds.length === 0 || deletingInProgress"
            stopRowClick
            class="iconBtn-lg"
            title="Delete Executions"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="compareExecutions()"
            [disabled]="selectedExecsIds.length < 2 || deletingInProgress"
            class="iconBtn-lg"
            matTooltip="Compare selected Executions"
          >
            Compare Executions
            <mat-icon>compare</mat-icon>
          </button>
        </div>
      </sa-card-title>
      <sa-card-content>
        <mat-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
        <centered-element *ngIf="!showSpinner && tJobExecDataByPage.length === 0" class="push-top-sm messageEmptyCard">
          <mat-icon>assignment</mat-icon>
          <p>No Executions generated</p>
        </centered-element>

        <!-- Execs Table -->
        <ng-container *ngIf="tJobExecDataByPage && tJobExecDataByPage.length > 0">
          <td-data-table
            #tjobsTable
            class="useMaxHeight"
            [data]="execsFilteredData"
            [columns]="tJobExecColumns"
            [selectable]="true"
            [clickable]="true"
            [resizableColumns]="true"
            (rowSelect)="switchExecSelection($event)"
            (selectAll)="switchAllExecsSelection($event)"
            [sortable]="false"
          >
            <ng-template
              *ngFor="let column of tJobExecColumns"
              tdDataTableTemplate="{{ column.name }}"
              let-value="value"
              let-row="row"
            >
              <div
                *ngIf="
                  column.name !== 'options' &&
                  column.name !== 'startDate' &&
                  column.name !== 'endDate' &&
                  column.name !== 'executionDate'
                "
                (click)="viewTJobExec(row)"
                class="hover-pointer"
              >
                <span *ngIf="column.name !== 'sutExecution'; else tjobSutValue">
                  <ng-container *ngIf="column.name === 'result'">
                    <mat-spinner
                      *ngIf="!row.finished()"
                      strokeWidth="3"
                      diameter="20"
                      color="accent"
                      style="vertical-align: middle; display: inline-block"
                    ></mat-spinner>
                    <mat-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{
                      row.getResultIcon().name
                    }}</mat-icon>
                  </ng-container>
                  <span style="vertical-align: middle; margin-left: 4px;">{{ value }}</span>
                </span>
                <ng-template #tjobSutValue>
                  <span *ngIf="row.hasSutExec()">{{ row.sutExec.id }}</span> <span *ngIf="!row.hasSutExec()">None</span>
                </ng-template>
              </div>
              <div *ngIf="column.name === 'startDate' || column.name === 'endDate'" (click)="viewTJobExec(row)">
                {{ value | date: 'dd/MM/yyyy HH:mm:ss' }}
              </div>
              <div *ngIf="column.name === 'executionDate'" (click)="viewTJobExec(row)">
                <ng-container *ngIf="row.endDate || row.startDate; else notExecuted">
                  {{ (row.endDate ? row.endDate : row.startDate) | timeAgo }}
                </ng-container>
                <ng-template #notExecuted> Not Executed Yet </ng-template>
              </div>
            </ng-template>

            <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
              <div fxLayout="row" class="optionsColumn">
                <button
                  mat-button
                  (click)="deleteTJobExec(row)"
                  [disabled]="deletingInProgress"
                  stopRowClick
                  title="Delete TJob Execution"
                  class="iconBtn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-button (click)="viewInLogAnalyzer(row)" stopRowClick title="View in Log Analyzer" class="iconBtn">
                  <mat-icon>library_books</mat-icon>
                </button>
              </div>
            </ng-template>
          </td-data-table>

          <!-- Execs pagination -->
          <td-paging-bar #execsPaging [pageSize]="execsPageSize" [total]="execsFilteredTotal" (change)="execsPage($event)">
            <span hide-xs>Rows per page:</span>
            <mat-select [style.width.px]="50" [(ngModel)]="execsPageSize">
              <mat-option
                *ngFor="
                  let size of [execsFilteredTotal, 10, 15, 20, 50, 100, 200, 500];
                  let i = index;
                  let f = first;
                  let l = last
                "
                [value]="size"
              >
                {{ f ? 'All' : size }}
              </mat-option>
            </mat-select>
            {{ execsPaging.range }} <span hide-xs>of {{ execsPaging.total }}</span>
          </td-paging-bar>
        </ng-container>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-row>
</auto-height-grid>
