<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        TJob {{tJob.id}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <span>Name: {{tJob.name}}</span>
        <span>Image Name: {{tJob.imageName}}</span>
        <span *ngIf="tJob.sut !== undefined && tJob.sut.id === 0">Sut: None</span>
        <span *ngIf="tJob.sut !== undefined && tJob.sut.id !== 0">Sut: {{tJob.sut.id}}</span>
      </md-card-content>
    </md-card>
  </div>
</div>

<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        TJob Executions
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <td-data-table #tjobsTable [data]="tJobExecData" [columns]="tJobExecColumns" [selectable]="true" [clickable]="true" [sortable]="false"
          [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row">
              <button md-button (click)="viewTJobExec(row)" title="View TJob Execution"><md-icon>remove_red_eye</md-icon></button>
              <button md-button (click)="deleteTJobExec(row)" title="Delete TJob Execution"><md-icon>delete</md-icon></button>
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>
</div>