<div layout-gt-sm="row" tdMediaToggle="gt-xs">
  <div flex-gt-sm="100">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-title>
        Test Suite {{testSuite.name}}
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div layout="row">
          <div flex="47">
            <mat-list class="listInfoToLeft">
              <mat-list-item>
                <h4>Name</h4>
                <p>{{testSuite.name}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Project ID</h4>
                <p>{{testSuite.testProjectId}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Parent ID</h4>
                <p>{{testSuite.parentId}}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <div flex="5"></div>
          <div flex="47">
            <mat-list class="listInfoToLeft">
              <mat-list-item>
                <h4>Order</h4>
                <p>{{testSuite.order}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Check Duplicated Name</h4>
                <p>{{testSuite.checkDuplicatedName}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h4>Action On Duplicated Name</h4>
                <p>{{testSuite.actionOnDuplicatedName}}</p>
              </mat-list-item>
            </mat-list>
          </div>

          <!-- <span flex-gt-xs="25">
            <mat-card-subtitle>Options</mat-card-subtitle>
            <div class="optionsColumn" layout="column" layout-gt-xs="row">
              <button mat-button [routerLink]="['/testlink/suites/edit', testSuite.id]" class="iconBtn-lg" title="Edit Test Suite">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button mat-button (click)="deleteSuite()" [disabled]="deletingInProgress" class="iconBtn-lg" title="Delete Test Suite">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </span> -->
        </div>
        <mat-divider></mat-divider>
        <div layout="column" class="push-top-sm" id="testSuiteBottomInfo">
          <span flex-gt-xs="100">
            <mat-card-subtitle class="pad-left-none">Details</mat-card-subtitle>
            <div [innerHTML]="testSuite.details"></div>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div layout="column" layout-gt-xl="row" tdMediaToggle="gt-xs" *ngIf="testSuite && projectId">
  <div flex-gt-lg="50" layout-gt-sm="column">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-title>
        <div layout="row">
          <span>Test Cases</span>
          <span flex></span>
          <!-- <button mat-raised-button color="accent" [routerLink]="['/testlink/projects',projectId, 'suites',testSuite.id, 'cases','new']">New TestCase</button> -->
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content #scrollMeTest>
        <td-data-table #testCaseTable id="tlCases" class="scroll_table" [data]="testCases" [columns]="testCaseColumns" [selectable]="false"
          [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of testCaseColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
            <div *ngIf="column.name !== 'options'" [routerLink]="['/testlink/projects',projectId, 'suites', testSuite.id, 'cases', row.id]"
              class="hover-pointer">
              <div *ngIf="column.name === 'summary' || column.name === 'preconditions'; else normalValue" [innerHTML]="value"></div>
              <ng-template #normalValue>
                <span>{{value}}</span>
              </ng-template>
            </div>
          </ng-template>
          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="optionsColumn">
              <!-- <button mat-button (click)="runTJob(row, project)" class="iconBtn-lg" title="Run TJob">
                <mat-icon>play_circle_outline</mat-icon>
              </button> -->
              <!-- <button mat-button (click)="editTJob(row)" class="iconBtn-lg" title="Edit TJob">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button mat-button (click)="deleteTJob(row)" [disabled]="deletingInProgress" class="iconBtn-lg" title="Delete TJob">
                <mat-icon>delete</mat-icon>
              </button> -->
            </div>
          </ng-template>
        </td-data-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>