<div class="md-content">
    <div layout="column" *ngIf="testLinkUrl">
        <div flex-gt-sm="100">
            <md-card>
                <md-card-title>
                    <div layout="row">
                        <span>TestLink Info</span>
                        <span flex></span>
                        <button md-icon-button color="accent" (click)="syncTestLink()" title="Sync data with ElasTest" [disabled]="disableBtns">
                            <md-icon>sync</md-icon>
                        </button>
                    </div>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content class="push-bottom-none">
                    <a title="TestLink url to use" href="{{testLinkUrl}}" target="_blank">Ir a TestLink</a>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-sm="100">
            <md-card>
                <md-card-title>
                    <div layout="row">
                        <span>Test Projects</span>
                        <span flex></span>
                        <!-- <button md-raised-button color="accent" [routerLink]="['/testlink/projects/new']">New Test Project</button> -->
                    </div>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content class="push-bottom-none">
                    <div *ngIf="projectsList.length === 0" class="push-top-md messageEmptyCard">
                        <md-icon>assignment</md-icon>
                        <p>No Test Projects created</p>
                    </div>
                    <td-data-table #projectsTable *ngIf="projectsList.length > 0" [class]="tableStyle" [data]="projectsList" [columns]="projectColumns"
                        [selectable]="false" [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder"
                        [style.height.px]="200">
                        <ng-template *ngFor="let column of projectColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
                            <div *ngIf="column.name !== 'options'" [routerLink]="['/testlink/projects', row.id]" class="hover-pointer">
                                <div *ngIf="column.name === 'notes'" [innerHTML]="value"></div>
                                <div *ngIf="column.name !== 'notes'">{{value}}</div>
                            </div>
                        </ng-template>
                        <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
                            <div layout="row" class="optionsColumn">
                                <button md-button [routerLink]="['/testlink/projects/edit', row.id]" stopRowClick class="iconBtn-lg" title="Edit Test Project">
                                    <md-icon>mode_edit</md-icon>
                                </button>
                                <!-- <button md-button (click)="deleteProject(row)" [disabled]="deletingInProgress" stopRowClick class="iconBtn-lg" title="Delete Project">
                                    <md-icon>delete</md-icon>
                                </button> -->
                            </div>
                        </ng-template>
                    </td-data-table>

                </md-card-content>
            </md-card>
        </div>
    </div>
</div>