<auto-height-grid id="testlinkPage" class="mat-content">
  <div *ngIf="!isRunning; else showTestLink">
    <mat-card>
      <mat-card-title>
        {{ startingInProcess ? 'Starting TestLink...' : 'TestLink container is not started yet' }}
      </mat-card-title>
      <mat-card-content>
        <button
          *ngIf="!startingInProcess; else showProgress"
          mat-button
          mat-raised-button
          color="accent"
          id="startTestLink"
          (click)="startTestLink()"
          matTooltip="Start TestLink container"
          [disabled]="startingInProcess"
        >
          <mat-icon>play_circle_outline</mat-icon> Start TestLink
        </button>
        <ng-template #showProgress>
          <div class="mat-subheading-1" *ngIf="testLinkModel && testLinkModel.statusMsg">{{ testLinkModel.statusMsg }}</div>
          <mat-spinner strokeWidth="6" color="accent" class="push-top-sm"></mat-spinner>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #showTestLink>
    <auto-height-row>
      <self-adjustable-card>
        <sa-card-title>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>TestLink</span>
            <a
              href="{{ testLinkUrl }}"
              id="openTestLink"
              class="iconBtn normalTextLink"
              target="_blank"
              matTooltip="Open TestLink in new tab"
              fxLayoutAlign="start center"
            >
              <mat-icon color="accent">open_in_new</mat-icon>
            </a>
            <span class="push-left-sm">
              <div fxLayout="column" class="mat-caption">
                <button mat-raised-button color="accent" (click)="openDialog()">Show credentials</button>
              </div>
            </span>
            <span fxFlex></span>
            <button
              mat-icon-button
              color="accent"
              id="syncTestLink"
              (click)="syncTestLink()"
              matTooltip="Sync data with ElasTest"
              [disabled]="disableBtns"
            >
              <mat-icon>sync</mat-icon>
            </button>
          </div>
        </sa-card-title>
        <sa-card-content class="push-bottom-none">
          <div class="mat-title push-bottom-sm">Test Projects</div>
          <mat-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
          <centered-element *ngIf="!showSpinner && projectsList.length === 0" class="push-top-important messageEmptyCard">
            <mat-icon>assignment</mat-icon>
            <p>No Test Projects created</p>
          </centered-element>
          <td-data-table
            #projectsTable
            id="tlProjects"
            *ngIf="projectsList.length > 0"
            class="useMaxHeight"
            [data]="projectsList"
            [columns]="projectColumns"
            [selectable]="false"
            [clickable]="true"
            [sortable]="true"
            [sortBy]="sortBy"
            [sortOrder]="sortOrder"
            (sortChange)="sort($event)"
            [resizableColumns]="true"
          >
            <ng-template
              *ngFor="let column of projectColumns"
              tdDataTableTemplate="{{ column.name }}"
              let-value="value"
              let-row="row"
            >
              <div *ngIf="column.name !== 'options'" [routerLink]="['/testlink/projects', row.id]" class="hover-pointer">
                <div *ngIf="column.name === 'notes'" [innerHTML]="value"></div>
                <div *ngIf="column.name !== 'notes'">{{ value }}</div>
              </div>
            </ng-template>
            <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
              <div fxLayout="row" class="optionsColumn">
                <button
                  mat-button
                  [routerLink]="['/testlink/projects/edit', row.id]"
                  stopRowClick
                  class="iconBtn-lg"
                  title="Edit Test Project"
                >
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <!-- <button mat-button (click)="deleteProject(row)" [disabled]="deletingInProgress" stopRowClick class="iconBtn-lg" title="Delete Project">
                                    <mat-icon>delete</mat-icon>
                                </button> -->
              </div>
            </ng-template>
          </td-data-table>
        </sa-card-content>
      </self-adjustable-card>
    </auto-height-row>
  </ng-template>
</auto-height-grid>
