/* For use in src/lib/core/theming/_palette.scss */
$md-elastestorange: (
    50 : #fff5e6,
    100 : #ffe6c1,
    200 : #ffd697,
    300 : #ffc56d,
    400 : #ffb84e,
    500 : #ffac2f,
    600 : #ffa52a,
    700 : #ff9b23,
    800 : #ff921d,
    900 : #ff8212,
    A100 : #ffffff,
    A200 : #fffcf9,
    A400 : #ffdfc6,
    A700 : #ffd1ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-elastestgrey: (
    50 : #ededed,
    100 : #d1d1d1,
    200 : #b3b3b3,
    300 : #949494,
    400 : #7d7d7d,
    500 : #666666,
    600 : #5e5e5e,
    700 : #535353,
    800 : #494949,
    900 : #383838,
    A100 : #f49c9c,
    A200 : #ef6e6e,
    A400 : #ff2a2a,
    A700 : #ff1111,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

