// Custom style for loading elements without height

/* 
   Main colors
   #FFAC2F
   #666666
   #333333
   #000000
   #ffffff
   #006572
   #669a13
*/

.will-load {
  min-height: 80px;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #000000 !important;
}

.color-elastest {
  color: #ffac2f !important;
}

.color-gray-1 {
  color: #333333 !important;
}

.color-gray-2 {
  color: #666666 !important;
}

.color-gray-3 {
  color: #999999 !important;
}

// Href line height wasn't right for mat-icon-button
a[mat-icon-button] {
  line-height: 36px;
}

.mat-button-little {
  min-width: initial !important;
}

.mat-button,
.mat-raised-button {
  line-height: 33px !important;
  padding: 0px 12px !important;
}

.matTooltip {
  font-size: 14px !important;
  background-color: #333 !important;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

:host ::ng-deep .noMarginInput > .mat-input-wrapper {
  margin: 0 !important;
}

:host ::ng-deep .noPaddingInput > .mat-input-wrapper {
  padding: 0 !important;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
  font-weight: 400;
}

.td-layout-manage-list-main > .td-layout-manage-list-content {
  overflow-x: hidden !important;
}

.td-message-label {
  font-weight: bold !important;
}

.mat-card,
.td-expansion-panel {
  margin: 5px !important;
}

.mat-card mat-card-title {
  padding: 10px 10px 0 12px !important;
  font-size: 22px;
  margin-bottom: 6px !important;
}
.mat-card mat-card-title:last-child {
  padding-bottom: 11px !important;
}

mat-card-title > div {
  align-items: center;
}

.mat-card .mat-card-content {
  padding: 10px;
}

mat-card-content a {
  color: #ffac2f;
  font-weight: bold;
}

.mat-tab-labels {
  background-color: #f5f5f5;
}

.mat-tab-label {
  height: 40px !important;
  padding: 0 18px !important;
  background-color: #f5f5f5;
  border-radius: 8px 8px 0 0;
  border-right: 1px solid #e1e1e1;
  // border-left: 1px solid #e1e1e1;
}

.mat-tab-label-active {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87) !important;
  opacity: 1 !important;
  border-top: 1px solid #eaeaea;
}

.matTabOnlyBtn {
  width: 30px !important;
  height: 30px !important;
}

.matTabOnlyBtn span.mat-button-wrapper {
  padding: 0 !important;
  margin-left: -4px !important;
  font-size: 33px !important;
  font-weight: normal !important;
}

.matTabOnlyBtn mat-icon {
  font-size: 20px !important;
  width: 0.8em !important;
  height: 0.8em !important;
}

:host ::ng-deep div:has(button) {
  opacity: 1 !important;
}

a.normalTextLink {
  text-decoration: none;
  color: #000;
}

.mat-icon.mat-icon-logo {
  width: 172px !important;
}

.mat-clickable .td-data-table-row:hover {
  cursor: pointer;
}

.hover-pointer:hover {
  cursor: pointer;
}

.wrapColumn {
  white-space: normal !important;
}

.ellipsisNoWrapColumn {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow-x: hidden;
}

td-data-table {
  // overflow-x: auto !important;
}

thead > tr.td-data-table-column-row {
  height: 38px !important;
}

.td-data-table-heading,
.td-data-table-cell-content-wrapper {
  padding: 0 18px !important;
}

tbody > tr.td-data-table-row {
  height: 42px !important;
}

// Breaks table width on update Angular (09/01/2019)
// .td-data-table-cell,
// .td-data-table-column {
//   padding: 0 15px 0 15px !important;
// }

// .td-data-table-cell,
// .td-data-table-column {
//   line-height: 28px !important;
//   min-width: initial !important;
//   max-width: initial !important;
// }

// // [style] set to override magically !important
// body table.td-data-table[style] {
//   width: 100% !important;
// }
// body td-data-table {
//   display: inline !important;
// }

.td-data-table-cell > div > div {
  flex-wrap: wrap;
  // word-break: break-word;
}

.td-data-table-cell > div,
.td-data-table-cell > div > span,
.td-data-table-cell > div > div,
.td-data-table-cell > div > div > span,
.td-data-table-cell > div > div > div {
  word-break: break-word;
}

textarea[autosize] {
  resize: none;
}

//
#dataTable > div,
.scroll_table > div {
  max-height: 74vh !important;
}

#dataTable table,
.scroll_table table {
  overflow-y: auto !important;
}

td-data-table {
  border-bottom: 0 !important;
}

.td-data-table-scrollable {
  overflow-x: hidden !important;
}

td-data-table.useMaxHeight div {
  max-height: 100% !important;
}

.tableCodeField {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: normal;
}

.lineHeightNormal {
  line-height: normal;
}

.optionsColumn {
  :first-child {
    // padding-left: 0px !important;
  }
}

.hiddenElement {
  position: absolute;
  margin-left: -50000px;
}

.overflowHidden {
  overflow: hidden !important;
}

.displayBlock {
  display: block !important;
}

.floatRight {
  float: right;
}

.fontsizeInitial {
  font-size: initial;
}

.centeredStatusIconSpan {
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.onlyIconBtn {
  min-width: initial !important;
  padding: 0px !important;
}

.iconBtn-xs {
  min-width: initial !important;
  padding: 0 3px !important;
}

.iconBtn {
  min-width: initial !important;
  padding: 0 6px !important;
}

.iconBtn-sm {
  min-width: initial !important;
  padding: 0 9px !important;
}

.iconBtn-md {
  min-width: initial !important;
  padding: 0 12px !important;
}

.iconBtn-lg {
  min-width: initial !important;
  padding: 0 15px !important;
}

.snackBarHidden {
  visibility: hidden;
}

.mat-dialog-container {
  max-width: 100% !important;
}

.boxShadowNone {
  box-shadow: none !important;
}

.fontBold {
  font-weight: bold !important;
}

.push-none {
  margin: 0px !important;
}
.push-top-none {
  margin-top: 0px !important;
}
.push-right-none {
  margin-right: 0px !important;
}
.push-bottom-none {
  margin-bottom: 0px !important;
}
.push-left-none {
  margin-left: 0px !important;
}

.push-xs {
  margin: 4px !important;
}
.push-top-xs {
  margin-top: 4px !important;
}
.push-right-xs {
  margin-right: 4px !important;
}
.push-bottom-xs {
  margin-bottom: 4px !important;
}
.push-left-xs {
  margin-left: 4px !important;
}

.push-sm-important {
  margin: 7px !important;
}
.push-top-sm-important {
  margin-top: 7px !important;
}
.push-right-sm-important {
  margin-right: 7px !important;
}
.push-bottom-sm-important {
  margin-bottom: 7px !important;
}
.push-left-sm-important {
  margin-left: 7px !important;
}

.push-mat-important {
  margin: 10px !important;
}
.push-top-mat-important {
  margin-top: 10px !important;
}
.push-right-mat-important {
  margin-right: 10px !important;
}
.push-bottom-mat-important {
  margin-bottom: 10px !important;
}
.push-left-mat-important {
  margin-left: 10px !important;
}

.push-important {
  margin: 20px !important;
}
.push-top-important {
  margin-top: 20px !important;
}
.push-right-important {
  margin-right: 20px !important;
}
.push-bottom-important {
  margin-bottom: 20px !important;
}
.push-left-important {
  margin-left: 20px !important;
}

.pad-none {
  padding: 0px !important;
}
.pad-top-none {
  padding-top: 0px !important;
}
.pad-right-none {
  padding-right: 0px !important;
}
.pad-bottom-none {
  padding-bottom: 0px !important;
}
.pad-left-none {
  padding-left: 0px !important;
}

.pad-xs {
  padding: 4px !important;
}
.pad-top-xs {
  padding-top: 4px !important;
}
.pad-right-xs {
  padding-right: 4px !important;
}
.pad-bottom-xs {
  padding-bottom: 4px !important;
}
.pad-left-xs {
  padding-left: 4px !important;
}
.listInfoToLeft {
  padding-top: 0px;
}
.listInfoToLeft p {
  margin-left: auto;
}
.messageEmptyCard {
  text-align: center;
  color: #727272;
}
.spinnerCenter {
  margin: auto;
}
@media (max-width: 600px) {
  .mat-icon.mat-icon-logo {
    width: 154px !important;
  }
}

/* xs */

.margin-gt-xs {
  margin: 1.5em !important;
}
.margin-top-gt-xs {
  margin-top: 1.5em !important;
}
.margin-bottom-gt-xs {
  margin-bottom: 1.5em !important;
}
.margin-right-gt-xs {
  margin-right: 1.5em !important;
}
.margin-left-gt-xs {
  margin-left: 1.5em !important;
}

.margin-none-gt-xs {
  margin: 0 !important;
}

.margin-left-none-gt-xs {
  margin-left: 0 !important;
}

/* sm */
@media (min-width: 601px) {
  .margin-gt-sm {
    margin: 1.5em !important;
  }
  .margin-top-gt-sm {
    margin-top: 1.5em !important;
  }
  .margin-bottom-gt-sm {
    margin-bottom: 1.5em !important;
  }
  .margin-right-gt-sm {
    margin-right: 1.5em !important;
  }
  .margin-left-gt-sm {
    margin-left: 1.5em !important;
  }

  .margin-none-gt-sm {
    margin: 0 !important;
  }
  .margin-top-gt-sm {
    margin-top: 0 !important;
  }
  .margin-right-none-gt-sm {
    margin-right: 0 !important;
  }

  .margin-bottom-none-gt-sm {
    margin-bottom: 0 !important;
  }

  .margin-left-none-gt-sm {
    margin-left: 0 !important;
  }

  .mat-icon.mat-icon-logo {
    width: 172px !important;
  }
}

/* md */
@media (min-width: 961px) {
  .margin-gt-md {
    margin: 1.5em !important;
  }
  .margin-top-gt-md {
    margin-top: 1.5em !important;
  }
  .margin-bottom-gt-md {
    margin-bottom: 1.5em !important;
  }
  .margin-right-gt-md {
    margin-right: 1.5em !important;
  }
  .margin-left-gt-md {
    margin-left: 1.5em !important;
  }
  .mat-icon.mat-icon-logo {
    width: 144px !important;
  }
}

/* lg */
@media (min-width: 1281px) {
  .margin-gt-lg {
    margin: 1.5em !important;
  }
  .margin-top-gt-lg {
    margin-top: 1.5em !important;
  }
  .margin-bottom-gt-lg {
    margin-bottom: 1.5em !important;
  }
  .margin-right-gt-lg {
    margin-right: 1.5em !important;
  }
  .margin-left-gt-lg {
    margin-left: 1.5em !important;
  }

  .mat-icon.mat-icon-logo {
    width: 165px !important;
  }
}

/* xl */
@media (min-width: 1367px) {
  .margin-gt-xl {
    margin: 1.5em !important;
  }
  .margin-top-gt-xl {
    margin-top: 1.5em !important;
  }
  .margin-bottom-gt-xl {
    margin-bottom: 1.5em !important;
  }
  .margin-right-gt-xl {
    margin-right: 1.5em !important;
  }
  .margin-left-gt-xl {
    margin-left: 1.5em !important;
  }
}

@media (min-width: 1367px) {
  [custom-fxFlex-xl='5'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
    max-width: 5% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='10'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
    max-width: 10% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='15'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
    max-width: 15% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='20'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
    max-width: 20% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='25'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
    max-width: 25% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='30'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
    max-width: 30% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='35'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
    max-width: 35% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='40'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
    max-width: 40% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='45'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
    max-width: 45% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='50'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 50% !important;
    flex: 1 1 50% !important;
    max-width: 50% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='55'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
    max-width: 55% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='60'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
    max-width: 60% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='65'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
    max-width: 65% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='70'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
    max-width: 70% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='75'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
    max-width: 75% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='80'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 80% !important;
    flex: 1 1 80% !important;
    max-width: 80% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='85'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
    max-width: 85% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='90'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
    max-width: 90% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='95'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
    max-width: 95% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xl='100'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }

  [custom-fxFlex-offset-xl='5'] {
    margin-left: 5% !important;
  }
  [custom-fxFlex-offset-xl='10'] {
    margin-left: 10% !important;
  }
  [custom-fxFlex-offset-xl='15'] {
    margin-left: 15% !important;
  }
  [custom-fxFlex-offset-xl='20'] {
    margin-left: 20% !important;
  }
}

/* xxl */
@media (min-width: 1681px) {
  .margin-gt-xxl {
    margin: 1.5em !important;
  }
  .margin-top-gt-xxl {
    margin-top: 1.5em !important;
  }
  .margin-bottom-gt-xxl {
    margin-bottom: 1.5em !important;
  }
  .margin-right-gt-xxl {
    margin-right: 1.5em !important;
  }
  .margin-left-gt-xxl {
    margin-left: 1.5em !important;
  }
}

@media (min-width: 1681px) {
  [custom-fxFlex-xxl='5'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
    max-width: 5% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='10'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
    max-width: 10% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='15'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
    max-width: 15% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='20'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
    max-width: 20% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='25'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
    max-width: 25% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='30'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
    max-width: 30% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='35'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
    max-width: 35% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='40'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
    max-width: 40% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='45'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
    max-width: 45% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='50'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 50% !important;
    flex: 1 1 50% !important;
    max-width: 50% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='55'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
    max-width: 55% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='60'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
    max-width: 60% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='65'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
    max-width: 65% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='70'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
    max-width: 70% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='75'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
    max-width: 75% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='80'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 80% !important;
    flex: 1 1 80% !important;
    max-width: 80% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='85'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
    max-width: 85% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='90'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
    max-width: 90% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='95'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
    max-width: 95% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [custom-fxFlex-xxl='100'] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }

  [custom-fxFlex-offset-xxl='5'] {
    margin-left: 5% !important;
  }
  [custom-fxFlex-offset-xxl='10'] {
    margin-left: 10% !important;
  }
  [custom-fxFlex-offset-xxl='15'] {
    margin-left: 15% !important;
  }
  [custom-fxFlex-offset-xxl='20'] {
    margin-left: 20% !important;
  }
}

@media (min-width: 1920px) {
  [fxFlex\.gt-xl='grow'],
  [fxFlex\.gt-xl-grow] {
    flex: 1 1 100% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='initial'],
  [fxFlex\.gt-xl-initial] {
    flex: 0 1 auto !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='auto'],
  [fxFlex\.gt-xl-auto] {
    flex: 1 1 auto !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='none'],
  [fxFlex\.gt-xl-none] {
    flex: 0 0 auto !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='noshrink'],
  [fxFlex\.gt-xl-noshrink] {
    flex: 1 0 auto !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='nogrow'],
  [fxFlex\.gt-xl-nogrow] {
    flex: 0 1 auto !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='0'] {
    flex: 1 1 0% !important;
    max-width: 0% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='0'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='0'] {
    flex: 1 1 0% !important;
    max-width: 0% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='0'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='0'] {
    flex: 1 1 0% !important;
    max-width: 100% !important;
    max-height: 0% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='5'] {
    flex: 1 1 5% !important;
    max-width: 5% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='5'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='5'] {
    flex: 1 1 5% !important;
    max-width: 5% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='5'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='5'] {
    flex: 1 1 5% !important;
    max-width: 100% !important;
    max-height: 5% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='10'] {
    flex: 1 1 10% !important;
    max-width: 10% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='10'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='10'] {
    flex: 1 1 10% !important;
    max-width: 10% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='10'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='10'] {
    flex: 1 1 10% !important;
    max-width: 100% !important;
    max-height: 10% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='15'] {
    flex: 1 1 15% !important;
    max-width: 15% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='15'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='15'] {
    flex: 1 1 15% !important;
    max-width: 15% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='15'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='15'] {
    flex: 1 1 15% !important;
    max-width: 100% !important;
    max-height: 15% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='20'] {
    flex: 1 1 20% !important;
    max-width: 20% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='20'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='20'] {
    flex: 1 1 20% !important;
    max-width: 20% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='20'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='20'] {
    flex: 1 1 20% !important;
    max-width: 100% !important;
    max-height: 20% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='25'] {
    flex: 1 1 25% !important;
    max-width: 25% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='25'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='25'] {
    flex: 1 1 25% !important;
    max-width: 25% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='25'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='25'] {
    flex: 1 1 25% !important;
    max-width: 100% !important;
    max-height: 25% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='30'] {
    flex: 1 1 30% !important;
    max-width: 30% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='30'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='30'] {
    flex: 1 1 30% !important;
    max-width: 30% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='30'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='30'] {
    flex: 1 1 30% !important;
    max-width: 100% !important;
    max-height: 30% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='35'] {
    flex: 1 1 35% !important;
    max-width: 35% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='35'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='35'] {
    flex: 1 1 35% !important;
    max-width: 35% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='35'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='35'] {
    flex: 1 1 35% !important;
    max-width: 100% !important;
    max-height: 35% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='40'] {
    flex: 1 1 40% !important;
    max-width: 40% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='40'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='40'] {
    flex: 1 1 40% !important;
    max-width: 40% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='40'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='40'] {
    flex: 1 1 40% !important;
    max-width: 100% !important;
    max-height: 40% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='45'] {
    flex: 1 1 45% !important;
    max-width: 45% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='45'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='45'] {
    flex: 1 1 45% !important;
    max-width: 45% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='45'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='45'] {
    flex: 1 1 45% !important;
    max-width: 100% !important;
    max-height: 45% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='50'] {
    flex: 1 1 50% !important;
    max-width: 50% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='50'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='50'] {
    flex: 1 1 50% !important;
    max-width: 50% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='50'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='50'] {
    flex: 1 1 50% !important;
    max-width: 100% !important;
    max-height: 50% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='55'] {
    flex: 1 1 55% !important;
    max-width: 55% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='55'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='55'] {
    flex: 1 1 55% !important;
    max-width: 55% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='55'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='55'] {
    flex: 1 1 55% !important;
    max-width: 100% !important;
    max-height: 55% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='60'] {
    flex: 1 1 60% !important;
    max-width: 60% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='60'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='60'] {
    flex: 1 1 60% !important;
    max-width: 60% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='60'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='60'] {
    flex: 1 1 60% !important;
    max-width: 100% !important;
    max-height: 60% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='65'] {
    flex: 1 1 65% !important;
    max-width: 65% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='65'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='65'] {
    flex: 1 1 65% !important;
    max-width: 65% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='65'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='65'] {
    flex: 1 1 65% !important;
    max-width: 100% !important;
    max-height: 65% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='70'] {
    flex: 1 1 70% !important;
    max-width: 70% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='70'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='70'] {
    flex: 1 1 70% !important;
    max-width: 70% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='70'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='70'] {
    flex: 1 1 70% !important;
    max-width: 100% !important;
    max-height: 70% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='75'] {
    flex: 1 1 75% !important;
    max-width: 75% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='75'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='75'] {
    flex: 1 1 75% !important;
    max-width: 75% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='75'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='75'] {
    flex: 1 1 75% !important;
    max-width: 100% !important;
    max-height: 75% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='80'] {
    flex: 1 1 80% !important;
    max-width: 80% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='80'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='80'] {
    flex: 1 1 80% !important;
    max-width: 80% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='80'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='80'] {
    flex: 1 1 80% !important;
    max-width: 100% !important;
    max-height: 80% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='85'] {
    flex: 1 1 85% !important;
    max-width: 85% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='85'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='85'] {
    flex: 1 1 85% !important;
    max-width: 85% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='85'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='85'] {
    flex: 1 1 85% !important;
    max-width: 100% !important;
    max-height: 85% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='90'] {
    flex: 1 1 90% !important;
    max-width: 90% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='90'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='90'] {
    flex: 1 1 90% !important;
    max-width: 90% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='90'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='90'] {
    flex: 1 1 90% !important;
    max-width: 100% !important;
    max-height: 90% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='95'] {
    flex: 1 1 95% !important;
    max-width: 95% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='95'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='95'] {
    flex: 1 1 95% !important;
    max-width: 95% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='95'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='95'] {
    flex: 1 1 95% !important;
    max-width: 100% !important;
    max-height: 95% !important;
    box-sizing: border-box !important;
  }
  [fxFlex\.gt-xl='100'] {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='100'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='100'] {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='100'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='100'] {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='33'],
  [fxLayout='row'] > [fxFlex\.gt-xl='33'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='33'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='33'] {
    flex: 1 1 33% !important;
    max-width: calc(100% / 3) !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='34'],
  [fxLayout='row'] > [fxFlex\.gt-xl='34'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='34'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='34'] {
    flex: 1 1 34% !important;
    max-width: 34% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='66'],
  [fxLayout='row'] > [fxFlex\.gt-xl='66'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='66'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='66'] {
    flex: 1 1 66% !important;
    max-width: calc(200% / 3) !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='row'] > [fxFlex\.gt-xl='67'],
  [fxLayout='row'] > [fxFlex\.gt-xl='67'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='67'],
  [fxLayout\.gt-xl='row'] > [fxFlex\.gt-xl='67'] {
    flex: 1 1 67% !important;
    max-width: 67% !important;
    max-height: 100% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='33'],
  [fxLayout='column'] > [fxFlex\.gt-xl='33'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='33'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='33'] {
    flex: 1 1 33% !important;
    max-width: 100% !important;
    max-height: calc(100% / 3) !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='34'],
  [fxLayout='column'] > [fxFlex\.gt-xl='34'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='34'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='34'] {
    flex: 1 1 34% !important;
    max-width: 100% !important;
    max-height: 34% !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='66'],
  [fxLayout='column'] > [fxFlex\.gt-xl='66'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='66'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='66'] {
    flex: 1 1 66% !important;
    max-width: 100% !important;
    max-height: calc(200% / 3) !important;
    box-sizing: border-box !important;
  }
  [fxLayout='column'] > [fxFlex\.gt-xl='67'],
  [fxLayout='column'] > [fxFlex\.gt-xl='67'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='67'],
  [fxLayout\.gt-xl='column'] > [fxFlex\.gt-xl='67'] {
    flex: 1 1 67% !important;
    max-width: 100% !important;
    max-height: 67% !important;
    box-sizing: border-box !important;
  }
  [fxLayout\.gt-xl],
  [fxLayout\.gt-xl='column'],
  [fxLayout\.gt-xl='row'] {
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  [fxLayout\.gt-xl='column'] {
    flex-direction: column !important;
  }
  [fxLayout\.gt-xl='row'] {
    flex-direction: row !important;
  }
}

mat-card {
  flex-direction: column;
}

fa-icon.mat-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}

fa-icon.mat-icon > svg {
  vertical-align: middle;
  width: 0.8em !important;
  height: 0.8em !important;
  padding: 0.1em;
}

.wordBreakAll {
  word-break: break-all;
}

.td-expansion-panel-header-content {
  height: 40px !important;
  padding: 0 18px !important;
}

td-expansion-panel.dark > div.td-expansion-panel-header,
td-expansion-panel.dark > div.td-expansion-panel-header:focus {
  background-color: #666666 !important;
  color: #ffffff !important;
}

td-expansion-panel.dark mat-icon.td-expand-icon,
td-expansion-panel.dark .td-expansion-label {
  color: #ffffff !important;
}

td-expansion-panel.dark > div.td-expansion-panel-header:hover,
td-expansion-panel.dark > div.td-expansion-panel-header:hover .td-expansion-label,
td-expansion-panel.dark > div.td-expansion-panel-header:hover mat-icon.td-expand-icon {
  background-color: #eeeeee !important;
  color: #333333 !important;
}

td-expansion-panel.accent > div.td-expansion-panel-header,
td-expansion-panel.accent > div.td-expansion-panel-header:focus {
  background-color: #ffab2f !important;
  color: #ffffff !important;
}

td-expansion-panel.accent mat-icon.td-expand-icon,
td-expansion-panel.accent .td-expansion-label {
  color: #ffffff !important;
  font-weight: bold !important;
}

td-expansion-panel.accent > div.td-expansion-panel-header:hover,
td-expansion-panel.accent > div.td-expansion-panel-header:hover .td-expansion-label,
td-expansion-panel.accent > div.td-expansion-panel-header:hover mat-icon.td-expand-icon {
  background-color: #eeeeee !important;
  color: #000000de !important;
  font-weight: normal !important;
}

.highlightedInfo {
  color: #ffffff !important;
  background-color: #006572 !important;
}

.highlightedInfo mat-card-subtitle {
  font-weight: bold;
  // color: #ffe933 !important;
  color: #ffffff !important;
}

.highlightedInfo h1,
.highlightedInfo h2,
.highlightedInfo h3,
.highlightedInfo h4,
.highlightedInfo h5,
.highlightedInfo h6 {
  color: #ffffff !important;
}

.infoBoard {
  border: dashed 1px #bbbbbb;
}

.boardTitle {
  background: #666666;
  color: #fff;
  font-weight: bold !important;
  padding: 8px 16px !important;
  text-align: center !important;
}

.iconCircleInHighlight {
  border-radius: 16px;
  border: 1px solid #fff;
  background-color: #fff;
}
