// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}

.color-white{
    color: #fff !important;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
    font-weight: 400;
}


md-card-content a {
    color: #ffac2f;
    font-weight: bold;
}

.mat-icon.md-icon-logo{
    width: 172px !important;
}


.mat-clickable .td-data-table-row:hover{
    cursor: pointer;
}

.hover-pointer:hover{
    cursor: pointer;
}

.td-data-table-cell, .td-data-table-column{
    padding: 0 15px 0 15px !important;
}

.td-data-table-cell{
    line-height: 40px !important;
}

//
#dataTable > div, .scroll_table div{
    max-height: 74vh !important;
}
#dataTable table, .scroll_table table{
    overflow-y: auto !important;
}

.hiddenElement{
    position: absolute;
    margin-left:-50000px
}

.overflowHidden{
    overflow: hidden !important;
}

.floatRight{
    float: right;
}

.fontsizeInitial{
    font-size: initial;
}

.iconBtn{
    min-width: initial !important;
    padding: 0 6px !important;
}

.iconBtn-lg{
    min-width: initial !important;
    padding: 0 15px !important;
}

.snackBarHidden{
   visibility: hidden; 
}

.boxShadowNone{
    box-shadow: none !important;
}

.push-none{
    margin: 0px !important;
}
.push-top-none{
    margin-top: 0px !important;
}
.push-right-none{
    margin-right: 0px !important;
}
.push-bottom-none{
    margin-bottom: 0px !important;
}
.push-left-none{
    margin-left: 0px !important;
}


.pad-none{
    padding: 0px !important;
}
.pad-top-none{
    padding-top: 0px !important;
}
.pad-right-none{
    padding-right: 0px !important;
}
.pad-bottom-none{
    padding-bottom: 0px !important;
}
.pad-left-none{
    padding-left: 0px !important;
}



    @media (max-width : 600px) {
        .mat-icon.md-icon-logo{
            width: 154px !important;
        }        
    }

    /* xs */ 
    
    .margin-gt-xs{
        margin: 1.5em !important;
    }
    .margin-top-gt-xs{
        margin-top: 1.5em !important;
    }
    .margin-bottom-gt-xs{
        margin-bottom: 1.5em !important;
    }
    .margin-right-gt-xs{
        margin-right: 1.5em !important;
    }
    .margin-left-gt-xs{
        margin-left: 1.5em !important;
    }

    .margin-none-gt-xs{
        margin: 0 !important;
    }
    
    .margin-left-none-gt-xs{
        margin-left: 0 !important;
    }    

     /* sm */ 
    @media (min-width : 601px) {
        .margin-gt-sm{
            margin: 1.5em !important;
        }
        .margin-top-gt-sm{
            margin-top: 1.5em !important;
        }
        .margin-bottom-gt-sm{
            margin-bottom: 1.5em !important;
        }
        .margin-right-gt-sm{
            margin-right: 1.5em !important;
        }
        .margin-left-gt-sm{
            margin-left: 1.5em !important;
        }
        
        .margin-none-gt-sm{
            margin: 0 !important;
        }
        .margin-top-gt-sm{
            margin-top: 0 !important;
        }
        .margin-right-none-gt-sm{
            margin-right: 0 !important;
        }

        .margin-bottom-none-gt-sm{
            margin-bottom: 0 !important;
        }
        
        .margin-left-none-gt-sm{
            margin-left: 0 !important;
        }

        .mat-icon.md-icon-logo{
            width: 172px !important;
        }
    }

    /* md */
    @media (min-width : 961px) {
        .margin-gt-md{
            margin: 1.5em !important;
        }
        .margin-top-gt-md{
            margin-top: 1.5em !important;
        }
        .margin-bottom-gt-md{
            margin-bottom: 1.5em !important;
        }
        .margin-right-gt-md{
            margin-right: 1.5em !important;
        }
        .margin-left-gt-md{
            margin-left: 1.5em !important;
        }
        .mat-icon.md-icon-logo{
            width: 144px !important;
        }        
    }

    /* lg */
    @media (min-width : 1281px) {
        .margin-gt-lg{
            margin: 1.5em !important;
        }
        .margin-top-gt-lg{
            margin-top: 1.5em !important;
        }
        .margin-bottom-gt-lg{
            margin-bottom: 1.5em !important;
        }
        .margin-right-gt-lg{
            margin-right: 1.5em !important;
        }
        .margin-left-gt-lg{
            margin-left: 1.5em !important;
        }

        .mat-icon.md-icon-logo{
            width: 165px !important;
        }
    }


    /* xl */
    @media (min-width : 1367px) {
        .margin-gt-xl{
            margin: 1.5em !important;
        }
        .margin-top-gt-xl{
            margin-top: 1.5em !important;
        }
        .margin-bottom-gt-xl{
            margin-bottom: 1.5em !important;
        }
        .margin-right-gt-xl{
            margin-right: 1.5em !important;
        }
        .margin-left-gt-xl{
            margin-left: 1.5em !important;
        }
    }


    @media (min-width: 1367px){
        [custom-flex-xl="5"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 5% !important;
            flex: 1 1 5% !important;
            max-width: 5% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="10"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 10% !important;
            flex: 1 1 10% !important;
            max-width: 10% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }                
        [custom-flex-xl="15"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 15% !important;
            flex: 1 1 15% !important;
            max-width: 15% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="20"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 20% !important;
            flex: 1 1 20% !important;
            max-width: 20% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="25"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 25% !important;
            flex: 1 1 25% !important;
            max-width: 25% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="30"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 30% !important;
            flex: 1 1 30% !important;
            max-width: 30% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }                
        [custom-flex-xl="35"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 35% !important;
            flex: 1 1 35% !important;
            max-width: 35% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="40"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 40% !important;
            flex: 1 1 40% !important;
            max-width: 40% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }        
        [custom-flex-xl="45"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 45% !important;
            flex: 1 1 45% !important;
            max-width: 45% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="50"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 50% !important;
            flex: 1 1 50% !important;
            max-width: 50% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="55"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 55% !important;
            flex: 1 1 55% !important;
            max-width: 55% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="60"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 60% !important;
            flex: 1 1 60% !important;
            max-width: 60% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="65"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 65% !important;
            flex: 1 1 65% !important;
            max-width: 65% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }    
        [custom-flex-xl="70"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 70% !important;
            flex: 1 1 70% !important;
            max-width: 70% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="75"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 75% !important;
            flex: 1 1 75% !important;
            max-width: 75% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="80"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 80% !important;
            flex: 1 1 80% !important;
            max-width: 80% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="85"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 85% !important;
            flex: 1 1 85% !important;
            max-width: 85% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="90"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 90% !important;
            flex: 1 1 90% !important;
            max-width: 90% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="95"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 95% !important;
            flex: 1 1 95% !important;
            max-width: 95% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xl="100"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }             
        
        [custom-flex-offset-xl="5"] {
            margin-left: 5% !important;
        }       
        [custom-flex-offset-xl="10"] {
            margin-left: 10% !important;
        }       
        [custom-flex-offset-xl="15"] {
            margin-left: 15% !important;
        }       
        [custom-flex-offset-xl="20"] {
            margin-left: 20% !important;
        }                                     
    }


     /* xxl */
     @media (min-width : 1681px) {
        .margin-gt-xxl{
            margin: 1.5em !important;
        }
        .margin-top-gt-xxl{
            margin-top: 1.5em !important;
        }
        .margin-bottom-gt-xxl{
            margin-bottom: 1.5em !important;
        }
        .margin-right-gt-xxl{
            margin-right: 1.5em !important;
        }
        .margin-left-gt-xxl{
            margin-left: 1.5em !important;
        }
    }


    @media (min-width: 1681px){
        [custom-flex-xxl="5"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 5% !important;
            flex: 1 1 5% !important;
            max-width: 5% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="10"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 10% !important;
            flex: 1 1 10% !important;
            max-width: 10% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }                
        [custom-flex-xxl="15"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 15% !important;
            flex: 1 1 15% !important;
            max-width: 15% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="20"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 20% !important;
            flex: 1 1 20% !important;
            max-width: 20% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="25"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 25% !important;
            flex: 1 1 25% !important;
            max-width: 25% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="30"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 30% !important;
            flex: 1 1 30% !important;
            max-width: 30% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }                
        [custom-flex-xxl="35"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 35% !important;
            flex: 1 1 35% !important;
            max-width: 35% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="40"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 40% !important;
            flex: 1 1 40% !important;
            max-width: 40% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }        
        [custom-flex-xxl="45"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 45% !important;
            flex: 1 1 45% !important;
            max-width: 45% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="50"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 50% !important;
            flex: 1 1 50% !important;
            max-width: 50% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="55"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 55% !important;
            flex: 1 1 55% !important;
            max-width: 55% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="60"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 60% !important;
            flex: 1 1 60% !important;
            max-width: 60% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="65"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 65% !important;
            flex: 1 1 65% !important;
            max-width: 65% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }    
        [custom-flex-xxl="70"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 70% !important;
            flex: 1 1 70% !important;
            max-width: 70% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="75"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 75% !important;
            flex: 1 1 75% !important;
            max-width: 75% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="80"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 80% !important;
            flex: 1 1 80% !important;
            max-width: 80% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="85"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 85% !important;
            flex: 1 1 85% !important;
            max-width: 85% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="90"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 90% !important;
            flex: 1 1 90% !important;
            max-width: 90% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="95"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 95% !important;
            flex: 1 1 95% !important;
            max-width: 95% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }
        [custom-flex-xxl="100"] {
            -webkit-box-flex: 1 !important;
            -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
            box-sizing: border-box !important;
        }             
        
        [custom-flex-offset-xxl="5"] {
            margin-left: 5% !important;
        }       
        [custom-flex-offset-xxl="10"] {
            margin-left: 10% !important;
        }       
        [custom-flex-offset-xxl="15"] {
            margin-left: 15% !important;
        }       
        [custom-flex-offset-xxl="20"] {
            margin-left: 20% !important;
        }                                     
    }