<h2 mat-dialog-title>Select a Build</h2>
<mat-dialog-content>
  <div fxLayout="row" class="push-bottom-md" *ngIf="ready; else notReadyMsg">
    <ng-container *ngIf="testPlanCases !== undefined && testPlanCases.length > 0; else noTestCases">
      <mat-select fxFlex [(ngModel)]="selectedBuild" placeholder="Select a build" id="selectBuild" name="selectBuild"
        #nameControl="ngModel" required>
        <mat-option *ngFor="let build of builds; let i = index" id="build{{i}}" [value]="build">
          {{build.name}}
        </mat-option>
      </mat-select>
    </ng-container>
    <ng-template #noTestCases>
      <div class="mat-title">There are not associated test cases. Cannot run Test Plan</div>
    </ng-template>
  </div>
  <ng-template #notReadyMsg>
    <div class="mat-title" *ngIf="!builds || builds.length > 0; else noBuilds">There are not builds. Cannot run Test
      Plan</div>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" #runPlanModalBtn id="runPlanModalBtn" (click)="runTestPlan()"
    [disabled]="selectedBuild === undefined">Run Test Plan</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>