<div fxLayout.gt-sm="row" tdMediaToggle="gt-xs">
  <div fxFlex.gt-sm="100">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-title>
        <span *ngIf="testPlan && testPlan.id == 0">New Test Plan</span>
        <span *ngIf="testPlan && testPlan.id > 0">Edit Test Plan "{{testPlan.name}}"</span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="push-bottom-none">
        <form #planForm="ngForm">

          <div fxLayout.gt-md="row" fxLayout.md="row" fxLayout="column" class="push-top push-bottom">
            <mat-form-field fxFlex.gt-md="20" fxFlex.md="20">
              <input matInput #planNameInput #nameControl="ngModel" type="text" placeholder="Test Plan Name" [(ngModel)]="testPlan.name"
                name="testPlan.name" maxlength="50" required>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="testPlan.active" name="active" fxFlex.gt-md="5" fxFlex.md="5" fxFlexOffset.md="5"
              fxFlexOffset.gt-md="5">Active</mat-checkbox>
            <mat-checkbox [(ngModel)]="testPlan.public" name="public" fxFlex.gt-md="5" fxFlex.md="5" fxFlexOffset.md="5"
              fxFlexOffset.gt-md="5">Public</mat-checkbox>
          </div>

          <div fxLayout="column" class="push-top-sm">
            <mat-form-field>
              <textarea id="notes" autosize matInput #nameControl="ngModel" placeholder="Notes" [(ngModel)]="testPlan.notes"
                name="notes"></textarea>
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button [disabled]="!planForm.valid" color="primary" (click)="save()">SAVE</button>
        <button mat-button (click)="goBack()">CANCEL</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>