<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>
    Sut
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content class="push-bottom-none">
    <form #sutForm="ngForm">

      <div layout-gt-md="row" layout-md="row" layout="column" class="push-top push-bottom">
        <md-input-container flex-gt-md="45" flex-md="45">
          <input mdInput type="text" placeholder="SuT Name" [(ngModel)]="sut.name" name="sutName" required>
        </md-input-container>
        <md-input-container flex-gt-md="45" flex-md="45" flex-offset-md="5" flex-offset-gt-md="5">
          <input mdInput type="text" placeholder="SuT Description" [(ngModel)]="sut.description" name="sutDesc" required>
        </md-input-container>
      </div>

      <div layout="column" class="push-top push-bottom">
        <md-radio-group #radioGroup (change)="sutBy(imageName.checked ? 'imageName' : 'repository')">
          <md-radio-button #imageName name="imageName" value="imageNameChecked" [checked]="imageNameChecked" class="push-right">
            By Image Name
          </md-radio-button>

          <md-radio-button #repository name="repository" value="repoNameChecked" [checked]="repoNameChecked">
            By GitHub App Repository
          </md-radio-button>
        </md-radio-group>
        <div layout="row" class="push-top">
          <md-input-container flex="100" *ngIf="imageName.checked">
            <input mdInput type="text" placeholder="SuT Image Name" [(ngModel)]="sut.imageName" name="sutImageName" required>
          </md-input-container>
          <md-input-container flex="100" *ngIf="repository.checked">
            <input mdInput type="text" placeholder="SuT GitHub App Repository" [(ngModel)]="sut.specification" name="sutRepo" required>
          </md-input-container>
        </div>
      </div>
    </form>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button [disabled]="!sutForm.valid" color="primary" (click)="save()">SAVE</button>
    <button md-button color="primary" (click)="cancel()">CANCEL</button>
  </md-card-actions>
</md-card>