#composeSpec {
  font-family: 'Lucida Console', monospace;
}

:host ::ng-deep .noPaddingChilds .mat-list-item-content {
  padding: 0px !important;
}

#commands {
  font-family: 'Lucida Console', monospace;
  z-index: -500;
  position: absolute;
}

#commandsCodeEditor {
  max-width: 100%;
  height: 220px;
  min-height: 220px;
}

#commandsCodeEditor > div > div {
  max-width: 100%;
}

:host ::ng-deep #commandsMatFormField .mat-form-field-underline {
  height: 0 !important;
  bottom: 0 !important;
}

:host ::ng-deep #commandsMatFormField > div {
  padding-bottom: 0 !important;
}

:host ::ng-deep #commandsMatFormField .mat-form-field-infix {
  height: 10px;
}
