<mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <mat-card-title>
    <span *ngIf="sut && sut.id == 0">New SuT</span>
    <span *ngIf="sut && sut.id > 0">Edit SuT "{{sut.name}}"</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="push-bottom-none">
    <form #sutForm="ngForm">
      <ng-container *ngIf="sut === undefined; else showForm">
        <mat-spinner strokeWidth="6" color="accent" class="push-top-sm"></mat-spinner>
      </ng-container>
      <ng-template #showForm>
        <!-- Common fields -->
        <div fxLayout.gt-md="row" fxLayout.md="row" fxLayout="column" class="push-top push-bottom">
          <mat-form-field fxFlex.gt-md="45" fxFlex.md="45">
            <input matInput trim="blur" #sutNameInput type="text" placeholder="SuT Name" [(ngModel)]="sut.name" name="sutName"
              required>
          </mat-form-field>
          <mat-form-field fxFlex.gt-md="45" fxFlex.md="45" fxFlexOffset.md="5" fxFlexOffset.gt-md="5">
            <input matInput trim="blur" type="text" placeholder="SuT Description" [(ngModel)]="sut.description" name="sutDesc">
          </mat-form-field>
        </div>

        <div fxLayout="column" class="push-top push-bottom">
          <!-- SuT Type -->
          <mat-radio-group #radioGroup (change)="sutBy(managedSut.checked ? 'managedSut' : (deployedSut.checked ? 'deployedSut' : 'repository'))">
            <mat-radio-button #managedSut name="managedSut" value="managedChecked" [checked]="managedChecked" class="push-right">
              Deployed by ElasTest
            </mat-radio-button>

            <mat-radio-button #deployedSut name="deployedSut" value="deployedChecked" [checked]="deployedChecked">
              Deployed outside ElasTest
            </mat-radio-button>
          </mat-radio-group>

          <!-- Deployed types -->
          <div fxLayout="row" class="push-top" *ngIf="deployedChecked">
            <mat-radio-group #radioGroupDeployed (change)="deployedType(withoutIns.checked ? 'withoutIns' : (adminIns.checked ? 'adminIns' : (elastestIns.checked ? 'elastestIns' : 'extElasticsearchIns')))">
              <mat-radio-button #withoutIns name="withoutIns" value="withoutInsCheck" [checked]="withoutInsCheck" class="push-right">
                No Instrumentation
              </mat-radio-button>

              <mat-radio-button #elastestIns name="elastestIns" value="elastestInsCheck" [checked]="elastestInsCheck"
                class="push-right">
                Instrumented by ElasTest
              </mat-radio-button>

              <mat-radio-button #adminIns name="adminIns" value="adminInsCheck" [checked]="adminInsCheck" class="push-right">
                Manual Instrumentation
              </mat-radio-button>

              <mat-radio-button #extElasticsearchIns name="extElasticsearchIns" value="extElasticsearchInsCheck"
                [checked]="extElasticsearchInsCheck">
                Use External Elasticsearch
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Managed -->
          <div fxLayout="column" class="push-top" *ngIf="managedSut.checked">
            <!-- SuT DOCKER Type -->
            <div class="push-bottom">
              <mat-radio-group #radioGroupManagedDockerType (change)="managedDockerTypeBy(commandsRadio.checked ? 'commands' : (dockerImageRadio.checked ? 'image' : 'compose'))">
                <mat-radio-button #commandsRadio name="commandsRadio" value="{{commands}}" [checked]="commands" class="push-right">
                  With Commands Container
                </mat-radio-button>

                <mat-radio-button #dockerImageRadio name="dockerImageRadio" value="{{dockerImage}}" [checked]="dockerImage"
                  class="push-right">
                  With Docker Image
                </mat-radio-button>

                <mat-radio-button #dockerComposeRadio name="dockerComposeRadio" value="{{dockerCompose}}" [checked]="dockerCompose">
                  With Docker Compose
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>


          <div fxLayout="column" class="push-top">

            <!-- Common SuT Specification -->
            <ng-container *ngIf="!managedSut.checked || (managedSut.checked && !dockerCompose); else dockerComposeSpec">
              <mat-form-field fxFlex="100">
                <input matInput trim="blur" type="text" placeholder="{{ managedSut.checked ? (commands ? managedCommandsSpecText : managedSpecText) : (deployedSut.checked ? deployedSpecText : specText) }}"
                  [(ngModel)]="sut.specification" name="specification" required>
              </mat-form-field>
            </ng-container>

            <!-- Commands (Managed) -->
            <ng-container *ngIf="managedSut.checked && commands">
              <!-- Commands -->
              <div fxLayout="column" *ngIf="!useImageCommand" class="push-top">
                <mat-form-field>
                  <textarea id="commands" rows="10" matInput #sutFormElement #sutFormControl="ngModel" placeholder="Commands"
                    [(ngModel)]="sut.commands" name="commands" required></textarea>
                </mat-form-field>
              </div>



              <!-- SuT DOCKER Type -->
              <div class="push-bottom">
                <mat-radio-group #radioGroupCommandsOption (change)="changeCommandsOption(defaultRadio.checked ? 'default' : (inNewContainerRadio.checked ? 'container' : 'compose'))">
                  <mat-radio-button #defaultRadio name="defaultRadio" value="{{optionDefault}}" [checked]="optionDefault"
                    class="push-right">
                    SuT In Commands Container
                  </mat-radio-button>

                  <mat-radio-button #inNewContainerRadio name="inNewContainerRadio" value="{{optionInNewContainer}}"
                    [checked]="optionInNewContainer" class="push-right">
                    SuT In New Container
                  </mat-radio-button>

                  <mat-radio-button #inDockerComposeRadio name="inDockerComposeRadio" value="{{optionInDockerCompose}}"
                    [checked]="optionInDockerCompose">
                    SuT In Docker Compose
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="push-bottom">
                <td-message #dockerTypeInfo label="{{currentCommandsModeHelpHead}}" sublabel="{{currentCommandsModeHelpDesc}}"
                  color="primary" icon="info">
                  <!-- <button td-message-actions mat-button (click)="dockerTypeInfo.close()">X</button> -->
                </td-message>
              </div>

              <ng-container *ngIf="optionInDockerCompose">
                <!-- Main service name -->
                <mat-form-field fxFlex="100">
                  <input matInput trim="blur" type="text" placeholder="Main Service Name" [(ngModel)]="sut.mainService"
                    name="mainService" required>
                </mat-form-field>
              </ng-container>

            </ng-container>

            <!-- Image (Managed) -->
            <ng-container *ngIf="managedSut.checked && dockerImage">
            </ng-container>

            <ng-template #dockerComposeSpec>
              <!-- Specification as Docker Compose -->
              <mat-form-field fxFlex="100">
                <textarea id="specification" rows="24" matInput placeholder="Docker Compose" [(ngModel)]="sut.specification"
                  name="specification" required></textarea>
              </mat-form-field>
            </ng-template>

            <!-- Compose (Managed) -->
            <ng-container *ngIf="managedSut.checked && dockerCompose">
              <!-- Main service name -->
              <mat-form-field fxFlex="100">
                <input matInput trim="blur" type="text" placeholder="Main Service Name" [(ngModel)]="sut.mainService"
                  name="mainService" required>
              </mat-form-field>
            </ng-container>

            <div fxLayout="row">
              <!-- Protocol -->
              <mat-select fxFlex="45" [(ngModel)]="sut.protocol" placeholder="Select a protocol" required name="protocol"
                class="push-right">
                <mat-option *ngFor="let protocol of sut.getProtocolsList()" [value]="protocol">
                  {{protocol.toLowerCase()}}
                </mat-option>
              </mat-select>

              <!-- Port -->
              <mat-form-field fxFlex="45" fxFlexOffset="5">
                <input matInput trim="blur" type="number" placeholder="{{managedSut.checked ? 'Wait for port' : 'Port'}}"
                  [(ngModel)]="sut.port" name="port">
              </mat-form-field>
            </div>
          </div>

          <!-- Deployed: Instrumented By Elastest fields -->
          <div fxLayout="column" class="push-top" *ngIf="deployedChecked && elastestInsCheck">
            <div fxLayout="row">

              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10">
                <input matInput trim="blur" type="text" placeholder="User" [(ngModel)]="this.sut.eimConfig.user" name="user"
                  required>
              </mat-form-field>


              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10" fxFlexOffset.md="5"
                fxFlexOffset.gt-md="5">
                <input matInput trim="blur" type="password" placeholder="Password" [(ngModel)]="this.sut.eimConfig.password"
                  name="password">
              </mat-form-field>

              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="45" fxFlex.md="35" fxFlexOffset.md="5"
                fxFlexOffset.gt-md="5">
                <textarea matInput placeholder="Private Key" [(ngModel)]="this.sut.eimConfig.privateKey" name="Private Key"
                  required></textarea>
              </mat-form-field>

              <!-- Instrumentalize? -->
              <mat-list fxFlex.gt-md="20" fxFlex.md="30" fxFlexOffset.md="5" fxFlexOffset.gt-md="5">
                <mat-list-item *ngIf="!instrumentalized">
                  <div>
                    <h3>Not Instrumentalized</h3>
                    <p>
                      <mat-checkbox [(ngModel)]="this.sut.instrumentalize" name="instrumentalizeCheckbox">Instrumentalize</mat-checkbox>
                    </p>
                  </div>
                </mat-list-item>
                <mat-list-item *ngIf="instrumentalized">
                  <div>
                    <h3>Instrumentalized </h3>
                    <p>
                      <mat-checkbox [(ngModel)]="!this.sut.instrumentalize" name="deInstrumentalizeCheckbox">De-Instrumentalize</mat-checkbox>
                    </p>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <!-- Eim Logs Paths -->
            <td-expansion-panel expand="true" class="push-bottom push-top">
              <ng-template td-expansion-panel-label>
                <span class="mat-headline">SuT Logs Paths</span>
              </ng-template>
              <div class="pad-sm pad-top-xs">
                <div class="pad-xs">

                  <td-message #sutLogsPathsInfo label="{{eimLogsPathHelpDesc}}" color="primary" icon="info">
                  </td-message>
                  <string-list-view [model]="sut.eimMonitoringConfig.beats.filebeat.paths" [fieldName]="'Logs Path'">
                  </string-list-view>
                </div>
              </div>
            </td-expansion-panel>

            <!-- Eim Dockerized Paths -->
            <td-expansion-panel *ngIf="this.sut.eimMonitoringConfig" expand="{{this.sut.eimMonitoringConfig.dockerized}}"
              class="push-bottom push-top">
              <ng-template td-expansion-panel-label>
                <mat-checkbox matTooltip="Is Dockerized" id="isDockerizedSut" [(ngModel)]="this.sut.eimMonitoringConfig.dockerized"
                  name="isDockerizedSutCheckbox"></mat-checkbox>
                <span class="mat-headline">Dockerized SuT</span>
              </ng-template>
              <div class="pad-sm pad-top-xs" fxLayout="column">
                <div class="pad-xs">
                  <div class="mat-title push-bottom-sm">Docker containers logs path</div>
                  <td-message #dockerizedSutFilebeatInfo label="{{eimDockerContainerLogsPathHelpDesc}}" color="primary"
                    icon="info">
                  </td-message>
                  <string-list-view [model]="sut.eimMonitoringConfig.beats.filebeat.dockerized" [fieldName]="'Docker Containers Logs Path'">
                  </string-list-view>
                </div>
                <mat-divider></mat-divider>
                <div class="pad-xs push-top-md">
                  <div class="mat-title push-bottom-sm">Docker sock path</div>
                  <td-message #dockerizedSutMetricbeatInfo label="{{eimDockerSockPathHelpDesc}}" color="primary" icon="info">
                  </td-message>
                  <string-list-view [model]="sut.eimMonitoringConfig.beats.metricbeat.dockerized" [fieldName]="'Docker sock path'">
                  </string-list-view>
                </div>
              </div>
            </td-expansion-panel>
          </div>

          <!-- Deployed: Instrumented By SuT Admin Info -->
          <div fxLayout="column" class="push-top" *ngIf="deployedChecked && adminInsCheck">
            <div *ngIf="showGetInfoBtn(); else showMonitoringInfo">
              <button mat-raised-button color="accent" [disabled]="!sutForm.valid" *ngIf="deployedChecked && adminInsCheck"
                (click)="preSave(false)" title="Save and get monitoring details">SAVE AND GET MONITORING DETAILS</button>
            </div>
            <ng-template #showMonitoringInfo>
              <div class="mat-title">Monitoring Configuration</div>
              <mat-list class="noPaddingChilds">
                <mat-list-item *ngIf="sut.eimConfig.logstashIp">
                  <strong>Logstash Container IP:&nbsp;</strong> {{sut.eimConfig.logstashIp}}</mat-list-item>
                <mat-list-item *ngIf="sut.eimConfig.logstashBindedBeatsHost">
                  <strong>Logstash Beats Host:&nbsp;</strong> {{sut.eimConfig.logstashBindedBeatsHost}}</mat-list-item>
                <mat-list-item *ngIf="sut.eimConfig.logstashBindedBeatsPort">
                  <strong>Logstash Beats Port:&nbsp;</strong> {{sut.eimConfig.logstashBindedBeatsPort}}</mat-list-item>
                <mat-list-item *ngIf="sut.eimConfig.logstashHttpApiUrl">
                  <strong>HTTP Api Url:&nbsp;</strong> {{sut.eimConfig.logstashHttpApiUrl}}</mat-list-item>
                <mat-list-item *ngIf="sut.currentSutExec">
                  <strong>Execution ID:&nbsp;</strong> {{sutExecIndex}}</mat-list-item>
              </mat-list>
            </ng-template>
          </div>


          <!-- Deployed: Instrumented By External Elasticsearch -->
          <div fxLayout="column" class="push-top" *ngIf="deployedChecked && extElasticsearchInsCheck">
            <div fxLayout="row">
              <!-- ES IP -->
              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10">
                <input matInput trim="blur" type="text" placeholder="Elasticsearch IP" [(ngModel)]="this.sut.externalElasticsearch.ip"
                  name="esIp" required>
              </mat-form-field>

              <!-- ES Port -->
              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="5" fxFlex.md="5" fxFlexOffset.md="5"
                fxFlexOffset.gt-md="5">
                <input matInput trim="blur" type="number" placeholder="ES Port" [(ngModel)]="this.sut.externalElasticsearch.port"
                  name="esPort" required>
              </mat-form-field>
              
              <!-- ES PATH -->
              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10" fxFlexOffset.md="5"
              fxFlexOffset.gt-md="5">
                <input matInput trim="blur" type="text" placeholder="Elasticsearch PATH" [(ngModel)]="this.sut.externalElasticsearch.path"
                  name="esPath">
              </mat-form-field>
              

              <!-- ES User -->
              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10" fxFlexOffset.md="5"
                fxFlexOffset.gt-md="5">
                <input matInput trim="blur" type="text" placeholder="Elasticsearch User" [(ngModel)]="this.sut.externalElasticsearch.user"
                  name="esUser">
              </mat-form-field>

              <!-- ES Pass -->
              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10" fxFlexOffset.md="5"
                fxFlexOffset.gt-md="5">
                <input matInput trim="blur" type="password" placeholder="Elasticsearch Pass" [(ngModel)]="this.sut.externalElasticsearch.pass"
                  name="esPass">
              </mat-form-field>


              <!-- ES Indices -->
              <mat-form-field *ngIf="deployedSut.checked" fxFlex.gt-md="10" fxFlex.md="10" fxFlexOffset.md="5"
                fxFlexOffset.gt-md="5">
                <input matInput trim="blur" type="text" placeholder="ES Indices (comma separated)" [(ngModel)]="this.sut.externalElasticsearch.indices"
                  name="esIndices" required>
              </mat-form-field>

              <mat-checkbox [checked]="useESIndicesByExecutionCheck" (change)="switchUseESIndicesByExecution($event)"
                fxFlexOffset.md="5" fxFlexOffset.gt-md="5">Use
                indices by execution</mat-checkbox>

            </div>
          </div>

          <!-- Parameters -->
          <td-expansion-panel expand="true" class="push-bottom push-top">
            <ng-template td-expansion-panel-label>
              <span>Parameters</span>
            </ng-template>
            <div class="pad">
              <parameters-view #parameters [model]="sut.parameters"></parameters-view>
            </div>
          </td-expansion-panel>
        </div>
      </ng-template>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>

  <!-- Buttons -->
  <mat-card-actions>
    <button id="saveSutBtn" mat-button [disabled]="sut === undefined || (sutForm && !sutForm.valid)" color="primary"
      (click)="preSave()" matTooltip="Save and return to previous page">SAVE</button>
    <button mat-button color="primary" (click)="cancel()" title="Cancel and return to previous page">CANCEL</button>
  </mat-card-actions>
</mat-card>