<div>
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container">
    Credentials
  </h2>
  <hr />
  <mat-dialog-content>
    <div
      *ngIf="!configService || !configService.isEtmViewOnlyActivated(); else showViewOnlyMsg"
      fxLayout.gt-md="row"
      fxLayout.md="row"
      fxLayout="column"
      class="push-top push-bottom"
    >
      <mat-form-field fxFlex.gt-md="20" fxFlex.md="20">
        <input matInput trim="blur" type="text" placeholder="User" [(ngModel)]="data.user" name="user" maxlength="40" disabled />
      </mat-form-field>

      <mat-form-field fxFlex.gt-md="20" fxFlex.md="20" fxFlexOffset.md="5" fxFlexOffset.gt-md="5">
        <input
          matInput
          trim="blur"
          type="text"
          placeholder="Password"
          [(ngModel)]="data.pass"
          name="resultsPath"
          maxlength="16"
          disabled
        />
      </mat-form-field>
    </div>
    <ng-template #showViewOnlyMsg>
      Not allowed
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button color="accent" type="button" mat-raised-button (click)="onCloseConfirm()">CLOSE</button>&nbsp;
  </mat-dialog-actions>
</div>
