<div>
  <h2 md-dialog-title>Credentials</h2>
  <hr>
  <md-dialog-content>
    <div layout-gt-md="row" layout-md="row" layout="column" class="push-top push-bottom">
        <md-input-container flex-gt-md="20" flex-md="20">
          <input mdInput trim="blur" type="text" placeholder="User"
            [(ngModel)]="data.user" name="user" maxlength="40" disabled>
        </md-input-container>

        <md-input-container flex-gt-md="20" flex-md="20" flex-offset-md="5" flex-offset-gt-md="5">
          <input mdInput trim="blur" type="text" placeholder="Password"
            [(ngModel)]="data.pass" name="resultsPath" maxlength="16" disabled>
        </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button color="accent" type="button" md-raised-button (click)="onCloseConfirm()">CLOSE</button>&nbsp;
  </md-dialog-actions>
</div>