<div layout-gt-sm="row" tdMediaToggle="gt-xs">
    <div flex-gt-sm="100">
        <md-card tdMediaToggle="gt-xs">
            <md-card-title>
                <div layout="row">
                    <span>
                        <md-icon *ngIf="tJobExec.finished()" style="vertical-align: sub;" [style.color]="statusIcon.color"
                            mdTooltip="{{tJobExec.result}}">{{statusIcon.name}}</md-icon>
                    </span>
                    <a *ngIf="tJob" (click)="viewTJob()" class="hover-pointer">
                        <span *ngIf="tJobExec.isParent() || tJobExec.isChild()">Multi-Configuration</span>
                        <span>TJob</span>
                        <span> "{{tJob.name}}": </span>
                    </a>
                    <span *ngIf="tJobExec.isChild()">&nbsp;Configuration</span>

                    <span>&nbsp;Execution {{tJobExecId}}</span>
                    <span flex></span>
                    <div>
                        <button md-button *ngIf="tJobExec.getExternalUrl()" (click)="openExternalUrl()" stopRowClick
                            mdTooltip="Open External URL" class="onlyIconBtn iconBtn-lg">
                            <md-icon>open_in_new</md-icon>
                        </button>
                        <button id="viewExecutionInLogAnalyzer" md-button (click)="viewInLogAnalyzer()" class="onlyIconBtn iconBtn-lg"
                            mdTooltip="View in Log Analyzer">
                            <md-icon>library_books</md-icon>
                        </button>
                        <button md-button *ngIf="showLogsAndMetrics" (click)="logsAndMetrics.openMonitoringConfig()"
                            class="onlyIconBtn iconBtn-lg" mdTooltip="Open Monitoring Config">
                            <md-icon>settings</md-icon>
                        </button>
                        <button md-button (click)="deleteTJobExec()" [disabled]="deletingInProgress || downloading"
                            stopRowClick mdTooltip="Delete TJob Execution" class="onlyIconBtn iconBtn-lg">
                            <md-icon>delete</md-icon>
                        </button>
                        <button md-button (click)="downloadAsJson()" [disabled]="deletingInProgress || downloading"
                            stopRowClick mdTooltip="Download as Json" class="onlyIconBtn iconBtn-lg">
                            <md-icon>cloud_download</md-icon>
                        </button>
                    </div>
                </div>
            </md-card-title>

            <md-divider></md-divider>

            <md-card-content>
                <div layout="row">
                    <span flex="10" flex-gt-lg="5">
                        <md-card-subtitle>Result</md-card-subtitle>
                        <h4 id="resultMsgText" [style.color]="statusIcon.color">{{tJobExec.result}}</h4>
                    </span>

                    <span flex="10" flex-gt-lg="5" *ngIf="tJobExec.isChild() && tJobExec.execParent">
                        <md-card-subtitle>Multi-Configuration</md-card-subtitle>
                        <h4 mdTooltip="Navigate to Multi Axis Configurations">
                            <a (click)="viewParent()" class="hover-pointer">
                                {{ tJobExec.execParent.id }}
                            </a>
                        </h4>
                    </span>

                    <span flex="20">
                        <md-card-subtitle>Start Date</md-card-subtitle>
                        <h4>{{ tJobExec.startDate | date:'dd/MM/yyyy HH:mm:ss' }}</h4>
                    </span>
                    <span flex="20">
                        <md-card-subtitle>End Date</md-card-subtitle>
                        <h4>{{ tJobExec.endDate | date:'dd/MM/yyyy HH:mm:ss' }}</h4>
                    </span>

                    <ng-container>
                        <span flex="15">
                            <md-card-subtitle>Sut Execution</md-card-subtitle>
                            <h4 *ngIf="tJobExec.sutExec !== undefined && tJobExec.sutExec !== null && tJobExec.sutExec.id !== 0; else NoneSutExec">{{tJobExec.sutExec.id}}</h4>
                            <ng-template #NoneSutExec>
                                <h4>None</h4>
                            </ng-template>
                        </span>
                    </ng-container>
                    <span flex="15">
                        <md-card-subtitle>Log Index</md-card-subtitle>
                        <h4>{{tJobExec.monitoringIndex}}</h4>
                    </span>

                    <span flex="15">
                        <md-card-subtitle>Monitoring Storage</md-card-subtitle>
                        <h4 *ngIf="tJobExec.monitoringStorageType && tJobExec.monitoringStorageType !== ''; else NoneMonitoringStorage">{{tJobExec.monitoringStorageType}}</h4>
                        <ng-template #NoneMonitoringStorage>
                            <h4>Unknown</h4>
                        </ng-template>
                    </span>

                </div>
                <div layout="column" *ngIf="tJobExec.finished() && tJobExec.resultError()">
                    <md-divider></md-divider>
                    <div layout="row" [style.color]="statusIcon.color" class="push-top-sm">
                        {{tJobExec.resultMsg}}
                    </div>
                </div>

                <ng-container *ngIf="tJobExec.parameters && tJobExec.parameters.length > 0">
                    <!-- Multi Config -->
                    <td-expansion-panel label="Configuration" expand="false" class="push-top-sm" *ngIf="tJobExecMultiConfigs && tJobExecMultiConfigs.length > 0">
                        <td-data-table [data]="tJobExecMultiConfigs">
                        </td-data-table>
                    </td-expansion-panel>

                    <!-- Params -->
                    <td-expansion-panel label="Parameters" expand="false" class="push-top-sm" *ngIf="tJobExecParameters && tJobExecParameters.length > 0">
                        <td-data-table [data]="tJobExecParameters">
                        </td-data-table>
                    </td-expansion-panel>
                </ng-container>
            </md-card-content>
        </md-card>
    </div>
</div>

<ng-container *ngIf="tJobExec && tJobExec.isParent(); else showNormalExecutionView">
    <etm-child-tjob-execs-view [model]="tJobExec"></etm-child-tjob-execs-view>
    <etm-parent-tjob-exec-report-view [model]="tJobExec"></etm-parent-tjob-exec-report-view>
</ng-container>

<ng-template #showNormalExecutionView>
    <div id="testSuitesView" layout-gt-sm="row" tdMediaToggle="gt-xs" *ngIf="tJobExec.testSuites !== undefined && tJobExec.testSuites !== null && tJobExec.testSuites.length > 0">
        <etm-test-suites-view flex="100" [tJobExec]="tJobExec" [testSuites]="tJobExec.testSuites"></etm-test-suites-view>
    </div>

    <!-- logs & Metrics -->
    <etm-monitoring-view #logsAndMetrics [live]="false " [showConfigBtn]="false "></etm-monitoring-view>

    <!-- Execution files -->
    <etm-files-manager [tJobId]="tJobId " [tJobExecId]="tJobExecId "></etm-files-manager>
</ng-template>