<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
        <md-card tdMediaToggle="gt-xs">
            <md-card-title>
                TJob Execution {{tJobExec.id}}
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content>
                <div layout="row">
                    <span flex-gt-xs="25"><md-card-subtitle>Result</md-card-subtitle><h4>{{tJobExec.result}}</h4></span>
                    <span flex-gt-xs="25"><md-card-subtitle>Duration</md-card-subtitle><h4>{{tJobExec.duration}}</h4></span>
                    <span flex-gt-xs="25" *ngIf="tJobExec.sutExec !== undefined && tJobExec.sutExec === 0">
                        <md-card-subtitle>Sut Execution</md-card-subtitle><h4>None</h4>
                    </span>
                    <span flex-gt-xs="25" *ngIf="tJobExec.sutExec !== undefined && tJobExec.sutExec !== 0">
                        <md-card-subtitle>Sut Execution</md-card-subtitle><h4>{{tJobExec.sutExec.id}}</h4>
                    </span>
                    <span flex-gt-xs="25"><md-card-subtitle>Error</md-card-subtitle><h4>{{tJobExec.error}}</h4></span>
                    <span flex-gt-xs="25"><md-card-subtitle>Logs url</md-card-subtitle><h4>{{tJobExec.logs}}</h4></span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>

<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="50" layout-gt-sm="column">
        <logs-view [logView]="testLogView" [loadPreviousLogs]="null"></logs-view>
    </div>

    <div flex-gt-sm="50" layout-gt-sm="column">
        <logs-view [logView]="sutLogView" [loadPreviousLogs]="null"></logs-view>
    </div>
</div>