.mat-card-subtitle{
    padding-left: 0 !important;
}



:host /deep/ .logsViewContent{
    height: 60vh;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    overflow-y: auto; overflow-x: hidden
}