<auto-height-grid fxLayout="column">
  <normal-height-row>
    <div layout="row" class="padding-xl-sides push-top-sm" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="push-top-xs push-right-sm">
          View:
        </span>
        <div>
          <button
            mat-raised-button
            class="push-top-xs push-right-sm"
            color="accent"
            (click)="updateViewMode(0)"
            [disabled]="!viewCompleteBtnEnabled || loadingData"
            id="lcCompleteViewBtn"
          >
            <b>Complete logs</b>
          </button>
          <button
            mat-raised-button
            class="push-top-xs push-right-sm"
            color="accent"
            (click)="updateViewMode(1)"
            [disabled]="!viewTestsLogsBtnEnabled || loadingData"
            id="lcTestsViewBtn"
          >
            <b>Tests Logs</b>
          </button>
          <button
            mat-raised-button
            class="push-top-xs push-right-sm"
            color="accent"
            (click)="updateViewMode(2)"
            [disabled]="!viewFailedTestsBtnEnabled || loadingData"
            id="lcFailedViewBtn"
          >
            <b>Failed tests</b>
          </button>
        </div>
      </div>
      <mat-divider [vertical]="true" class="push-left-md push-right-md" style="height: 40px;"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="push-top-xs push-right-sm">
          Comparison:
        </span>
        <div>
          <button
            mat-raised-button
            class="push-top-xs push-right-sm"
            color="accent"
            (click)="updateComparisonMode(0)"
            [disabled]="!comparisonCompleteBtnEnabled || loadingData"
            matTooltip="Show complete logs"
            id="lcCompleteComparisonBtn"
          >
            <b>Complete</b>
          </button>
          <button
            mat-raised-button
            class="push-top-xs push-right-sm"
            color="accent"
            (click)="updateComparisonMode(1)"
            [disabled]="!comparisonNoTimestampBtnEnabled || loadingData"
            matTooltip="Show logs without timestamp"
            id="lcNoTimeComparisonBtn"
          >
            <b>No timestamp</b>
          </button>
          <button
            mat-raised-button
            class="push-top-xs push-right-sm"
            color="accent"
            (click)="updateComparisonMode(2)"
            [disabled]="!comparisonTimeDiffBtnEnabled || loadingData"
            matTooltip="Show logs with timestamp in milliseconds"
            id="lcTimeDiffComparisonBtn"
          >
            <b>Time diff</b>
          </button>
        </div>
        <mat-divider [vertical]="true" class="push-left-md push-right-md" style="height: 40px;"></mat-divider>
        <div fxLayout="row" fxLayoutAlign="start center">
          <!-- Timeout -->
          <mat-form-field>
            <input
              matInput
              trim="blur"
              type="number"
              min="0"
              placeholder="Diff Timeout (s) (0 infinite)"
              [(ngModel)]="diffTimeout"
              name="port"
              id="lcTimeoutInput"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </normal-height-row>

  <auto-height-row fxLayout="column" id="main-content">
    <mat-divider class="push-top-sm"></mat-divider>
    <div *ngIf="!startComparisonAlreadyClicked; else comparisonStarted" class="push-top push-bottom-xs">
      <centered-element>
        <button
          mat-raised-button
          id="lcStartComparisonBtn"
          class="iconBtn-lg"
          color="accent"
          (click)="init()"
          matTooltip="Start Comparison"
        >
          <b>Start Comparison</b>
        </button>
      </centered-element>
    </div>
    <ng-template #comparisonStarted>
      <div *ngIf="loadingData; else notLoading" class="push-top push-bottom-xs">
        <div fxLayout="column" fxLayoutAlign="center center">
          <centered-element>
            <mat-spinner strokeWidth="6" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
          </centered-element>
          <p>Comparing logs. Please wait...</p>
        </div>
      </div>
      <ng-template #notLoading>
        <div fxFlex *ngIf="diff && comparisonInProgress; else noData" class="push-top push-bottom-xs">
          <table class="diff-table">
            <tbody>
              <tr *ngFor="let result of resultData[0].logs">
                <td [innerHTML]="result.index_p" class="index" style="width: 1% !important"></td>
                <td [innerHTML]="result.com_p.content" [class]="result.com_p.class" style="width: 49% !important"></td>
                <td [innerHTML]="result.indexp" class="index" style="width: 1% !important;"></td>
                <td [innerHTML]="result.comp.content" [class]="result.comp.class" style="width: 49% !important;"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noData>
          <centered-element class="push-top-important messageEmptyCard">
            <mat-icon>assignment</mat-icon>
            <p>No Data to show</p>
          </centered-element>
        </ng-template>
      </ng-template>
    </ng-template>
  </auto-height-row>
</auto-height-grid>
