<div layout-xs="column" layout-gt-xs="column" layout-gt-lg="row" tdMediaToggle="gt-xs" layout-fill>
  <mat-card tdMediaToggle="gt-xs" flex>
    <div layout="column" layout-fill>
      <mat-card-title>
        VNC
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content *ngIf="ready" flex style="overflow: auto;">
        <vnc-client [host]="host" [port]="port" [password]="password" [autoconnect]="autoconnect" [viewOnly]="viewOnly" [showStatus]="showStatus"
          [showConnectionBtns]="showConnectionBtns" flex></vnc-client>
      </mat-card-content>
    </div>
  </mat-card>
</div>