<div fxLayout.xs="column" fxLayout.gt-xs="column" fxLayout.gt-lg="row" tdMediaToggle="gt-xs" fxFlexFill>
  <mat-card tdMediaToggle="gt-xs" fxFlex>
    <div fxLayout="column" fxFlexFill>
      <mat-card-title>
        VNC
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content *ngIf="ready" fxFlex style="overflow: auto;">
        <vnc-client [host]="host" [port]="port" [password]="password" [autoconnect]="autoconnect" [viewOnly]="viewOnly" [showStatus]="showStatus"
          [showConnectionBtns]="showConnectionBtns" fxFlex></vnc-client>
      </mat-card-content>
    </div>
  </mat-card>
</div>