<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container">
  Run TJob Parameters
</h2>
<mat-dialog-content>
  <ng-container *ngIf="!initializing && tJob; else showSpinner">
    <!-- <div *ngIf="tJob.hasMultiConfiguration()">
      <mat-card-subtitle>TJob Multi Configurations</mat-card-subtitle>
      <multi-config-view [model]="tJob.multiConfigurations"></multi-config-view>
    </div> -->
    <div *ngIf="tJob.parameters.length > 0">
      <mat-card-subtitle>TJob Parameters</mat-card-subtitle>
      <parameters-view [model]="tJob.parameters"></parameters-view>
    </div>
    <div *ngIf="hasSut() && tJob.sut.parameters.length > 0">
      <mat-card-subtitle>SuT Parameters</mat-card-subtitle>
      <parameters-view [model]="tJob.sut.parameters"></parameters-view>
    </div>
  </ng-container>

  <ng-template #showSpinner>
    <mat-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end left">
  <button mat-raised-button color="accent" [mat-dialog-close]="true" (click)="runTJob()" [disabled]="initializing" id="runTJobModalBtn">
    Run TJob
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
