<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        {{serviceInstance.serviceName}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <md-list>
          <md-list-item>
            <strong class="push-right-xs">Instance Id:</strong> {{serviceInstance.id}}
          </md-list-item>
          <md-list-item *ngIf="serviceInstance.uiUrl">
            <strong class="push-right-xs">GUI URL: </strong><a [attr.href]="serviceInstance.uiUrl" target="_blank">{{serviceInstance.uiUrl}}</a>
          </md-list-item>
          <md-list-item *ngIf="serviceInstance.apiUrl">
            <strong class="push-right-xs">API URL: </strong><a [attr.href]="serviceInstance.apiUrl" target="_blank">{{serviceInstance.apiUrl}}</a>
          </md-list-item>
          <div *ngIf="serviceInstance.uris">
              <md-list-item *ngFor="let key of urisKeys" >
                  <strong class="push-right-xs">URL: </strong><a [attr.href]="serviceInstance.uris[key]" target="_blank">{{serviceInstance.uris[key]}}</a>
              </md-list-item>
          </div>
          
          <!--md-list-item *ngIf="serviceInstance.endpointsOtherData && (serviceInstance.endpointsOtherData.api
          && serviceInstance.endpointsOtherData.api.protocol && serviceInstance.endpointsOtherData.api.port)
          || (serviceInstance.endpointsOtherData.gui
          && serviceInstance.endpointsOtherData.gui.protocol && serviceInstance.endpointsOtherData.gui.port)">
            <strong>API URL:</strong>
            <br/>Protocol: {{serviceInstance.endpointsOtherData.api.protocol}} <br/> Port:{{serviceInstance.endpointsOtherData.api.port}}
          </md-list-item-->
        </md-list>

        <div *ngIf="serviceInstance.uiUrl">
          <esm-service-gui [serviceUrl]='serviceInstance.uiUrl'></esm-service-gui>
        </div>
        <md-divider></md-divider>
        <app-elastest-eus *ngIf="serviceInstance.serviceName == 'elastest-eus'" [eusUrl]="serviceInstance.uris.api" [eusHost]="serviceInstance.ip" 
        [eusPort]="serviceInstance.port"></app-elastest-eus>
        
      </md-card-content>
      
    </md-card>

    <md-card *ngFor="let subService of serviceInstance.subServices" tdMediaToggle="gt-xs">
      <md-card-title>
        {{subService.serviceName}}
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <div *ngIf="subService.uiUrl">GUI URL: {{subService.uiUrl}}</div>
        <div *ngIf="subService.apiUrl">API URL: {{subService.apiUrl}}</div>
        <div *ngIf="serviceInstance.endpointsOtherData && serviceInstance.endpointsOtherData.api
              && serviceInstance.endpointsOtherData.api.protocol && serviceInstance.endpointsOtherData.api.port">
          API URL: <br/>Protocol: {{serviceInstance.endpointsOtherData.api.protocol}} <br/> Port:{{serviceInstance.endpointsOtherData.api.port}}</div>
        <div *ngIf="subService.uiUrl">
          <esm-service-gui [serviceUrl]='subService.uiUrl'></esm-service-gui>
        </div>
      </md-card-content>
      <md-divider></md-divider>
    </md-card>

  </div>
</div>