<div fxLayout="row" tdMediaToggle="gt-xs" fxFlexFill>
  <as-split unit="percent" direction="horizontal" gutterSize="6" (dragEnd)="resizeBrowsers($event)">
    <as-split-area size="{{crossbrowserEnabled ? 60 : 40}}" minSize="10">
      <div fxLayout.gt-sm="column" fxFlexFill>
        <mat-card tdMediaToggle="gt-xs" fxFlex style="overflow: auto;">
          <div fxLayout="column" fxFlexFill>
            <mat-card-title>
              <div fxLayout="column" fxLayoutAlign="none" *ngIf="exTJobExec; else showEmptyTitle">
                <div fxLayout="row">
                  <span>
                    <button
                      mat-button
                      *ngIf="exTJobExec.finished() || exTJobExec.paused()"
                      (click)="viewEndedTJobExec()"
                      class="onlyIconBtn"
                      matTooltip="Navigate to result page"
                    >
                      <mat-icon style="vertical-align: middle;" [style.color]="this.exTJobExec.getResultIcon().color">{{
                        this.exTJobExec.getResultIcon().name
                      }}</mat-icon>
                    </button>
                  </span>
                  <span id="executingTitle"
                    >Executing Test Plan "{{ testPlan.name }}" - Build "{{ selectedBuild.name }}"- Exec {{ exTJobExec.id }}
                  </span>
                  <span fxFlex></span>
                  <span>
                    <button
                      *ngIf="
                        showStopAndPauseBtns &&
                        exTJobExec.lastExecutedTCaseId !== undefined &&
                        exTJobExec.lastExecutedTCaseId !== null
                      "
                      mat-button
                      (click)="pauseExecution()"
                      title="Pause execution"
                      class="iconBtn"
                    >
                      <mat-icon>pause</mat-icon>
                    </button>
                  </span>
                  <span>
                    <button
                      *ngIf="showStopAndPauseBtns"
                      mat-button
                      (click)="forceEnd()"
                      [style.color]="'#c82a0e'"
                      title="Force End"
                      class="iconBtn"
                    >
                      <mat-icon>stop</mat-icon>
                    </button>
                  </span>
                  <span>
                    <button
                      mat-button
                      (click)="logsAndMetrics.openMonitoringConfig()"
                      title="Open Monitoring Config"
                      class="iconBtn"
                    >
                      <mat-icon>settings</mat-icon>
                    </button>
                  </span>
                </div>
                <div fxLayout="row" class="push-top-sm">
                  <span id="resultMsgText" class="mat-subheading-1">{{ exTJobExec.resultMsg }}</span>
                  <span fxFlex></span>
                  <div *ngIf="totalCases > 0 && testCases && data" class="mat-caption">
                    {{ totalCases - testCases.length }}/{{ totalCases }}
                  </div>
                </div>
              </div>
              <ng-template #showEmptyTitle>
                <span id="executingTitle">Executing Test Plan (loading...) </span>
              </ng-template>
            </mat-card-title>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content fxFlex class="push-bottom-none" style="padding-top: 6px !important">
              <div *ngIf="showExecution(); else showMessage" fxLayout="column" fxFlexFill>
                <div *ngIf="!savingAndLoadingTCase; else showTCLoadingSpinner" id="testLinkExec" fxFlex fxLayout="column">
                  <testlink-execution-form
                    #tlExecutionForm
                    *ngIf="data && data.testCase"
                    [data]="data"
                    fxFlex
                  ></testlink-execution-form>
                </div>
                <ng-template #showTCLoadingSpinner>
                  <mat-spinner strokeWidth="6" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
                </ng-template>

                <div fxLayout="row" class="push-top-sm">
                  <button
                    mat-raised-button
                    color="accent"
                    id="saveAndNext"
                    *ngIf="tlExecutionForm"
                    [disabled]="disableTLNextBtn || !tlExecutionForm.isValidForm() || savingAndLoadingTCase"
                    (click)="saveTLCaseExecution()"
                  >
                    Save & Next
                  </button>
                </div>
              </div>
              <ng-template #showMessage>
                <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
                  <div class="mat-headline text-center">{{ executionCardMsg }}</div>
                  <div class="mat-subheading-1 text-center" *ngIf="execFinished">{{ executionCardSubMsg }}</div>
                </div>
              </ng-template>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </as-split-area>

    <!-- BROWSER -->
    <as-split-area size="{{crossbrowserEnabled ? 40 : 60}}" minSize="10">
      <etm-eus-browser-card-component
        #singleBrowserCard
        *ngIf="!crossbrowserEnabled; else showCrossbrowser"
        [logsAndMetrics]="logsAndMetrics"
        [showSpinner]="showBrowserMsgSpinner.bind(this)"
        fxLayout="column"
        fxFlexFill
      ></etm-eus-browser-card-component>
      <ng-template #showCrossbrowser>
        <etm-eus-crossbrowser-component
          #crossbrowser
          [logsAndMetrics]="logsAndMetrics"
          [showSpinner]="showBrowserMsgSpinner.bind(this)"
          fxLayout="column"
          fxFlexFill
        ></etm-eus-crossbrowser-component>
      </ng-template>
    </as-split-area>
  </as-split>
</div>

<!-- logs & Metrics -->
<etm-monitoring-view *ngIf="exTJobExec !== undefined" #logsAndMetrics [live]="true" [showConfigBtn]="false"></etm-monitoring-view>

<!-- TSS Services Instances -->

<div *ngFor="let serviceInstance of serviceInstances">
  <ng-container *ngIf="serviceInstance.serviceName.toLowerCase() !== 'eus'">
    <esm-service-detail [serviceInstance]="serviceInstance" [standaloneService]="false"></esm-service-detail>
  </ng-container>
</div>

<!-- Files -->
<etm-files-manager
  *ngIf="exTJob && exTJobExec && showFiles"
  [tJob]="exTJob"
  [tJobExec]="exTJobExec"
  [external]="true"
></etm-files-manager>
