<div fxLayout="row" tdMediaToggle="gt-xs" fxFlexFill>
  <div fxFlex.gt-sm="50" fxFlex.md="45" fxFlex.gt-md="40" fxLayout.gt-sm="column" fxFlexFill>
    <mat-card tdMediaToggle="gt-xs" fxFlex style="overflow: auto;">
      <div fxLayout="column" fxFlexFill>
        <mat-card-title>
          <div fxLayout="column" fxLayoutAlign="none" *ngIf="exTJobExec">
            <div fxLayout="row">
              <span>
                <button
                  mat-button
                  *ngIf="exTJobExec.finished()"
                  (click)="viewEndedTJobExec()"
                  class="onlyIconBtn"
                  title="Navigate to result page"
                >
                  <mat-icon style="vertical-align: middle;" [style.color]="this.exTJobExec.getResultIcon().color">{{
                    this.exTJobExec.getResultIcon().name
                  }}</mat-icon>
                </button>
              </span>
              <span id="executingTitle"
                >Executing Test Plan "{{ testPlan.name }}" - Build "{{ selectedBuild.name }}"- Exec {{ exTJobExec.id }}
              </span>
              <span fxFlex></span>
              <span>
                <button
                  *ngIf="showStopBtn"
                  mat-button
                  (click)="forceEnd()"
                  [style.color]="'#c82a0e'"
                  title="Force End"
                  class="iconBtn"
                >
                  <mat-icon>stop</mat-icon>
                </button>
              </span>
              <span>
                <button mat-button (click)="logsAndMetrics.openMonitoringConfig()" title="Open Monitoring Config" class="iconBtn">
                  <mat-icon>settings</mat-icon>
                </button>
              </span>
            </div>
            <div fxLayout="row" class="push-top-sm">
              <span id="resultMsgText" class="mat-subheading-1">{{ exTJobExec.resultMsg }}</span>
              <span fxFlex></span>
              <div *ngIf="totalCases > 0 && externalTestCases && data" class="mat-caption">
                {{ totalCases - externalTestCases.length }}/{{ totalCases }}
              </div>
            </div>
          </div>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content fxFlex class="push-bottom-none" style="padding-top: 6px !important">
          <div
            *ngIf="
              !browserAndEusLoading && exTJob && exTJobExec && !exTJobExec.finished() && exTJobExec.executing();
              else showMessage
            "
            fxLayout="column"
            fxFlexFill
          >
            <div *ngIf="!savingAndLoadingTCase; else showTCLoadingSpinner" id="testLinkExec" fxFlex fxLayout="column">
              <testlink-execution-form
                #tlExecutionForm
                *ngIf="data && data.testCase"
                [data]="data"
                fxFlex
              ></testlink-execution-form>
            </div>
            <ng-template #showTCLoadingSpinner>
              <mat-spinner strokeWidth="6" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
            </ng-template>

            <div fxLayout="row" class="push-top-sm">
              <button
                mat-raised-button
                color="accent"
                id="saveAndNext"
                *ngIf="tlExecutionForm"
                [disabled]="disableTLNextBtn || !tlExecutionForm.isValidForm() || savingAndLoadingTCase"
                (click)="saveTLCaseExecution()"
              >
                Save & Next
              </button>
            </div>
          </div>
          <ng-template #showMessage>
            <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
              <div class="mat-headline text-center">{{ executionCardMsg }}</div>
              <div class="mat-subheading-1 text-center" *ngIf="execFinished">{{ executionCardSubMsg }}</div>
            </div>
          </ng-template>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <!-- BROWSER -->
  <div fxFlex.gt-sm="50" fxFlex.md="55" fxFlex.gt-md="60" fxLayout.gt-sm="column" fxFlexFill>
    <mat-card tdMediaToggle="gt-xs" fxFlex>
      <div fxLayout="column" fxFlexFill>
        <mat-card-title>
          <div fxLayout="column" fxLayoutAlign="none">
            <div fxLayout="row">
              <span>Browser</span>
              <span class="mat-subheading-2 push-left-sm push-bottom-none">({{ browserName }} {{ browserVersion }})</span>
              <span fxFlex></span>
              <a
                *ngIf="!browserAndEusLoading && vncBrowserUrl !== undefined"
                mat-button
                [attr.href]="vncBrowserUrl"
                class="iconBtn"
                target="_blank"
                matTooltip="Open in new tab"
              >
                <mat-icon>open_in_new</mat-icon>
              </a>
            </div>

            <div
              *ngIf="
                browserAndEusLoading &&
                eusTestModel !== undefined &&
                eusTestModel.statusMsg !== undefined &&
                eusTestModel.statusMsg !== ''
              "
              fxLayout="row"
              class="push-top-sm"
            >
              <span id="resultMsgText" class="mat-subheading-1" style="vertical-align: middle;">{{
                eusTestModel.statusMsg
              }}</span>
            </div>
          </div>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="exTJobExec" fxFlex style="overflow: auto;" class="push-bottom-none">
          <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
            <ng-container *ngIf="!browserAndEusLoading && vncBrowserUrl !== undefined; else loadingBrowser">
              <vnc-client
                [vncUrl]="vncBrowserUrl"
                [autoconnect]="autoconnect"
                [viewOnly]="viewOnly"
                [showStatus]="false"
                [showConnectionBtns]="false"
                [bgColor]="'#ffffff'"
                fxFlexFill
              ></vnc-client>
            </ng-container>
            <ng-template #loadingBrowser>
              <div class="mat-headline text-center">{{ browserCardMsg }}</div>
              <mat-spinner
                *ngIf="exTJobExec && (!exTJobExec.finished() || (exTJobExec.finished() && !browserAndEusDeprovided))"
                strokeWidth="6"
                color="accent"
                class="push-top-sm"
              ></mat-spinner>
            </ng-template>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>

<!-- logs & Metrics -->
<etm-monitoring-view *ngIf="exTJobExec !== undefined" #logsAndMetrics [live]="true" [showConfigBtn]="false"></etm-monitoring-view>

<!-- Files -->
<etm-files-manager
  *ngIf="exTJob && exTJobExec && showFiles"
  [tJob]="exTJob"
  [tJobExec]="exTJobExec"
  [external]="true"
></etm-files-manager>
