#breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
}
#breadcrumb-item {
  display: inline-block;
  // background: #585858;
}
#breadcrumb-item a,
#breadcrumb-item span {
  color: #ffffff;
  text-align: center;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 860px) {
  #breadcrumb-item {
    display: none;
  }
}
