<h2 md-dialog-title id="dialogTitle">Log entry</h2>
<div layout="column" id="entryDiv" *ngIf="columns" class="pad-bottom-sm">
  <div layout="row" class="push-bottom-sm">
    <div flex="100" id="">
      <md-list class="">
        <h4>Message</h4>
        <p class="monospaced" id="message">{{row.message}}</p>
        <md-divider></md-divider>
      </md-list>

    </div>
  </div>
  <div flex="70" *ngFor="let column of columns">
    <md-list class="listInfoToLeft" *ngIf="column.field !== 'message'">
      <md-list-item>
        <h5>{{column.field}}</h5>
        <p class="monospaced">
          <ng-container *ngIf="column.field !== '@timestamp'; else timestamp">
            {{row[column.field] ? row[column.field] : 'Field ' + column.field + ' is empty'}}
          </ng-container>
          <ng-template #timestamp>
            {{row[column.field] ? (row[column.field] | date:'dd/MM/yyyy HH:mm:ss') : 'Field ' + column.field + ' is empty'}}
          </ng-template>
        </p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>

  </div>
</div>



<md-dialog-actions>
  <button md-raised-button color="accent" md-dialog-close>Close</button>
</md-dialog-actions>