<h2 mat-dialog-title id="dialogTitle">Log entry</h2>
<div layout="column" id="entryDiv" *ngIf="columns" class="pad-bottom-sm">
  <div layout="row" class="push-bottom-sm">
    <div flex="100" id="">
      <mat-list class="">
        <h4>Message</h4>
        <p class="monospaced" id="message">{{ row.message }}</p>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
  <div flex="70" *ngFor="let column of columns">
    <mat-list class="listInfoToLeft" *ngIf="column.field !== 'message'">
      <mat-list-item>
        <h5>{{ column.field }}</h5>
        <p class="monospaced">
          <ng-container *ngIf="column.field !== '@timestamp'; else: timestamp">
            {{ row[column.field] ? row[column.field] : 'Field ' + column.field + ' is empty' }}
          </ng-container>
          <ng-template #timestamp>
            {{ row[column.field] ? (row[column.field] | date: 'dd/MM/yyyy HH:mm:ss') : 'Field ' + column.field + ' is empty' }}
          </ng-template>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div flex="70" *ngIf="rawData">
    <h5>Raw Data</h5>
    <pre>{{ rawData | json }}</pre>
  </div>
</div>

<mat-dialog-actions> <button mat-raised-button color="accent" mat-dialog-close>Close</button> </mat-dialog-actions>
