<div *ngFor="let pattern of patterns; let i = index" fxLayout.gt-xs="column" fxLayout.gt-md="row" class="pad-bottom push-top">
  <mat-list-item fxFlex.gt-xs="100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput id="pattern{{i}}" value="" [(ngModel)]="pattern.searchValue" placeholder="Search on message {{pattern.found >= 0 ? pattern.results.length : ''}}"
          (keydown.enter)="searchByPattern(i)">
      </mat-form-field>
    </div>
    <div id="patternBtnsDiv" fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign="center center">
      <input #pattern{{i}}Color type="color" name="favcolor" [(ngModel)]="pattern.color" value="{{pattern.color}}" id="pattern{{i}}Color"
        class="hiddenElement" required>
      <button mat-button (click)="openColorPicker(i)" aria-label="color" title="Pattern color" class="iconBtn push-top-sm">
        <mat-icon [style.color]="pattern.color">color_lens</mat-icon>
      </button>
      <button mat-button (click)="markOrClean(i)" class="push-top-sm iconBtn">
        <mat-icon *ngIf="pattern.found < 0 || pattern.foundButHidden" color="accent" title="Mark rows">invert_colors</mat-icon>
        <mat-icon *ngIf="pattern.found >= 0 && !pattern.foundButHidden" title="Clean rows">invert_colors_off</mat-icon>
      </button>
      <button mat-button (click)="removePattern(i)" aria-label="close" title="Delete pattern" class="iconBtn push-top-sm">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button (click)="prev(i)" [disabled]="pattern.found <= 0" title="Previous" class="iconBtn push-top-sm">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-button (click)="next(i)" [disabled]="pattern.found <= 0" title="Next" class="iconBtn push-top-sm">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-list-item>
</div>