<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" *ngIf="showStatus && statusInfo">
    <mat-icon [style.color]="statusColor">{{statusIcon}}</mat-icon>
    <span class="push-bottom">
      {{statusInfo}}
    </span>
    <span fxFlex></span>
    <button mat-icon-button *ngIf="errorStatus()" color="accent" (click)="reconnect()" title="Try Reconnect" [disabled]="vncUi.connected">
      <mat-icon>sync</mat-icon>
    </button>
  </div>
  <div fxFlex id="vnc_screen" [style.background]="bgColor">
    <canvas #canvas id="vnc_canvas" fxLayout="column">
      Canvas not supported.
    </canvas>
  </div>
  <div fxLayout="row" class="push-top" *ngIf="vncUi && showConnectionBtns">
    <button mat-raised-button color="accent" (click)="connect()" [disabled]="vncUi.connected">Connect</button>
    <button mat-raised-button color="accent" (click)="disconnect()" [disabled]="!vncUi.connected">Disconnect</button>
  </div>
</div>