<auto-height-grid fxLayout="column">
  <auto-height-row>
    <self-adjustable-card [contentPaddingPixels]="0" [noContentBackground]="groupedSessions.length > 0 && !stoppingOrStopped">
      <sa-card-title>
        <div fxLayout="column" fxLayoutAlign="none">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>Crossbrowser</span>
            <span fxFlex></span>
            <a
              mat-button
              [disabled]="!browserSync || !browserSync.identifier"
              (click)="openInNewTab()"
              class="iconBtn push-left-sm"
              matTooltip="Open in new tab"
            >
              <mat-icon>open_in_new</mat-icon>
            </a>
          </div>
        </div>
        <div fxLayout="row" class="mat-small push-top-sm" *ngIf="logsAndMetrics">
          <span>Logs status =></span>
          <span style.color="{{ logErrors > 0 ? errorColor : 'initial' }}" class="push-left-xs"
            >Errors: {{ getLogsErrors() }}</span
          >
          <span class="push-left-xs">|</span>
          <span style.color="{{ logWarnings > 0 ? warnColor : 'initial' }}" class="push-left-xs"
            >Warnings: {{ getLogsWarnings() }}</span
          >
        </div>
      </sa-card-title>
      <sa-card-content>
        <ng-container *ngIf="groupedSessions.length > 0 && !stoppingOrStopped; else showMsg">
          <div
            #logsContainer
            *ngFor="let group of groupedSessions"
            fxLayout.xs="column"
            fxLayout.gt-xs="column"
            fxLayout.gt-md="row"
            fxFlexFill
          >
            <div
              *ngFor="let session of group; let i = index; let f = first; let l = last"
              [fxFlex.gt-md]="f && l ? 100 : 50"
              fxLayout="column"
            >
              <etm-eus-browser-card-component
                #singleBrowser
                [showSpinner]="showSpinner.bind(this)"
                fxLayout.gt-sm="column"
                fxFlexFill
              ></etm-eus-browser-card-component>
            </div>
          </div>
        </ng-container>
        <ng-template #showMsg>
          <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
            <div class="mat-headline text-center">{{ browserCardMsg }}</div>
            <mat-spinner *ngIf="showSpinner()" strokeWidth="6" color="accent" class="push-top-sm"></mat-spinner>
          </div>
        </ng-template>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-row>
</auto-height-grid>
