<!-- Metrics -->
<div *ngIf="allInOneMetrics !== undefined" layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <complex-metrics-view #allInOne [model]="allInOneMetrics" [showConfig]="true"></complex-metrics-view>
  </div>
</div>
<ng-container *ngIf="metricsList.length > 0">
  <div *ngFor="let group of groupedMetricsList" layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div *ngFor="let metric of group; let i = index; let f=first; let l=last;" flex-gt-sm="f && l ? 100 : 50">
      <complex-metrics-view #individual{{i}} [model]="metric" [showConfig]="false"></complex-metrics-view>
    </div>
  </div>
</ng-container>