<div fxLayout="row" fxLayout.lt-xl="column" class="push-top-none" fxFlexFill>
  <auto-height-grid fxFlex.gt-lg="50">
    <self-adjustable-card>
      <sa-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span>TJob Executions Running</span> <span fxFlex></span>
          <mat-checkbox
            #autorefresh
            name="autorefreshRunning"
            [(ngModel)]="reloadRunning"
            matTooltip="AutoRefresh"
            [labelPosition]="'before'"
            style="font-size: 14px !important;"
          >
            Enable Autorefresh
          </mat-checkbox>
        </div>
      </sa-card-title>
      <sa-card-content>
        <mat-spinner
          strokeWidth="6"
          *ngIf="firstInitializationOfRunning; else runningEmpty"
          color="accent"
          class="push-top-sm spinnerCenter"
        ></mat-spinner>
        <ng-template #runningEmpty>
          <ng-template #emptyRunningMsg>
            <centered-element class="messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>There aren't TJob Executions Running</p>
            </centered-element>
          </ng-template>

          <td-data-table
            *ngIf="tJobExecsRunning && tJobExecsRunning.length > 0; else emptyRunningMsg"
            #running
            class="useMaxHeight"
            [data]="tJobExecsRunning"
            [columns]="tJobExecColumns"
            [selectable]="false"
            [clickable]="true"
            [sortable]="false"
            [sortBy]="sortBy"
            [sortOrder]="sortOrder"
            [resizableColumns]="true"
          >
            <ng-template
              *ngFor="let column of tJobExecColumns"
              tdDataTableTemplate="{{ column.name }}"
              let-value="value"
              let-row="row"
            >
              <div
                *ngIf="column.name !== 'options' && column.name !== 'startDate' && column.name !== 'endDate'"
                (click)="viewTJobExec(row)"
                class="hover-pointer"
              >
                <span>
                  <ng-container *ngIf="column.name === 'result'">
                    <mat-spinner
                      *ngIf="!row.finished()"
                      strokeWidth="3"
                      diameter="20"
                      color="accent"
                      style="vertical-align: middle; display: inline-block"
                    ></mat-spinner>
                    <mat-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{
                      row.getResultIcon().name
                    }}</mat-icon>
                  </ng-container>
                  {{ value }}
                </span>
              </div>
              <div *ngIf="column.name === 'startDate' || column.name === 'endDate'" (click)="viewTJobExec(row)">
                {{ value | date: 'dd/MM/yyyy HH:mm:ss' }}
              </div>
            </ng-template>

            <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
              <div fxLayout="row" class="optionsColumn">
                <button mat-button (click)="viewInLogAnalyzer(row)" stopRowClick title="View in Log Analyzer" class="iconBtn-lg">
                  <mat-icon>library_books</mat-icon>
                </button>
              </div>
            </ng-template>
          </td-data-table>
        </ng-template>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-grid>

  <auto-height-grid fxFlex.gt-lg="50">
    <self-adjustable-card>
      <sa-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span>TJob Executions Finished</span> <span fxFlex></span>
          <mat-checkbox
            #autorefresh
            name="autorefreshFinished"
            [(ngModel)]="reloadFinished"
            matTooltip="AutoRefresh"
            [labelPosition]="'before'"
            style="font-size: 14px !important;"
          >
            Enable Autorefresh
          </mat-checkbox>
          <button
            fxFlexOffset="1"
            mat-raised-button
            color="accent"
            (click)="loadMorePreviousFinished()"
            [disabled]="loadingAllPrevFinished || allFinishedPrevLoaded"
            matTooltip="Show 12 previous finished executions more"
          >
            Show 12 More
          </button>
        </div>
      </sa-card-title>
      <sa-card-content>
        <mat-spinner
          strokeWidth="6"
          *ngIf="firstInitializationOfFinished; else showFinishedTJobExecsData"
          color="accent"
          class="push-top-sm spinnerCenter"
        ></mat-spinner>

        <ng-template #showFinishedTJobExecsData>
          <ng-template #emptyFinishedExecs>
            <centered-element class="messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>There aren't TJob Executions Finished</p>
            </centered-element>
          </ng-template>

          <td-data-table
            *ngIf="allTJobExecsFinished && allTJobExecsFinished.length > 0; else emptyFinishedExecs"
            #finished
            class="useMaxHeight"
            [data]="allTJobExecsFinished"
            [columns]="tJobExecColumns"
            [selectable]="false"
            [clickable]="true"
            [sortable]="false"
            [sortBy]="sortBy"
            [sortOrder]="sortOrder"
            [resizableColumns]="true"
          >
            <ng-template
              *ngFor="let column of tJobExecColumns"
              tdDataTableTemplate="{{ column.name }}"
              let-value="value"
              let-row="row"
            >
              <div
                *ngIf="
                  column.name !== 'options' &&
                  column.name !== 'startDate' &&
                  column.name !== 'endDate' &&
                  column.name !== 'lastExecutionDate'
                "
                (click)="viewTJobExec(row)"
                class="hover-pointer"
              >
                <span>
                  <ng-container *ngIf="column.name === 'result'">
                    <mat-spinner
                      *ngIf="!row.finished()"
                      strokeWidth="3"
                      diameter="20"
                      color="accent"
                      style="vertical-align: middle; display: inline-block"
                    ></mat-spinner>
                    <mat-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{
                      row.getResultIcon().name
                    }}</mat-icon>
                  </ng-container>
                  {{ value }}
                </span>
              </div>
              <div *ngIf="column.name === 'startDate' || column.name === 'endDate'" (click)="viewTJobExec(row)">
                {{ value | date: 'dd/MM/yyyy HH:mm:ss' }}
              </div>
            </ng-template>
            <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
              <div fxLayout="row" class="optionsColumn">
                <button
                  mat-button
                  (click)="deleteTJobExec(row)"
                  [disabled]="deletingInProgress"
                  stopRowClick
                  title="Delete TJob Execution"
                  class="iconBtn-lg"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-button (click)="viewInLogAnalyzer(row)" stopRowClick title="View in Log Analyzer" class="iconBtn-lg">
                  <mat-icon>library_books</mat-icon>
                </button>
              </div>
            </ng-template>
          </td-data-table>
        </ng-template>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-grid>
</div>
