<div layout="row" tdMediaToggle="gt-xs" class="push-sm push-bottom-none" flex="100">
  <div flex="100">
    <md-card tdMediaToggle="gt-xs" class="push-bottom-none">
      <md-card-title>
        <div layout="column" layout-gt-sm="row" class="pad-bottom-sm">
          <span>All TJobs Executions</span>
          <span flex></span>
          <button md-raised-button color="accent" (click)="loadTJobExecs('Refreshing...')" [disabled]="refreshText !== defaultRefreshText"
            title="Refresh TJobs Execs">{{refreshText}}</button>
        </div>
      </md-card-title>
    </md-card>
  </div>
</div>

<div layout-xs="column" layout-gt-xs="column" layout-gt-lg="row" tdMediaToggle="gt-xs" class="push-sm push-top-none">
  <div flex-gt-lg="50" layout-gt-sm="column">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        TJob Executions Running
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <ng-template #runningEmpty>There aren't TJob Executions Running</ng-template>
        <td-data-table *ngIf="tJobExecsRunning.length > 0; else runningEmpty" #running class="scroll_table" [data]="tJobExecsRunning"
          [columns]="tJobExecColumns" [selectable]="false" [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of tJobExecColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
            <div *ngIf="column.name !== 'options'" (click)="viewTJobExec(row)" class="hover-pointer">
              <span>
                <ng-container *ngIf="column.name === 'result'">
                  <img *ngIf="!row.finished()" class="iconBtn-lg pad-none" src="./assets/img/spinner.gif" style="width:23px;height: 23px; vertical-align: middle;">
                  <md-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{row.getResultIcon().name}}</md-icon>
                </ng-container>
                {{value}}
              </span>
            </div>
          </ng-template>

          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row">
              <button md-button (click)="deleteTJobExec(row)" stopRowClick title="Delete TJob Execution" class="iconBtn-lg">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>

  <div flex-gt-lg="50" layout-gt-sm="column">
    <md-card tdMediaToggle="gt-xs">
      <md-card-title>
        TJob Executions Finished
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <ng-template #finishedEmpty>There aren't TJob Executions Finished</ng-template>
        <td-data-table *ngIf="tJobExecsFinished.length > 0; else finishedEmpty" #finished class="scroll_table" [data]="tJobExecsFinished"
          [columns]="tJobExecColumns" [selectable]="false" [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of tJobExecColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
            <div *ngIf="column.name !== 'options'" (click)="viewTJobExec(row)" class="hover-pointer">
              <span>
                <ng-container *ngIf="column.name === 'result'">
                  <img *ngIf="!row.finished()" class="iconBtn-lg pad-none" src="./assets/img/spinner.gif" style="width:23px;height: 23px; vertical-align: middle;">
                  <md-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{row.getResultIcon().name}}</md-icon>
                </ng-container>
                {{value}}
              </span>
            </div>
          </ng-template>

          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row">
              <button md-button (click)="deleteTJobExec(row)" stopRowClick title="Delete TJob Execution" class="iconBtn-lg">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </md-card-content>
    </md-card>
  </div>
</div>