<div layout-gt-xl="row" layout="column" class="push-top-none" layout-fill>

  <auto-height-grid flex-gt-lg="50">
    <self-adjustable-card>
      <sa-card-title>TJob Executions Running</sa-card-title>
      <sa-card-content>
        <ng-template #runningEmpty>
          <mat-spinner strokeWidth="6" *ngIf="loading; else emptyRunningMsg" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
          <ng-template #emptyRunningMsg>
            <centered-element class="messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>There aren't TJob Executions Running</p>
            </centered-element>
          </ng-template>

        </ng-template>
        <td-data-table *ngIf="!loading && tJobExecsRunning.length > 0; else runningEmpty" #running class="useMaxHeight"
          [data]="tJobExecsRunning" [columns]="tJobExecColumns" [selectable]="false" [clickable]="true" [sortable]="false"
          [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of tJobExecColumns" tdDataTableTemplate="{{column.name}}" let-value="value"
            let-row="row">
            <div *ngIf="column.name !== 'options' && column.name !== 'startDate' && column.name !== 'endDate'" (click)="viewTJobExec(row)"
              class="hover-pointer">
              <span>
                <ng-container *ngIf="column.name === 'result'">
                  <img *ngIf="!row.finished()" class="iconBtn-lg pad-none" src="./assets/img/spinner.gif" style="width:23px;height: 23px; vertical-align: middle;">
                  <mat-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{row.getResultIcon().name}}</mat-icon>
                </ng-container>
                {{value}}
              </span>
            </div>
            <div *ngIf="column.name === 'startDate' || column.name === 'endDate'" (click)="viewTJobExec(row)">
              {{value | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
          </ng-template>

          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="optionsColumn">
              <button mat-button (click)="viewInLogAnalyzer(row)" stopRowClick title="View in Log Analyzer" class="iconBtn-lg">
                <mat-icon>library_books</mat-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-grid>

  <auto-height-grid flex-gt-lg="50">
    <self-adjustable-card>
      <sa-card-title>
        <div layout="row">
          <span>TJob Executions Finished</span>
          <span flex></span>
          <button mat-raised-button color="accent" (click)="showAllFinished()" [disabled]="loadAllFinished" matTooltip="Show All Finished Executions">Show
            All</button>
        </div>
      </sa-card-title>
      <sa-card-content>
        <ng-template #finishedEmpty>
          <mat-spinner strokeWidth="6" *ngIf="loading; else emptyMsg" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
          <ng-template #emptyMsg>
            <centered-element class="messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>There aren't TJob Executions Finished</p>
            </centered-element>
          </ng-template>
        </ng-template>

        <td-data-table *ngIf="!loading && tJobExecsFinished.length > 0; else finishedEmpty" #finished class="useMaxHeight"
          [data]="tJobExecsFinished" [columns]="tJobExecColumns" [selectable]="false" [clickable]="true" [sortable]="false"
          [sortBy]="sortBy" [sortOrder]="sortOrder">
          <ng-template *ngFor="let column of tJobExecColumns" tdDataTableTemplate="{{column.name}}" let-value="value"
            let-row="row">
            <div *ngIf="column.name !== 'options' && column.name !== 'startDate' && column.name !== 'endDate' && column.name !== 'lastExecutionDate'"
              (click)="viewTJobExec(row)" class="hover-pointer">
              <span>
                <ng-container *ngIf="column.name === 'result'">
                  <img *ngIf="!row.finished()" class="iconBtn-lg pad-none" src="./assets/img/spinner.gif" style="width:23px;height: 23px; vertical-align: middle;">
                  <mat-icon *ngIf="row.finished()" style="vertical-align: middle;" [style.color]="row.getResultIcon().color">{{row.getResultIcon().name}}</mat-icon>
                </ng-container>
                {{value}}
              </span>
            </div>
            <div *ngIf="column.name === 'startDate' || column.name === 'endDate'" (click)="viewTJobExec(row)">
              {{value | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
            <div *ngIf="column.name === 'lastExecutionDate'" (click)="viewTJobExec(row)">
              <ng-container *ngIf="value !== undefined; else notExecuted">
                {{value | timeAgo}}
              </ng-container>
              <ng-template #notExecuted>
                Not Executed Yet
              </ng-template>
            </div>
          </ng-template>
          <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
            <div layout="row" class="optionsColumn">
              <button mat-button (click)="deleteTJobExec(row)" [disabled]="deletingInProgress" stopRowClick title="Delete TJob Execution"
                class="iconBtn-lg">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-button (click)="viewInLogAnalyzer(row)" stopRowClick title="View in Log Analyzer" class="iconBtn-lg">
                <mat-icon>library_books</mat-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-grid>
</div>