<div class="mat-content">
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex.gt-sm="100">
      <mat-card>
        <mat-card-title>
          <div fxLayout="row">
            <span>Files</span>
            <span fxFlex></span>
            <button mat-icon-button color="accent" (click)="loadExecutionFiles()" title="Reload Files" [disabled]="subscription || loading || executionFiles.length > 0">
              <mat-icon>sync</mat-icon>
            </button>
          </div>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-spinner strokeWidth="6" *ngIf="loading; else showContent" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
          <ng-template #showContent>
            <centered-element *ngIf="showNoFilesMessage(); else showFilesTable" class="push-top-important messageEmptyCard">
              <mat-icon>assignment</mat-icon>
              <p>No files generated during execution</p>
            </centered-element>

            <ng-template #showFilesTable>
              <td-data-table #filesTable class="scroll_table" [data]="filteredExecutionFiles" [columns]="filesColumns"
                [selectable]="false" [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
                <ng-template *ngFor="let column of filesColumns" tdDataTableTemplate="{{column.name}}" let-value="value"
                  let-row="row">
                  <div *ngIf="column.name !== 'options'; else optionsColumn">
                    {{value}}
                  </div>

                  <ng-template #optionsColumn tdDataTableTemplate="options">
                    <div fxLayout="row" class="optionsColumn">
                      <a mat-button [attr.href]="filesUrlPrefix + row.encodedUrl" class="iconBtn-xs" target="_blank" matTooltip="Open in new tab">
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                      <a *ngIf="row.name.includes('.mp4')" mat-button (click)="viewSession(row, row.name)"
                        class="iconBtn-xs" target="_blank" matTooltip="Open as dialog">
                        <mat-icon>open_in_browser</mat-icon>
                      </a>
                    </div>
                  </ng-template>
                </ng-template>
              </td-data-table>
            </ng-template>
          </ng-template>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>