<div class="md-content">
  <div layout="column" layout-gt-sm="row">
    <div flex-gt-sm="100">
      <md-card>
        <md-card-title>
          <div layout="row">
            <span>Files</span>
            <span flex></span>
            <button md-icon-button color="accent" (click)="waitForExecutionFiles()" title="Reload Files" [disabled]="subscription || loading || executionFiles.length > 0">
              <md-icon>sync</md-icon>
            </button>
          </div>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <md-spinner strokeWidth="6" *ngIf="loading; else showContent" color="accent" class="push-top-sm spinnerCenter"></md-spinner>
          <ng-template #showContent>
            <div *ngIf="showNoFilesMessage(); else showFilesTable" class="push-top-important messageEmptyCard">
              <md-icon>assignment</md-icon>
              <p>No files generated during execution</p>
            </div>

            <ng-template #showFilesTable>
              <td-data-table #filesTable class="scroll_table" [data]="filteredExecutionFiles" [columns]="filesColumns" [selectable]="false"
                [clickable]="true" [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
                <ng-template *ngFor="let column of filesColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
                  <div *ngIf="column.name !== 'options'; else optionsColumn">
                    {{value}}
                  </div>

                  <ng-template #optionsColumn tdDataTableTemplate="options">
                    <div layout="row" class="optionsColumn">
                      <a md-button [attr.href]="filesUrlPrefix + row.url" class="iconBtn" target="_blank" mdTooltip="Open in new tab">
                        <md-icon>open_in_new</md-icon>
                      </a>
                      <a md-button (click)="viewSession(filesUrlPrefix + row.url, row.name)" class="iconBtn" target="_blank" mdTooltip="Open as dialog">
                        <md-icon>open_in_browser</md-icon>
                      </a>
                    </div>
                  </ng-template>
                </ng-template>
              </td-data-table>
            </ng-template>
          </ng-template>

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>