.textCell {
  overflow-y: auto;
  max-height: 20vh !important;
}

:host ::ng-deep #testSuitesTabGroup .mat-tab-body-wrapper {
  flex-grow: 1;
}

:host ::ng-deep #testSuitesTabGroup .mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

:host ::ng-deep #testSuitesTabGroup .mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}