<self-adjustable-card>
  <sa-card-title>
    <div fxLayout="row">
      <span>SuTs</span> <span fxFlex></span>
      <button mat-raised-button color="accent" (click)="newSut()" id="newSutBtn" matTooltip="Create New Sut">New SuT</button>
    </div>
  </sa-card-title>
  <sa-card-content #scrollMeSut>
    <mat-spinner strokeWidth="6" *ngIf="showSpinner" color="accent" class="push-top-sm spinnerCenter"></mat-spinner>
    <centered-element *ngIf="!showSpinner && suts.length === 0" class="push-top-important messageEmptyCard">
      <mat-icon>assignment</mat-icon>
      <p>No SuTs created</p>
    </centered-element>
    <td-data-table
      #sutsTable
      *ngIf="suts.length > 0"
      id="sutsTable"
      class="useMaxHeight"
      [data]="suts"
      [columns]="sutColumns"
      [resizableColumns]="true"
      [sortable]="true"
      [sortBy]="sortBy"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)"
    >
      <ng-template *ngFor="let column of sutColumns" tdDataTableTemplate="{{ column.name }}" let-value="value" let-row="row">
        <ng-container *ngIf="column.name !== 'options'">
          <ng-container *ngIf="column.name === 'name'; else normalColumn">
            <span class="wrapColumn">{{ value }}</span>
          </ng-container>
          <ng-template #normalColumn>
            <span class="ellipsisNoWrapColumn">{{ value }}</span>
          </ng-template>
        </ng-container>
      </ng-template>

      <!-- OPTIONS -->
      <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
        <div fxLayout="row" class="sutOptions optionsColumn">
          <button mat-button (click)="editSut(row)" [disabled]="deletingInProgress" class="iconBtn-xs" title="Edit SuT">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button
            mat-button
            [disabled]="deletingInProgress || duplicateInProgress"
            (click)="duplicateSut(row)"
            class="iconBtn-xs"
            title="Duplicate Sut"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
          <button mat-button (click)="deleteSut(row)" [disabled]="deletingInProgress" class="iconBtn-xs" title="Delete SuT">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </td-data-table>
  </sa-card-content>
</self-adjustable-card>
