<auto-height-grid fxLayout="column">
  <!-- Md card with fxFlex like auto-height-row -->
  <mat-card fxFlex class="sa-card">
    <auto-height-grid fxLayout="column">
      <normal-height-row>
        <!-- <mat-card-title fxLayoutAlign="{{titleAlignHorizontal}} {{titleAlignVertical}}" class="sa-card-title"> -->
        <mat-card-title class="sa-card-title"> <ng-content select="sa-card-title"></ng-content> </mat-card-title>
        <mat-divider class="sa-card-divider"></mat-divider>
      </normal-height-row>

      <auto-height-row fxLayout="column">
        <auto-height-grid fxLayout="column">
          <mat-card-content class="sa-card-content" fxFlex>
            <!-- <div fxLayout="column" fxLayoutAlign="{{contentAlignHorizontal}} {{contentAlignVertical}}" fxFlexFill> -->
            <ng-content select="sa-card-content"></ng-content>
          </mat-card-content>
        </auto-height-grid>
      </auto-height-row>
    </auto-height-grid>
  </mat-card>
</auto-height-grid>
