<div class="md-content" class="inset">
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="100">
            <md-card>
                <md-card-title>Projects</md-card-title>
                <md-divider></md-divider>
                <div class="push" layout="row">
                    <button md-raised-button color="accent" [routerLink]="['/projects/add']">New Project</button>
                </div>
                <md-divider></md-divider>
                <td-data-table #projectsTable class="scroll_table" [data]="projectData" [columns]="projectColumns" [selectable]="false" [clickable]="false"
                    [sortable]="false" [sortBy]="sortBy" [sortOrder]="sortOrder">
                    <ng-template *ngFor="let column of projectColumns" tdDataTableTemplate="{{column.name}}" let-value="value" let-row="row">
                        <div *ngIf="column.name !== 'options'" (click)="viewProject(row)" class="hover-pointer">{{value}}</div>
                    </ng-template>
                    <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                            <button md-button (click)="viewProject(row)" stopRowClick class="iconBtn-lg" title="View Project">
                                <md-icon>remove_red_eye</md-icon>
                            </button>
                            <button md-button (click)="editProject(row)" stopRowClick class="iconBtn-lg" title="Edit Project">
                                <md-icon>mode_edit</md-icon>
                            </button>
                            <button md-button (click)="deleteProject(row)" stopRowClick class="iconBtn-lg" title="Delete Project">
                                <md-icon>delete</md-icon>
                            </button>
                        </div>
                    </ng-template>
                </td-data-table>
            </md-card>
        </div>
    </div>
</div>