<auto-height-grid>
  <auto-height-row>
    <self-adjustable-card>
      <sa-card-title>
        <div fxLayout="row">
          <span>Projects</span> <span fxFlex></span>
          <button
            mat-raised-button
            color="primary"
            (click)="restoreDemoProjects()"
            id="restoreDemoProjects"
            matTooltip="Restore Demo Projects"
          >
            Restore Demo Projects
          </button>
          <button
            mat-raised-button
            color="accent"
            [routerLink]="['/projects/add']"
            id="newProjectBtn"
            matTooltip="Create New Project"
            class="push-left-sm"
          >
            New Project
          </button>
        </div>
      </sa-card-title>
      <sa-card-content class="push-bottom-none">
        <mat-spinner
          strokeWidth="6"
          *ngIf="loading; else showContent"
          color="accent"
          class="push-top-sm spinnerCenter"
        ></mat-spinner>
        <ng-template #showContent>
          <centered-element *ngIf="projectData.length === 0" class="push-top-important messageEmptyCard">
            <mat-icon>assignment</mat-icon>
            <p>No Projects created</p>
          </centered-element>
          <td-data-table
            #projectsTable
            *ngIf="projectData && projectData.length > 0"
            [class]="tableStyle"
            [data]="projectData"
            [columns]="projectColumns"
            [clickable]="true"
            [resizableColumns]="true"
            id="projects"
          >
            <ng-template
              *ngFor="let column of projectColumns"
              tdDataTableTemplate="{{ column.name }}"
              let-value="value"
              let-row="row"
            >
              <div *ngIf="column.name !== 'options'" (click)="viewProject(row)" class="hover-pointer">{{ value }}</div>
            </ng-template>
            <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
              <div fxLayout="row" class="optionsColumn">
                <button mat-button (click)="editProject(row)" stopRowClick class="iconBtn-lg" title="Edit Project">
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button
                  mat-button
                  (click)="deleteProject(row)"
                  [disabled]="deletingInProgress"
                  stopRowClick
                  class="iconBtn-lg"
                  title="Delete Project"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-template>
          </td-data-table>
        </ng-template>
      </sa-card-content>
    </self-adjustable-card>
  </auto-height-row>
</auto-height-grid>
