<ng-container *ngIf="logsList.length > 0">
  <div #logsContainer *ngFor="let group of groupedLogsList" fxLayout.xs="column" fxLayout.gt-xs="column" fxLayout.gt-md="row">
    <div
      *ngFor="let log of group; let i = index; let f = first; let l = last"
      fxShrink="0"
      fxGrow="1"
      [fxFlex.gt-md]="f && l ? 100 : 50"
    >
      <logs-view #individual{{i}} [model]="log" [remove]="removeAndUnsubscribe.bind(this, i)" [live]="live"></logs-view>
    </div>
  </div>
</ng-container>

<ng-container>
  <div #logsDiffContainer fxLayout="column">
    <elastest-log-comparator
      #logComparator
      [hide]="true"
      [remove]="removeLogComparatorCard.bind(this)"
      [live]="live"
      fxFlex
    ></elastest-log-comparator>
  </div>
</ng-container>
