<md-card>
  <md-card-title>
    <div layout="row">
      <div flex-gt-md="55" flex-gt-sm="55" flex-gt-xs="60" flex-xs="70" style="word-break: break-all;">{{model.name}}</div>
      <span flex></span>
      <div layout="column" layout-gt-md="row" style="text-align: right;">
        <load-previous-view [model]="model" class="push-bottom-xs"></load-previous-view>
        <div class="push-left-xs">
          <button md-raised-button (click)="remove()" color="accent" aria-label="Remove" title="Remove" class="iconBtn push-top-sm"
            style="margin-top: 0px">
            <md-icon class="color-white">clear</md-icon>
          </button>
        </div>
      </div>
    </div>
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <td-expansion-panel *ngIf="showConfig" label="Chart configuration" expand="false" class="push-bottom">
      <div class="pad">
        <span class="push-right" *ngFor="let metric of model.allMetricsFields.fieldsList; let i = index">
          <md-checkbox #metric{{i}} [checked]="metric.activated" (change)="metric.changeActive($event)">{{metric.name}}</md-checkbox>
        </span>
      </div>
      <div layout="row" class="pad">
        <button md-raised-button color="accent" (click)="model.filterData()">Apply</button>
        <button md-button (click)="model.activateAll()">Select All</button>
        <button md-button (click)="model.deactivateAll()">Unselect All</button>
      </div>
    </td-expansion-panel>
    <div class="chart-height push-top">
      <combo-chart-component #comboChart class="chart-container" [scheme]="model.scheme" [timeline]="model.timeline" [leftChart]="model.leftChart"
        [rightChartOne]="model.rightChartOne" [rightChartTwo]="model.rightChartTwo" [tooltipDisabled]="model.tooltipDisabled"
        [yLeftAxisTickFormatting]="model.yLeftAxisTickFormatting" [yLeftAxisScaleFactor]="model.yLeftAxisScaleFactor" [yRightAxisScaleFactor]="model.yRightAxisScaleFactor"
        [yRightOneAxisTickFormatting]="model.yRightOneAxisTickFormatting" [yRightTwoAxisTickFormatting]="model.yRightTwoAxisTickFormatting"
        [gradient]="model.gradient" [xAxis]="model.showXAxis" [yAxis]="model.showYAxis" [legend]="model.showLegend" [legendTitle]="model.legendTitle"
        [showGridLines]="model.showGridLines" [showXAxisLabel]="model.showXAxisLabel" [showYAxisLabel]="model.showLeftYAxisLabel"
        [showRightOneYAxisLabel]="model.showRightOneYAxisLabel" [showRightTwoYAxisLabel]="model.showRightTwoYAxisLabel" [xAxisLabel]="model.xAxisLabel"
        [yAxisLabel]="model.yAxisLabelLeft" [yAxisLabelRightOne]="model.yAxisLabelRightOne" [yAxisLabelRightTwo]="model.yAxisLabelRightTwo"
        [autoScale]="model.autoScale" (select)="model.onSelect($event)">
      </combo-chart-component>
    </div>
  </md-card-content>

</md-card>