<h2 md-dialog-title class="push-bottom-sm">{{ title }}</h2>
<md-dialog-content style="max-height: 84vh">
    <img *ngIf="loading === true; else showBrowser" src="./assets/img/spinner.gif" style="display: block; margin: 0 auto;">
    <ng-template #showBrowser>
        <div layout="column" style="width: 48vw; height: 30vw; max-height: 83vh">
            <vnc-client *ngIf="iframeUrl" [vncUrl]="iframeUrl" [showStatus]="false" [showConnectionBtns]="false" flex></vnc-client>
        </div>
    </ng-template>
    {{message}}
</md-dialog-content>
<br>
<button *ngIf="closeButton" md-raised-button color="accent" type="button" md-raised-button (click)="dialogRef.close(true)"
    id="close_dialog">Close</button>